[2017-06-19 13:52] kousen commented on #141
My thinking was that those guides included fundamental topics as well as language-specific ones. It's like applying multiple labels to an email.

[2017-06-19 13:59] pioterj commented on #141
It's fine for guides to have multiple categories I just don't understand the current distinction. For example, why is building a Groovy library more fundamental than C++ executable? I liked the idea of using this label for cross-technology topics. But perhaps we should use a different name for that.

[2017-06-19 14:06] kousen commented on #141
It's not like that. The Groovy library guide had fundamental topics in it, but the C++ guide was almost entirely native. But sure, if you have an idea for it, we can come up with a different name. I never meant it to be confusing.

[2017-06-19 14:15] pioterj commented on #141
No worries. What would you consider a fundamental topic in the Groovy library guide that is not JVM specific? I don't have a good idea for an alternative name. "Crosscutting" comes to mind but I don't find it better than "fundamentals".

[2017-06-19 14:27] kousen commented on #141
I was thinking of the `init` task, or the `tasks` command, or running a build scan, or any other generic Gradle commands. There's probably not enough of that to warrant the `Fundamentals` tag, though, so you may be right and we should remove it from the JVM guides.

[2017-06-20 04:48] chaficnajjar commented on #124
@eriwen @pioterj The issue is that http://guides.gradle.org/gradle-guides.svg should be https://guides.gradle.org/gradle-guides.svg (http -> https). See https://security.stackexchange.com/a/147931/137511.

After using HTTPS for the URL of gradle-guides.svg, pages become fully secure again:

![screenshot](https://user-images.githubusercontent.com/1498164/27316887-8b6ab63e-558b-11e7-9849-e35794ea782

[2017-06-20 09:08] pioterj opened #142 "Update all guides with new 4.0 console output"

[2017-06-20 09:25] pioterj commented on #10
The guide is published. Anything else to be done before closing this story?

[2017-06-20 09:26] pioterj commented on #82
@kousen @ysb33r Do you agree? We would probably need a design from @aweida.

[2017-06-20 09:28] pioterj commented on #121
The guide is available at https://guides.gradle.org/running-webpack-with-gradle/.

@eriwen Anything else to be done before closing this story?

[2017-06-20 09:29] pioterj commented on #36
The guide is available at https://guides.gradle.org/using-build-cache/.

@lptr Can we close this story?

[2017-06-20 09:30] #36 closed

[2017-06-20 09:30] #31 closed

[2017-06-20 09:32] pioterj commented on #102
@chaficnajjar Any update on this or shall we just close it?

[2017-06-20 09:34] ysb33r commented on #82
Yes, redirection is fine.

[2017-06-20 09:36] ysb33r commented on #10
This is done.

[2017-06-20 09:36] #10 closed

[2017-06-20 11:24] pioterj commented on #142
@eriwen It would make sense for the Core team to own. We should be treating the guides as other documentation that needs to be updated when things change.

[2017-06-20 15:44] kousen commented on #82
As we said in our meeting, I recommend that the time estimates start at 10 minutes and go up from there in 10 minute intervals.

[2017-06-20 15:46] kousen opened #143 "Remove Fundamentals label from JVM guides"
There isn't enough technology-agnostic content in the Java, Groovy, and Scala Getting Started guides to justify a `Fundamentals` tag, which is supposed to be about basic Gradle capabilities.

[2017-06-21 03:16] eriwen commented on #121
The guide will continue to be improved, but we can close this as delivered.

[2017-06-21 03:16] #121 closed

[2017-06-21 22:23] chaficnajjar commented on #102
I don't know why but this link works now. Closing as delivered.

[2017-06-21 22:23] #102 closed

[2017-06-22 00:09] chaficnajjar commented on #124
I updated the plugins in the `build.gradle` file of each guide repository and Travis generated new web pages that use the correct link https://guides.gradle.org/gradle-guides.svg. Closing as delivered.

[2017-06-22 00:09] #124 closed

[2017-06-26 08:45] ysb33r commented on #136
Guide contents is ready for publication, as long as the WIndows compilation problem can be solved: https://ci.appveyor.com/project/GradleGuides/building-cpp-libraries/build/master%201

[2017-06-27 08:32] ysb33r commented on #137
Closing as all additional tasks after publication has been completed.

[2017-06-27 08:35] #137 closed

[2017-06-27 08:38] ysb33r commented on #42
Most of these points have been taken care of and can be found in the new Style Guide.

[2017-06-27 08:38] #42 closed

[2017-06-27 08:52] ysb33r commented on #67
My current idea is to add text like the following to every guide at build time:
[code]

The implementation options are:
* docinfo-footer: This will require manual styling and raw HTML
* preprocessor extension: Simply append the raw Asciidoc markup.

[2017-06-27 15:56] chaficnajjar commented on #82
- [ ] @aweida to design the link to https://gradle.org/guides that will replace https://gradle.org/docs#guides.
- [ ] @chaficnajjar to implement that link.
- [ ] @chaficnajjar to set up the following redirection links:
  - `https://gradle.org/docs#guides` -> `https://gradle.org/guides`.
  - `https://gradle.org/docs#getting-started` -> `https://gradle.org/guides#getting-started`
  - `https://gradle

[2017-06-27 16:27] ysb33r commented on #67
It has taken nearly a day trying various options and a bit of Asciidoctor extension hell. I have tested a prototype to add a standard *How to Contiribute* section at then end of the document.

In `build.gradle`

[code]
(can be moved to plugin eventually).

then at the end of `index.adoc`

[code]

[2017-06-27 16:28] ysb33r commented on #67
If the above is acceptable, then it will required updating all of the guides to a new version of the plugin as well as adding the `include::contribute[]` to all of the `index.adoc` files

[2017-06-27 16:43] ysb33r commented on #67
Curretnly renders as below

![prent](https://user-images.githubusercontent.com/907624/27599283-8cdf58d4-5b68-11e7-9617-864f994764ac.png)

[2017-06-28 11:10] ysb33r commented on #131
I have been investigating this over the last day. So far I have been able to get something going via adding a docinfo-footer.html file. My prototype does look pretty ugly. I'm no CSS layout expert, but that is what @chaficnajjar is here to help for.

The issue I have with this approach is that we'll have to update each of the (growing list of) repositories now and then everytime we make an update.

[2017-06-28 11:11] ysb33r commented on #131
@chaficnajjar I have place dall of the necessary code in place. If you can have a look at fixing the layout it would be good. Just commit directly to the branch.

[2017-06-28 11:27] ysb33r commented on #136
@lacasseio Would you care just to provide some feedback on this?

It's already lined for publication. I would like it to go that way now and then have it updated afterwards with information on using GoogleTest.

[2017-06-29 20:41] kousen commented on #126
I added my edits in a branch called `ken-edits`. Btw, "Elliot Ness" is not an actor. He was an FBI agent. Since you used Sean Connery in your example, I suggest Roger Moore, Pierce Brosnan, or Daniel Craig as your other default actor.

[2017-07-01 22:14] #143 closed

[2017-07-03 09:46] ysb33r commented on #6
@kousen , @pioterj First draft ready for review.

[2017-07-04 19:38] chaficnajjar commented on #135
Closing as delivered.

[2017-07-04 19:38] #135 closed

[2017-07-04 20:43] chaficnajjar commented on #113
**Before**

![screenshot](https://user-images.githubusercontent.com/1498164/27842408-8a4f53d0-6112-11e7-98d7-de1ea0f52ca9.png)

**After**

![screenshot](https://user-images.githubusercontent.com/1498164/27842379-4aad02a4-6112-11e7-864d-20ebde403110.png)

[2017-07-05 05:51] lptr commented on #113
Great! Is the position of the markers _in the source_ also fixed?

[2017-07-05 11:28] pioterj commented on #130
@kousen Have you actually started working on this guide? If not, we should consider dropping it in favour of wrapping up other work.

[2017-07-05 18:36] aweida commented on #82
I think it makes sense to collapse each guide section into a bullet point item. See mock below.

![image](https://user-images.githubusercontent.com/964821/27879210-b739e5b4-6175-11e7-9896-ec6d63503706.png)

[2017-07-06 08:22] pioterj commented on #82
@aweida Nice! Not sure if we should mention "how to contribute" at this level. It would be fine too if it was only available from the guides page.

[2017-07-06 11:51] chaficnajjar commented on #82
Thanks @aweida. I agree that this is the ideal solution. The following redirect won't be necessary anymore:

And instead of setting up the following redirects:

...I'll add an `id` attribute to those four guide section links, for example:

[code]

...which will make it so that opening https://gradle.org/docs#topical will scroll down to the "Topical Guides" link and trigger the `focus` state of tha

[2017-07-06 12:16] chaficnajjar commented on #82
Done :+1:

@pioterj I don't have an opinion on this. I've added the "How to Contribute" link for now and will remove it if you and @aweida say so.

[2017-07-06 14:10] pioterj opened #145 "Update description of topical guide in the style guide"
Update "topical guide" description on https://guides.gradle.org/style-guide/.

Reflect the state of the internal discussion about how it is different from user manual chapters.

[2017-07-06 15:04] bmuschko opened #146 "Document guides automation"
Some of the things that come to mind:

- [x] The plugin used to generate a new guide (updated Style guide)
- [x] Embedding code snippets in a guide (updated Style guide)
- [x] Automatic testing of code examples (updated Style guide)

[2017-07-06 15:08] ysb33r commented on #109
Duplicate of #103

[2017-07-06 15:08] #109 closed

[2017-07-06 15:11] ysb33r opened #147 "Update Style Guide to describe how to test guides"

[2017-07-06 16:40] aweida commented on #82
@pioterj that's fine with me, @chaficnajjar lets remove it. Thanks!

[2017-07-06 17:00] ysb33r opened #148 "Migrating "Writing Gradle Plugins" guide to correct format"

[2017-07-06 18:03] chaficnajjar commented on #82
Closing as delivered. Thanks everyone!

[2017-07-06 18:03] #82 closed

[2017-07-07 06:45] ysb33r opened #149 "Verify testability of existing guides"
Verify each of the following guides:

- [x] writing-getting-started-guides (Exempted)
- [x] designing-gradle-plugins (https://github.com/gradle-guides/designing-gradle-plugins/pull/5 done by @bmuschko)
- [x] implementing-gradle-plugins (https://github.com/gradle-guides/implementing-gradle-plugins/pull/10 done by @bmuschko)
- [x] building-java-web-applications (gradle-guides/building-java-web-appli

[2017-07-07 06:49] ysb33r commented on #67
PRs to take care of. Add reviewer and epic to each.

- [ ] https://github.com/gradle-guides/writing-getting-started-guides/pull/7
- [ ] https://github.com/gradle-guides/implementing-gradle-plugins/pull/8
- [ ] https://github.com/gradle-guides/building-java-9-modules/pull/10
- [ ] https://github.com/gradle-guides/using-build-cache/pull/21
- [ ] https://github.com/gradle-guides/writing-gradle-tasks/

[2017-07-07 07:24] ysb33r commented on #67
Reviewers/Assignees by group:

@ysb33r:
- [ ] https://github.com/gradle-guides/writing-getting-started-guides/pull/7
- [ ] https://github.com/gradle-guides/writing-gradle-tasks/pull/5
- [ ] https://github.com/gradle-guides/publishing-plugins-to-gradle-plugin-portal/pull/3
- [ ] https://github.com/gradle-guides/style-guide/pull/2
- [ ] https://github.com/gradle-guides/migrating-from-maven/pull/4
-

[2017-07-07 12:17] bmuschko commented on #149
@ysb33r I'll take care of `implementing-gradle-plugins`.

[2017-07-07 12:42] pioterj opened #150 "Add link to the guides in docs.gradle.org navigation"
Currently there's no link to the guides at https://docs.gradle.org/. This is very visited page. Adding a link is likely to result in increased discoverability of the guides.

@chaficnajjar Can I assign it to you?

[2017-07-07 12:50] pioterj commented on #149
@ysb33r Does it mean that all the guides will use the guides plugin?

[2017-07-07 13:06] pioterj commented on #6
Sorry, I have no capacity to review it right now. Please ping me again once @kousen reviews and after addressing his feedback.

[2017-07-07 13:11] pioterj opened #151 "Reduce duplication of build scans guides"
We currently have quite obvious duplication between https://guides.gradle.org/creating-build-scans/ and https://scans.gradle.com/get-started.

@etiennestuder @ldaley Do you think it would be a good idea to redirect https://scans.gradle.com/get-started to https://guides.gradle.org/creating-build-scans/? @kousen could implement any changes that may be needed in the latter.

[2017-07-07 13:18] pioterj opened #152 "Reduce duplication of plugin publishing guides"
There's an obvious duplication between help pages at https://plugins.gradle.org/docs/submit and https://plugins.gradle.org/docs/publish-plugin vs more throughout and step-by-step guide at  https://guides.gradle.org/publishing-plugins-to-gradle-plugin-portal/. We could point the documentation from the plugin portal to the appropriate guide to avoid it.

@etiennestuder @ldaley Any interest from your

[2017-07-11 11:09] lacasseio commented on #136
Forgot to mention, I finished the review requested (https://github.com/gradle-guides/building-cpp-libraries/pull/3).

[2017-07-12 11:09] ysb33r commented on #6
@kousen, when you have a chance.

[2017-07-12 13:16] kousen commented on #6
Sorry for the delay. I'll get right on it. I have an Intro Gradle class today, but I'll take care of it around that.

[2017-07-12 16:40] chaficnajjar commented on #113
In Chrome (and potentially other browsers) using the "no wrap" functionality of Asciidoctor (option 1, 2 and 3 in Schalk's list) always causes the last source line marker to take a line on its own

![screenshot](https://user-images.githubusercontent.com/1498164/28126452-2f9cf296-6732-11e7-848f-417610f4bc75.png)

I'm not sure exactly why this happens, but I believe it has to do with how Chrome impl

[2017-07-12 17:03] chaficnajjar commented on #113
**Before**

![screenshot](https://user-images.githubusercontent.com/1498164/27160189-017656e0-517b-11e7-82b9-d56cbefbd2c0.png)

![screenshot](https://user-images.githubusercontent.com/1498164/27160379-72b5ca24-517c-11e7-8281-1a3f5b08d2f6.png)

**After**

![screenshot](https://user-images.githubusercontent.com/1498164/28129369-b962f698-673b-11e7-995d-1d87d7b3aa10.png)

![screenshot](https://user-im

[2017-07-12 17:21] chaficnajjar commented on #113
Closing as delivered. Please read https://github.com/gradle/guides/pull/153#issue-242451296 and feel free to re-open this issue if you have any comments about my changes.

[2017-07-12 17:21] #113 closed

[2017-07-12 23:02] chaficnajjar commented on #129
### Result

![screenshot](https://user-images.githubusercontent.com/1498164/28143511-9a16d678-676e-11e7-8184-b64c0cffc2e9.png)

Quotes are currently not in use anywhere. Should anyone decide to use quotes, they will be left aligned. Closing as delivered. Thanks @lptr!

[2017-07-12 23:02] #129 closed

[2017-07-12 23:51] chaficnajjar commented on #140
### Result

![screenshot](https://user-images.githubusercontent.com/1498164/28144715-e0d4111e-6775-11e7-909d-98cbeed6700b.png)

@aweida @pioterj I think we should show something like "No results found" when no results are found. What do you think?

![screenshot](https://user-images.githubusercontent.com/1498164/28144764-23670fa4-6776-11e7-9efd-1db650261fc9.png)

[2017-07-13 00:48] kousen commented on #6
Added my edits in a branch called `kousen-edits`. There almost all simple edits for punctuation, spelling, and American usage. Feel free to merge only the ones you want.

I'd never heard of the JFiglet library. That's a pretty clever example. :)

[2017-07-13 10:25] ysb33r commented on #6
Thanks @kousen. I merged it by hand. Deleted your branch afterwards.

[2017-07-13 12:10] ysb33r commented on #6
Created PR gradle/dotorg-site#461 for @chaficnajjar to merge.

[2017-07-17 09:34] etiennestuder opened #154 "All explainer texts should end with a dot. See https://gradle.org/guides/"
Missing dots:
- In-depth advice from the experts on specific topics of interest
- Similar to Getting Started Guides, but with greater depth

This will make it consistent across all explainer texts on this page.

[2017-07-19 10:52] #67 closed

[2017-07-19 10:53] #6 closed

[2017-07-19 15:06] chaficnajjar commented on #140
Kept it simple and did not style the text:

![screenshot](https://user-images.githubusercontent.com/1498164/28374239-dbb2b30c-6cac-11e7-98bf-e05a695f2504.png)

[2017-07-19 15:22] chaficnajjar commented on #140
Closing as delivered. Thanks @pioterj and @aweida.

[2017-07-19 15:22] #140 closed

[2017-07-20 07:48] pioterj commented on #140
Thanks, @chaficnajjar!

[2017-07-20 08:41] ysb33r commented on #70
Original native guides have been completed.

[2017-07-20 08:41] #70 closed

[2017-07-20 08:42] ysb33r commented on #80
@bmuschko Can you make a decision on whether this epic is still needed?

[2017-07-20 08:51] ysb33r commented on #13
@kousen Can this be closed?

[2017-07-20 09:04] ysb33r commented on #93
Closing this as the Gradle Guides plugin has this functionality

[2017-07-20 09:04] #93 closed

[2017-07-20 09:33] ysb33r commented on #105
@chaficnajjar How can be reference the the little images that are next to the three categories on the index page? By referencing I mean URI.

[2017-07-20 12:11] bmuschko commented on #80
@ysb33r The epic is still needed as it continues to have assigned stories.

[2017-07-20 15:40] ghale opened #155 "Using the Worker API"
I'm writing a guide on using the worker API.  This will cover:

- The basics of converting a task to the Worker API
- Using worker daemons
- Using in-process workers
- Waiting for work to complete

[2017-07-21 10:05] oehme commented on #64
The Android team has already written a good Android performance guide, which we now link from our general performance guide. I think we can close this issue, as they are in a better position to provide Android-specific guidance.

[2017-07-23 02:37] chaficnajjar commented on #150
Thanks @pioterj, I think it's better if we move this to gradle/dotorg-docs#29.

[2017-07-23 02:37] #150 closed

[2017-07-25 13:02] ysb33r commented on #149
@eriwen Can you look at how to test the `running-webpack-with-gradle` guide? It requires external tools, so not sure what to do atm. (I can resort to using my node plugin or the one from moowork, but not sure it will be acceptable).

[2017-07-25 15:30] bmuschko commented on #149
@ysb33r I see a bunch of `Uses GradleRunner` in the list above. Didn't we agree on using plain TestKit instead?

[2017-07-25 15:36] ysb33r commented on #149
Those were done before we had the discussion. I'm leaving them until last, as they are the easiest to convert to the new format.

[2017-07-25 16:08] eriwen commented on #149
@ysb33r Yes, I will take ownership of testing the webpack guide

[2017-07-25 16:10] pioterj commented on #149
Of course having some guides tested one way and some another in less than ideal. But I agree with @ysb33r to focus on getting some coverage in all of them first. At the very least let's add TODO notes in the guides that use the previous scheme so that people don't copy it when creating new guides.

[2017-07-25 16:12] #126 closed

[2017-07-25 16:13] pioterj commented on #130
@kousen I don't think this guide is actually in progress, is it? I'm moving it to icebox but please move it back in case I'm wrong.

[2017-07-25 16:23] #13 closed

[2017-07-26 04:35] kousen commented on #130
Right. You suggested we wait, given my limited availability this month.

On Tue, Jul 25, 2017 at 12:18 PM, Piotr Jagielski <notifications@github.com>
wrote:

--
[image: Email-Signature@2x.png]

Ken Kousen

Gradle

W. www.gradle.com

[2017-07-26 16:10] ghale commented on #155
I've gotten the lion share of this work done (https://github.com/gradle-guides/using-the-worker-api/tree/first-draft) but there's still a bit of polishing left (and a summary).  We can't publish this until 4.1 is out, so I'm going to table this for now and come back to it once 4.1 is released into the wild.

[2017-07-26 16:41] pioterj opened #156 "Replace tutorials in the user guide with links to the guides"
Tutorials / quick start sections of the user guide like https://docs.gradle.org/3.3/userguide/web_project_tutorial.html should point to new guides https://guides.gradle.org/building-java-web-applications/

[2017-07-26 16:42] pioterj commented on #156
Make sure that everything is covered in the guides before removing tutorials / quick start sections from the manual

[2017-07-26 21:54] adammurdoch commented on #156
Also the content that discusses writing tasks and plugins is duplicated.

[2017-07-27 13:11] bmuschko opened #157 "Travis jobs use JDK 8 but guides prerequisite is Java 7"
Most guides have the following prerequisite Java 1.7 e.g. [Creating Multi-project Builds](https://guides.gradle.org/creating-multi-project-builds/#what_you_ll_need):

However, as far as I can see all Travis jobs use JDK 1.8 e.g. [Travis job for Creating Multi-project Builds](https://github.com/gradle-guides/creating-multi-project-builds/blob/master/.travis.yml#L2-L3):

This needs to be corrected t

[2017-07-27 13:40] ysb33r commented on #157
One of the libraries used in the plugin requires JDK 8. When testing code, I believe we set the JDK version to 1.7.

[2017-07-27 13:43] bmuschko commented on #157
Which library is that? We might want to change that to ensure the same prerequisites for all guides. Makes it much more maintainable and also sets the baseline for users.

Just saw that [Travis doesn't support Java 7 on Trusty anyway](https://github.com/travis-ci/travis-ci/issues/7884).

Should be moved into the `BasePlugin`:

https://github.com/gradle-guides/gradle-guides-plugin/blob/master/src/m

[2017-07-27 14:37] ysb33r commented on #149
@lptr @wolfs Would ytou be able to add tests to `using-build-cache`? There is quite a it of code involved and you are in a better position to do this.

[2017-07-27 14:44] wolfs commented on #149
@ysb33r Do you have some instructions what we need to do?

[2017-07-27 14:46] ysb33r commented on #149
@wolfs. Look at the `migrating-from-maven` or the `implementing-gradle-plugins` guides as an example. You basically need a `samples` directory and a `src/test/groovy/guides` directory, and the `org.gradle.guides.test-jvm-code` plugin needs to be applied.

[2017-07-27 14:56] wolfs commented on #149
@ysb33r We will add the tests.

[2017-07-27 15:04] ysb33r commented on #157
nekohtml I think (used by Asciidoctor extension).

[2017-07-28 20:47] wolfs commented on #149
@ysb33r @bmuschko I created a PR adding the tests: https://github.com/gradle-guides/using-build-cache/pull/22
Could you have a look? I would like to have support for testing for deprecations warnings and testing all the samples in a directory out of the box for the plugin. WDYT?

[2017-07-30 16:41] #148 closed

[2017-07-30 16:41] #136 closed

[2017-07-30 16:48] #147 closed

[2017-07-31 08:06] ysb33r commented on #146
The Style guide has been updated in various places to reflect the above. The README in `gradle/guides-private` has been updated with notes on how CI works to publish the guides.

[2017-07-31 08:25] ysb33r commented on #22
This is not worthwile to pursue.

[2017-07-31 11:41] pioterj commented on #123
From what I see the guides don't score very well in Google right now. @chaficnajjar This is currently assigned to you. Is this something you can help with?

[2017-07-31 11:42] pioterj commented on #47
@bmuschko I'm moving it back to the icebox unless you want to tackle it soon yourself.

[2017-07-31 11:43] pioterj commented on #97
@ysb33r Isn't it addressed by recent efforts to document the infrastructure?

[2017-07-31 11:49] pioterj commented on #119
@eriwen I'm moving this to icebox. Feel free to move it back if you are really going to work on it this week :)

[2017-07-31 11:53] pioterj commented on #17
@bmuschko Are you planning to work on it soon or shall we move it back to icebox?

[2017-07-31 11:56] pioterj commented on #110
Closing as duplicate of https://github.com/gradle/guides/issues/123

[2017-07-31 11:56] #110 closed

[2017-07-31 11:57] ysb33r commented on #97
Yes. I'll close it.

[2017-07-31 11:57] #97 closed

[2017-07-31 11:58] pioterj commented on #145
I'm moving it back to the icebox. @eriwen I think that re-defining the role of technical guides would be something to consider in your new role.

[2017-07-31 12:16] ysb33r commented on #149
@eriwen @wolfs Assigning this to you now, to close out when you have added your test additions.

[2017-07-31 12:36] chaficnajjar commented on #123
@pioterj Yes, I'll take care of this, I just haven't had time to do it yet. I'll have this done before the end of the week.

[2017-07-31 12:43] pioterj commented on #123
Great, thanks @chaficnajjar.

[2017-07-31 12:57] #146 closed

[2017-07-31 13:02] bmuschko commented on #71
This is basically [the blog post I wrote](http://bmuschko.com/blog/golang-with-gradle/). Given that the plugin is external and that the plugin will change over time Go support will stay a moving target. It will be somewhat hard to get this right. I suggest that Bo Zhang (author of the plugin) writes and own this guide moving forward.

[2017-07-31 14:30] pioterj commented on #155
Looks good, @ghale!

Few comments:

- I'm not sure if we should promote writing custom tasks in Groovy. We use plain Java in other guides.
- The first main `build.gradle` snippet doesn't work. I made it work by changing `outputDir = "${buildSrc}/md5"` to `destinationDir = file("${buildDir}/md5")`.
- We should make sure that the snippets are tested. See https://guides.gradle.org/style-guide/#make_g

[2017-07-31 15:33] eriwen commented on #71
@bmuschko yep! Nice work on the blog post

[2017-07-31 19:10] ghale commented on #155
I did it in Groovy simply because it's cleaner and there's so much less to distract from the concepts we're trying to convey - e.g. just switching from closures to `Action`s creates so much extra (and irrelevant) boilerplate that I think it muddies the example.  I'm not hostile to doing it in Java, I just would prefer to keep the examples as simple and straightforward as possible.  Another option

[2017-07-31 21:47] blindpirate commented on #71
Sure, my pleasure. Recently I'm planning `1.0.0` release. After solving several issues submitted by @bmuschko , I believe I could take the responsibility for owning and maintaining the guide.

Thank you @bmuschko for excellent suggestions to Gogradle.

[2017-08-01 07:20] pioterj commented on #112
Duplicate of https://github.com/gradle/guides/issues/142.

[2017-08-01 07:20] #112 closed

[2017-08-01 07:21] pioterj commented on #142
@eriwen @oehme I think this one should be done as a part of the console effort.

[2017-08-01 07:23] pioterj commented on #23
Most of the guides are already tested. Closing.

[2017-08-01 07:23] #23 closed

[2017-08-01 07:25] #22 closed

[2017-08-01 07:27] pioterj commented on #71
@blindpirate Awesome! Here are some useful resources for writing guides:
- https://guides.gradle.org/writing-getting-started-guides/
- https://guides.gradle.org/style-guide/

[2017-08-01 07:28] #139 closed

[2017-08-01 07:30] blindpirate commented on #71
@pioterj Thanks, I'll take a look. :-)

[2017-08-01 07:32] pioterj commented on #155
That would be great. You can check with @bmuschko if you have any questions as he's probably most familiar with guides testing infrastructure now.

[2017-08-01 15:53] bmuschko commented on #142
I think there are the following things that need to happen first:

1. (Optional but preferred) Upgrade the Guides plugin to Gradle 4.0.
2. All guides need to be upgraded to Gradle 4.0 so they use task grouping.
3. Avoid using the sample execution output from Schalk's `GradleRunner` plugin for testing guides. It uses the `GradleRunner` -> `Tooling API` under the covers which doesn't produce rich co

[2017-08-03 09:24] tbroyer commented on #157
Oracle JDK 7 is not available, but OpenJDK 7 still works (well, except that it cannot connect to `services.gradle.org` and `plugins.gradle.org`, see https://github.com/gradle/gradle/issues/2421)

[2017-08-08 11:29] pioterj commented on #142
@oehme I'd consider also this story before wrapping up the console project. The guides are not integral part of our documentation.

[2017-08-08 11:30] pioterj commented on #142
I meant **now**. Comment updated.

[2017-08-08 13:02] oehme commented on #142
If we use rich output, won't it be pretty much the same for every sample? I.e. "Build Successful, n tasks executed"?

[2017-08-09 10:16] pioterj commented on #149
@wolfs I saw that the PR is merged so I ticked the check box next to the build cache guide.

@eriwen The Wetpack guide is the only one left that still needs test coverage.

[2017-08-09 21:49] bmuschko opened #158 "Update all guides to use same template and guides plugin version"
The guides repositories have an inconsistent mixture of repository templates (directory layout and files generated for a guide from a template) as well as different versions of the guides plugin. Some repositories don't even use the guides plugins and have their own custom Gradle scripts.

All repositories need to be standardized to the same version of Gradle Wrapper version and Guides plugin vers

[2017-08-09 22:03] bmuschko opened #159 "Strategy for updating guides content across all repositories"
We need to think about a strategy for updating guides across repositories aka distributed refactoring. Optimally, we define a change and with a push of a button all repositories are sent a pull request.

These are just some use cases that shows the need:

- Updating the Gradle Wrapper to the latest version
- Rolling out a new version of the guides plugin
- Cleaning up specific logic

[2017-08-10 08:31] pioterj commented on #159
I like this idea and I think it can be useful outside the guides too as the number of repositories we use grow. cc @eriwen as we just talked about this.

[2017-08-10 13:27] pioterj opened #160 "Persistent URLs for filtered guide page"
It would be nice if filtering on the guides page would result in a change in the URL so that people could bookmark or share guides on specific topics.

For example https://gradle.org/guides/?topic=jvm would show only JVM related guides and highlight JVM in the panel on the right.

[2017-08-11 17:22] bmuschko opened #161 "Testing Gradle plugins topical guide"

[2017-08-15 17:01] bmuschko commented on #161
The current draft might need a little bit of word smithing.

Source code: https://github.com/gradle-guides/testing-gradle-plugins
HTML version: https://guides.gradle.org/testing-gradle-plugins/

[2017-08-17 03:28] eriwen commented on #125
This is an excellent idea, and I believe it deserves an epic.

[2017-08-17 03:29] eriwen commented on #19
Closing in favor of a smart version of #18

[2017-08-17 03:29] #19 closed

[2017-08-17 03:31] eriwen commented on #87
I believe this is a good part of the gradle plugins guides, so I'm adding to that epic. It may deserve it's own guide, because such a topic I think will be heavily searched.

[2017-08-17 03:34] eriwen commented on #17
This seems like it's replaced by the epic #80 — agreed @bmuschko?

[2017-08-17 03:37] #117 closed

[2017-08-17 03:41] eriwen commented on #47
This seems like a subtask of #161. WDYT @bmuschko?

[2017-08-17 12:06] bmuschko commented on #17
@eriwen Not really, this issue is part of the epic. It's supposed to create a tutorial for an exemplary Gradle plugin step by step. The epic contains the tutorial as well as other aspects of plugin development.

[2017-08-17 12:08] bmuschko commented on #47
@eriwen This is somewhat covered by https://github.com/gradle/guides/issues/161. The intention of this issue is to write a getting started guide on functional testing. The topical guide lays out all aspects of testing and touched on functional testing. However, it doesn't walk the reader through the process step by step. I will rename this issue.

[2017-08-17 14:11] eriwen commented on #47
In that case I'll icebox this

[2017-08-18 13:04] bmuschko commented on #161
Guide has been published: https://guides.gradle.org/testing-gradle-plugins/

[2017-08-18 13:04] #161 closed

[2017-08-21 12:05] bmuschko commented on #149
@eriwen Were you planning to add test code soon?

[2017-08-22 00:00] adammurdoch commented on #101
Also how and why to use `Directory` and `RegularFile` and `Provider` to wire tasks together.

[2017-08-22 00:08] adammurdoch commented on #83
It would be good if this story had a use case centric title. Building a fat jar is never a why, it's always a how. The two main use cases are: 1. I''m building an application and I want to distribute my application as a single executable JAR, and 2. I'm publishing a library and I want to hide some of my dependencies from my consumers by shading them. So, it feels like there are 2 separate guides h

[2017-08-22 00:15] adammurdoch opened #162 "Verify that a Gradle release does not break any guides"
We should treat the guides as downstream consumers of Gradle-the-build-tool and, as we do for other important downstream consumers such as plugins, make sure we don't release a Gradle version that doesn't work with a published version of a guide.

We should do this in the same way that we gate the release for other downstream consumers, by adding a stage to the build tool CI pipeline that tests th

[2017-08-22 23:59] eriwen commented on #149
@bmuschko @pioterj I will add tests for the webpack guide, but it's not one of my top priorities this week.

[2017-08-25 11:04] pioterj commented on #155
@ghale It seems there is not much left to complete it. Shall we wrap it up sometime soon?

[2017-08-25 14:43] ghale commented on #155
Yep, I'm planning on finishing this up in the next few days.

[2017-08-27 22:59] ghale commented on #155
I've finished up this guide and incorporated the feedback above.  I think this is ready for review.  PR is at https://github.com/gradle-guides/using-the-worker-api/pull/1.

[2017-08-28 09:40] pioterj commented on #155
@ghale It seems that the `sleep` is lost once MD5 generation is converted to `Runnable`.

[2017-08-28 09:54] pioterj commented on #155
Coming back to the topic of using Java vs Groovy in examples. I find it weird that we would recommend Java for production use, yet provide examples only in Groovy. It won't be obvious how to convert them to Java. Then a natural question from the community is how to do it in Java. See for example https://discuss.gradle.org/t/workerexecutor-java-examaple/23887:

We can largely alleviate concerns abo

[2017-08-28 20:06] ghale commented on #155
I've converted the samples to Java instead and fixed the missing sleeps.

[2017-08-29 15:40] eriwen commented on #155
Thanks @ghale, I think that's the right move here. Java is our lowest-common denominator and is easily converted to either Kotlin or Groovy (more so than the reverse I think).  I also am happy for us to use Java 8 in our examples.

[2017-08-29 15:48] bmuschko commented on #155
@eriwen If we decide to move to Java 8 then we'll have to keep in mind that all code examples in all guides have to be revisited. Also the `sourceCompatibility` and `targetCompatibility` set by the guides plugin will have to be adjusted. The CI jobs will have to use a Java 8 image (on Travis).

[2017-08-29 16:24] ghale commented on #155
I feel like there is a general question here about whether it's desirable to hide implementation details in our samples by using a less-verbose syntax.  The argument I'm hearing is that we should not do this because it is more difficult for folks to translate this into a more verbose syntax than it would be for them to go in the other direction (i.e. from more verbose to less verbose).  I think th

[2017-08-29 23:57] eriwen commented on #155
My reasoning for advocating Java 8 is primarily driven by the fact that it's the Gradle version 95% of our user base is using (based on download numbers and our poll, which match near perfectly).

I'd say our primary goal with this discussion is to reduce the total amount of overhead involved in applying the guide content. I'm suggesting that the content is most useful to the widest audience in Ja

[2017-08-30 01:09] ghale commented on #155
Fair enough.  I'm more than happy to use Java 8 syntax for this particular guide.  I would suggest that we move this guide forward with the Java 7 syntax for now, however, and then convert it once we have the Java 8 infrastructure in place.

[2017-08-30 01:41] eriwen commented on #155
I'm good with that
On Tue, Aug 29, 2017 at 6:09 PM Gary Hale <notifications@github.com> wrote:

[2017-08-31 21:56] ghale commented on #155
What are the next steps here?  I've followed the documented steps up through submitting the PR, but it's not clear to me what the process is at this point.  What do we need to do before we merge and publish this guide?

[2017-08-31 22:21] bmuschko commented on #155
1. After review you can merge into `master`.
2. Activate the [Travis CI job](https://travis-ci.org/gradle-guides/using-the-worker-api?branch=master) (linked in the README file).
3. Check if the content has been published to GitHub pages.
4. Open a PR against the guides summary page [similar to this one](https://github.com/gradle/dotorg-site/pull/484).
5. Let @chaficnajjar review and merge.

[2017-08-31 22:27] ghale commented on #155
Thanks, @bmuschko!

[2017-09-01 04:34] adammurdoch opened #163 "Add support for writing a guide that includes both Groovy and Kotlin DSL build scripts for the same sample"
As we move towards releasing Kotlin DSL 1.0, we want to make it easy for guide authors to include Kotlin DSL samples in their guides, but also offer Groovy DSL samples for those people who are using Groovy DSL for their builds.

We might introduce a simple convention so that the Groovy DSL `build.gradle` and the Kotlin DSL `build.gradle.kts` can be placed alongside each other in a certain location

[2017-09-05 00:35] adammurdoch opened #164 "Bring some sanity to the number of repositories involved in providing guides infrastructure"
It is really, really difficult to find any information about how the guides infrastructure works, or how to reuse it, extend it, fix it or test it, as there are so many tiny little repositories involved.

There should be 1 repository that contains:

- The documentation plugins.
- The documentation test fixtures (which are coupled to these plugins).
- Documentation on how to _use_ the plugins to pr

[2017-09-05 00:53] ghale commented on #155
@oehme Do you mind doing a final review of this guide?

[2017-09-05 06:45] adammurdoch opened #165 "Document how a plugin author can use the documentation plugins to write and test documentation for their plugin"
An important goal of this guides infrastructure is to produce and release plugins and other tooling to help plugin authors document their plugins. We should explain how to do this.

[2017-09-05 07:37] oehme commented on #155
@ghale sure, I'll do that by the end of the week.

[2017-09-11 11:56] pioterj commented on #95
@eriwen The guide looks good to me!

Here's my feedback:
- Using Kotlin DSL is an interesting choice and may attract more people interested in Kotlin.
- I like providing a complete example. I think it should be a practice for all guides.
- I'd consider dropping "JVM" from the title. We don't have it for Java and Scala library guides.
- There's a typo in `MyLbraryTest.kt`

[2017-09-11 12:41] bmuschko commented on #95
@eriwen Looking good. I have a couple of comments.

- Other getting started guides do not spell out "step x". We should align.
- A short introduction would be helpful to tell the user what is going to be discussed (see other guides). Maybe also point readers to a short intro to Kotlin if they are not familiar.
- `Language` in Javadocs should use {@code } instead.
- "Create project directory" raise

[2017-09-11 12:55] bamboo commented on #95
Great to see the Kotlin DSL there. A few comments:

 * `import org.gradle.kotlin.dsl.*` should not be necessary since all members in that package are already [implicitly imported](https://github.com/gradle/kotlin-dsl/blob/cb44112374e36b41732ab390531b8bc29e8de327/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ImplicitImports.kt#L37).
 *  The desired Kotlin version should be specified in the

[2017-09-11 16:23] eriwen commented on #95
Thank you everyone for you feedback. I have addressed it in https://github.com/gradle-guides/building-kotlin-jvm-libraries/commit/ebc2cdb5451f7399f26dd7365ba7b6a0b1d042a0.

Inline responses:

@pioterj

Kotlin is unique in that in can compile to JS. We are likely to write a Building Kotlin for JS guides in the not-so-distant future. Full-stack baby!

@bmuschko

In my mind, we need a visual indicato

[2017-09-11 18:48] #16 closed

[2017-09-11 21:23] eriwen commented on #138
I don't believe the benefit is worth the cost. Closing for now.

[2017-09-11 21:23] #138 closed

[2017-09-19 22:22] danroberts commented on #119
I'm particularly interested in understanding how to set up javascript projects with the build-cache when it comes to doing npm or yarn installs -- in your talk at gradle summit you mentioned not caching the node_modules directory, but if the build step is a cache hit in CI, we're going to do the yarn install task needlessly if our build task depends on it, right?

[2017-09-20 23:22] eriwen commented on #119
@danroberts [Incremental builds](https://blog.gradle.org/introducing-incremental-build-support) are better for this. I recommend against using the build cache because downloading from a remote cache is only slightly faster than downloading from NPM, and you'd use a _lot_ of build cache node space for that tiny improvement. The yarn install task should be `UP-TO-DATE` if `yarn.lock` and contents un

[2017-09-26 04:10] fankiwu opened #166 "local guides"
--------You will need to install the mr and nginx utilities-------
what is mr Exactly

[2017-09-26 11:31] chaficnajjar commented on #166
Thanks for creating an issue about this. You're right, it's not clear what `mr` is so I added to README.md a link to the `mr` website: https://myrepos.branchable.com/.

Let me know if you need any more help.

[2017-09-26 11:31] #166 closed

[2017-09-28 20:11] bmuschko opened #167 "Produce link for search on guides page"
Often times I want to provide a link to a community member that reflects a previous search on https://gradle.org/guides/. For example I'd like to provide a link on just the guides for "Plugin Development". At the moment this is not possible as the search is done via JavaScript only.

[2017-09-28 21:09] chaficnajjar commented on #167
@bmuschko Nice suggestion and not too hard to implement. What would be a good URL format to open /guides with a pre-selected filter? How about https://gradle.org/guides?filter=plugin+development?

We could also add the ability to specify search terms in the URL, something like:

https://gradle.org/guides?filter=plugin+development&search=create

...which would open this page:

![screenshot](https:/

[2017-09-28 21:11] eriwen commented on #167
I wouldn't tie the guide category in here. I think `?q=` or `?search=` is fine. I don't have a preference.

[2017-10-06 11:24] pioterj commented on #149
I extracted the last remaining piece to a separate issue: https://github.com/gradle-guides/running-webpack-with-gradle/issues/5

[2017-10-06 11:24] #149 closed

[2017-10-06 11:25] pioterj commented on #95
@eriwen Is it actually waiting for review? The guide is already published.

[2017-10-06 11:26] pioterj commented on #155
The guide looks practically ready. It would be great to publish and announce it.

[2017-10-06 13:59] ghale commented on #155
Actually, @oehme posted several review comments.  Unfortunately, I got sidetracked with the Tableau engagement and then had two weeks of vacation, so I haven't finished addressing those comments yet, but this is still very much on my radar.  I'll try to carve out some time in the next week to finish this up.

[2017-10-06 15:21] eriwen commented on #95
@pioterj nah, I just never came back to close it. Thanks!

[2017-10-06 15:21] #95 closed

[2017-10-07 22:01] ghale commented on #155
@oehme, I've addressed your review comments.  Can you give it a once over and approve the PR if all looks good?

[2017-10-24 20:41] chaficnajjar commented on #167
- https://github.com/search?q=test
- https://heroku.com/search?q=test
- https://npmjs.com/search?q=test
- https://twitter.com/search?q=test
- https://jetbrains.com/search?q=test
- https://developer.mozilla.org/en-US/search?q=test

`/search?q=` seems to be the convention most websites follow. But, the examples above are all for **site-wide search** whereas what we're trying to implement is a URL to

[2017-11-06 21:06] chaficnajjar commented on #167
@bmuschko You can now use `gradle.org/guides?q=`. See https://github.com/gradle/dotorg-site/pull/536 for an example. Closing as delivered.

[2017-11-06 21:06] #167 closed

[2017-11-06 21:11] bmuschko commented on #167
@chaficnajjar Great, thanks.

[2017-11-13 15:59] jkschneider commented on #155
Shouldn't let the perfect be the enemy of the good. This was a very useful guide. Shame I had to go clone a repo, check out a particular branch, and figure out how to build it in order to benefit from @ghale's expertise in using the worker api.

[2017-11-13 16:39] oehme commented on #155
I hadn't realised I didn't approve the changes, they look great to me. Sorry if that's what caused the delay.

[2017-11-13 17:21] jkschneider commented on #155
@ghale Something like [this slide](https://youtu.be/kKyTqk2jSFo?t=746) from your Gradle Summit talk would be a great addition. I think most people will intuit the fact that task completion is blocked by the completion of all items submitted to the `WorkerExecutor`, but an explicit statement to that effect would be reassuring.

[2017-11-13 17:22] pioterj commented on #155
Good suggestion, @jkschneider, thanks!

[2017-11-13 17:23] jkschneider commented on #155
Also, and I'm not sure this is true, but the slide implies that the pool used to execute worker is the same pool used to execute multiple tasks in parallel. This leads the user to conclude that the purpose of the Worker API is to make the machinery of task parallelization available to units of work within the task.

[2017-11-13 18:03] ghale commented on #155
Thanks, @oehme.  This just got lost in the shuffle of travel over the last few weeks otherwise I would've pinged you about it.

Thanks for the feedback @jkschneider (and for reminding us that this was languishing).

[2017-11-14 17:32] ghale commented on #155
This has been submitted to be added to the summary page: https://github.com/gradle/dotorg-site/pull/551

[2017-11-14 17:42] eriwen commented on #155
Thanks @ghale for your work here! Do we have more to do here or can we close this issue?

[2017-11-14 18:48] ghale commented on #155
There's not any more work to do atm - any further improvements can be handled in a follow-up issue.  I was holding off closing it until it was live, but we can go ahead and close it now if that's not how we normally handle these.

[2017-11-14 18:53] eriwen commented on #155
It's live, so closing \o/

https://guides.gradle.org/using-the-worker-api/

[2017-11-14 18:53] #155 closed

[2017-12-04 20:08] eriwen opened #168 "Load fonts from our CDN, not Google Fonts"
Google fonts is blocked in China, and may be contributing to very slow loading times for guides in China (18s vs the average of 2.3s).

Let's use our own CDN here.

[2018-01-09 19:52] eriwen opened #169 "Use relative links for static guides assets"
Currently all CSS/fonts are loaded from absolute URLs which prevents local development.

This will require modifying nginx.conf as well as all `docinfo.html` files.

[2018-01-09 19:53] eriwen opened #170 "Allow navigation from Guides to Docs"
Provide common navigation as is standard now for Gradle sites.

[2018-01-09 20:00] #105 closed

[2018-01-09 20:00] #160 closed

[2018-01-09 20:02] eriwen commented on #132
I'm going to replace this with a common footer like you see at docs.gradle.org/nightly

[2018-01-10 21:17] eriwen commented on #131
This is addressed by https://github.com/gradle/guides/issues/131 — you're welcome to take a look and yell (in a nice way) at my hacks @lptr

[2018-01-10 21:18] eriwen commented on #132
Will be addressed by https://github.com/gradle-guides/gradle-guides-plugin/pull/18

[2018-01-10 21:18] eriwen commented on #170
Top and bottom nav implemented in https://github.com/gradle-guides/gradle-guides-plugin/pull/18

[2018-01-10 21:20] eriwen commented on #168
Addressed in https://github.com/gradle-guides/gradle-guides-plugin/pull/18

[2018-01-11 23:01] eriwen opened #171 "Calculate time to read during build and not client side"

[2018-01-12 12:46] lptr commented on #131
Is there some published content I can ~~yell at~~ take a look at?

[2018-01-13 00:04] eriwen commented on #131
@lptr All guides now have updated styling. Hope you like it!

[2018-01-13 00:04] #131 closed

[2018-01-13 00:04] eriwen commented on #132
Roasted.

[2018-01-13 00:04] #132 closed

[2018-01-13 00:05] eriwen commented on #168
Also roasted.

[2018-01-13 00:05] #168 closed

[2018-01-13 00:05] eriwen commented on #170
Done

[2018-01-13 00:05] #170 closed

[2018-01-13 00:05] eriwen commented on #158
Done, and also all on Gradle 4.4.1 now.

[2018-01-13 00:05] #158 closed

[2018-02-03 07:58] chenrujun opened #173 "Publishing to private repositories"
Ref: https://guides.gradle.org/writing-getting-started-guides/

[2018-02-06 18:00] eriwen opened #174 "Implement common navigation between docs/guides"

[2018-02-16 20:30] eriwen commented on #107
This is implemented.

[2018-02-16 20:30] #107 closed

[2018-02-16 20:33] #18 closed

[2018-02-16 20:33] eriwen commented on #14
This is done manually by myself, every release.

[2018-02-16 20:33] #14 closed

[2018-02-16 20:34] eriwen commented on #3
This shall not exist as a Gradle guide, but instead as our facilitating easier documentation for the Gradle Lint Plugin

[2018-02-16 20:34] #3 closed

[2018-02-16 20:35] eriwen commented on #15
This is variants. Use of `gradlew.bat` or perhaps different shell commands based on environment. Similar to how we want to do it for Kotlin DSL

[2018-02-16 20:37] eriwen commented on #159
My solutions thus far have been to leverage `mr`, and careful use of search and replace. Luckily we have tests to ensure proper, working guides.

[2018-04-06 15:39] bmuschko opened #177 "Executing Gradle builds on Jenkins"
* Building a typical Java project
    * Clone Gradle Site Plugin
    * Executing the build
    * Build scan integration
* Using Jenkins
    * Installing and starting Jenkins
    * Installation of plugins
    * Creating and configuring the job
    * Executing the job
* Further reading
* Conclusion

[2018-04-06 15:40] bmuschko opened #178 "Executing Gradle builds on Travis CI"
* Building a typical Java project
    * Clone Gradle Site Plugin
    * Executing the build
    * Build scan integration
* Using Travis CI
    * Creating the configuration file
    * Enabling caching of downloaded artifacts
* Further reading
* Conclusion

[2018-04-06 17:24] bmuschko commented on #177
Repo: https://github.com/gradle-guides/executing-gradle-builds-on-jenkins

[2018-04-06 17:47] bmuschko commented on #178
Repo :https://github.com/gradle-guides/executing-gradle-builds-on-travisci

[2018-04-06 22:12] bmuschko commented on #177
Guide has been integrated.

[2018-04-06 22:12] #177 closed

[2018-04-06 22:12] bmuschko commented on #178
Guide has been integrated.

[2018-04-06 22:12] #178 closed

[2018-04-10 23:12] #159 closed

[2018-04-10 23:16] eriwen commented on #96
This should exist in the user manual, not in guides

[2018-04-10 23:16] #96 closed

[2018-04-10 23:51] bmuschko commented on #60
@eriwen Why not close this issue?

[2018-04-11 00:00] eriwen commented on #60
@bmuschko Stefan Wolf had suggested some additional content, and I briefly wonder if we should include some of it before we call this done.

[2018-04-11 16:54] bmuschko commented on #60
@eriwen My thinking here was that if we don't cover using a Jenkins plugin (e.g. for rendering test results) then people might be more drawn toward browsing test results in a build scan. That's why I didn't cover it. It was actually done intentionally.

[2018-04-11 16:57] eriwen commented on #60
Nice thinking @bmuschko, though I think users will want the test history/code coverage charts that are built into Jenkins.

[2018-04-25 09:35] eskatos opened #180 "Migrating build logic from Groovy to Kotlin"
A guide describing fundamentals, available facilities, traps, and recipes for migrating build logic from Groovy to Kotlin.

[2018-04-25 09:58] eskatos commented on #180
Repository created at https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin

[2018-04-30 16:03] alexandrenavarro opened #181 "Add sample with kotlin-dsl for distribution plugin"
Add sample with kotlin-dsl for distribution plugin

I tried to use the distribution plugin with the kotlin dsl but I failed.
Can you add a sample or add in the official documentation with a snippet kotlin in addition of the one in groovy, please?

[2018-04-30 16:17] #181 closed

[2018-05-07 09:38] eskatos opened #182 "Asciidoc content blocks toggled by DSL"
In order to make more guides cover both Groovy DSL and Kotlin DSL we need a way to tag asciidoc content blocks as "specific to a given DSL". This is to allow for content to be hidden/shown when the user switch from one DSL to the other.

A simple example is the requirements list at the beginning of many guides saying:

When using the Kotlin DSL this should instead display:

There are also places w

[2018-05-07 22:54] eriwen commented on #182
Done with 55e6d

[2018-05-07 22:54] #182 closed

[2018-05-09 08:50] eskatos commented on #182
Thank you Eric!

[2018-05-22 12:16] Julia-Alexandrova opened #185 "executing-gradle-builds-on-teamCity"
We'd like to submit the 'Executing Gradle builds on TeamCity' guide to be added to the [continuous integration](https://gradle.org/guides/?q=Continuous%20Integration) section of your site.

The Gradle-TeamCity guide will be similar in content and steps to [Executing Gradle builds on Jenkins](https://guides.gradle.org/executing-gradle-builds-on-jenkins/) and [Executing Gradle builds on Travis CI](h

[2018-05-23 06:16] marcphilipp commented on #185
@eriwen Can you take care of this one, please?

[2018-05-23 15:56] eriwen commented on #185
I'm on it :) Sorry I should've assigned myself.

[2018-05-23 22:32] eriwen commented on #185
This is now live! https://guides.gradle.org/executing-gradle-builds-on-teamcity/

[2018-05-23 22:32] #185 closed

[2018-06-01 22:43] eriwen commented on #174
done

[2018-06-01 22:43] #174 closed

[2018-07-04 08:13] pledbrook commented on #180
I still plan to review this, but I've been unwell for a few days and I want to complete the first draft of the 4.x-5.0 upgrade guide beforehand.

[2018-07-10 19:29] eriwen opened #186 "Getting Started with Gradle and Spring Boot 2"
## What’s new and noteworthy
## What you’ll need
## Initializing the Gradle project
## Applying the Spring Boot plugin and configuring the dependencies
## Creating a Hello Gradle sample application
## Building and running the Spring Boot application
## Migrate from an existing Spring Boot 1.5 project
## Next Steps
## Help improve this guide

[2018-07-16 20:22] ssp commented on #119
This guide sounds like a very helpful idea.

I could certainly do with hints on best practices regarding how to create well-integrated gradle tasks for node-based build or verification steps that ensure an efficient and reproducible build!

[2018-07-16 22:21] eriwen commented on #180
This is shipped. Should we close this issue?

[2018-07-17 06:58] #180 closed

[2018-07-17 13:46] hummldesign commented on #48
Hello,

I tried to create a custom plugin and publish it to the Gradle plugin portal. But I always get:

[code]

I used the available getting started tutorials but event there, always the same result. I also tried the official getting started tutorials using java-gradle-plugin and buildSrc but even there, doesn´t work ... Any ideas what is missing?

build.gradle:

[code]
org.example.greeting.prope

[2018-07-17 17:31] marcphilipp commented on #48
@hummldesign Thanks for the update! Would you mind creating a new issue and describe which points in the documentation were confusing? I'm currently working on the `com.gradle.plugin-publish` plugin and will update the documentation shortly.

[2018-07-18 10:53] pledbrook commented on #48
I second that. Could you please copy your above comment into a new issue for the guide you think should be updated? Thanks.

[2018-07-19 03:46] hummldesign opened #187 "Misleading documentation for plugin development"
See also my comments in issue #48:

I followed the route of this articles:

1. https://guides.gradle.org/writing-gradle-plugins/
2. https://docs.gradle.org/4.8/userguide/java_gradle_plugin.html
3. https://guides.gradle.org/publishing-plugins-to-gradle-plugin-portal/

Number 2, 3 are mentioned as next steps in the article 1.

Possible enhancements in the documentation:

**Article 2**

Old:
[code]
N

[2018-07-19 03:47] hummldesign commented on #48
I created issue #187 with all the things I found out.

[2018-07-19 06:34] marcphilipp commented on #48
Thanks! 👍

[2018-07-23 11:33] marcphilipp commented on #187
@pledbrook Have you already put some thought into this? I'll be doing some updates to the plugin publishing documentation in the next few days.

[2018-07-24 08:57] pledbrook commented on #187
@marcphilipp No, I haven't started. Go ahead with your changes.

[2018-08-03 09:06] pledbrook commented on #37
Some of these are going into a "5 things you need to know about Gradle" chapter. I'll try to remember to link it here when I've actually pushed something.

[2018-08-03 09:27] oehme commented on #37
Number 3 will shock you 🤣

[2018-08-09 15:23] pledbrook commented on #37
See [pull request #6317](https://github.com/gradle/gradle/pull/6317). Hopefully that covers most of the needs expressed in this issue.

[2018-08-09 22:43] eriwen commented on #157
Gradle 5.0 will require JDK 8, so I vote no action here.

[2018-08-09 22:43] #157 closed

[2018-08-20 06:37] pledbrook commented on #37
Follow the above pull request. I think all the suggested content should be in the user manual rather than a guide. Feel free to reopen if you feel a separate guide is useful/necessary.

[2018-08-20 06:37] #37 closed

[2018-09-24 16:04] pledbrook commented on #187
I think the real problem is the second Guide. It assumes that you already have a plugin project, but there is no guide that sets one up. I think it needs to be modified so that it sets up the plugin project or has a location for someone to download a sample project from. I hope to tackle this soon.

In the meantime, I [made some changes to article 1](https://github.com/gradle-guides/writing-gradle

[2018-09-26 08:13] #187 closed

[2018-10-12 17:44] #186 closed

[2018-10-12 17:44] #154 closed

[2018-10-12 17:44] #125 closed

[2018-10-12 17:45] #79 closed

[2018-10-12 17:45] #46 closed

[2018-10-12 17:45] #80 closed

[2018-10-12 17:46] #63 closed

[2018-10-12 17:47] eriwen commented on #163
This is available with guides plugin v0.14. For example, see Implementing Gradle Plugins guide.

[2018-10-12 17:47] #163 closed

[2018-10-12 17:47] eriwen commented on #60
Closing as delivered

[2018-10-12 17:47] #60 closed

[2018-10-12 17:50] eriwen opened #189 "Add .github/dco.yml to all guides repositories"
@pioterj commented on [Thu Feb 15 2018](https://github.com/gradle/guides-private/issues/26)

This causes the sign-off check to be not required for GitHub organization members.

Example commit: https://github.com/gradle-guides/using-build-cache/commit/bfd5b9e41544abc04b950d357cc5e24d5e98b3ad

---

@pioterj commented on [Mon Oct 01 2018](https://github.com/gradle/guides-private/issues/26#issuecommen

[2018-10-15 20:29] eriwen commented on #71
Closing as dropped for now.

[2018-10-15 20:29] #71 closed

[2018-10-15 20:30] #115 closed

[2018-10-15 20:30] #169 closed

[2018-10-15 20:32] eriwen opened #190 "Getting Started Building Images and Containers with Docker"

[2018-10-15 20:47] #66 closed

[2018-10-15 21:10] eriwen opened #191 "Provide Kotlin DSL examples in all guides"
Kotlin DSL 1.0 RC is upon us. Now that the APIs are stable, it is time for Kotlin DSL examples to be displayed everywhere in Gradle documentation that the Groovy DSL is.

This epic will be considered complete when all samples within the [Gradle guides](https://guides.gradle.org/) have a Kotlin DSL sample alongside each Groovy DSL sample.

### Contributor Instructions

If you are familiar with the

[2018-10-15 21:24] eriwen opened #192 "Convert all guides to be tested with Exemplar"
All Gradle docs are being migrated to [Exemplar](https://github.com/gradle/exemplar) as the user manual has. This is so that we can move forward with standardized multi-version testing and reporting.

### Contributor Instructions

 - [ ] Signal your interest to contribute using a comment or creating an empty PR for the guide in question.
 - [ ] Clone the appropriate repo. Run `./gradlew check` and

[2018-10-15 21:28] eriwen opened #193 "Make all guides Gradle 5.0 compatible"
Several of the guides use a plugin or have some deprecation that breaks with Gradle 5.0.

Make the necessary changes to allow guides to support Gradle 5.0.

TODO: list all issues after doing initial triage.

[2018-10-15 22:08] eriwen opened #194 "Migrating from Ant to Gradle guide"
Similar to Migrating from Maven, provide a Migrating from Ant guide that covers similar subtopics.

[2018-10-15 23:37] eriwen commented on #89
I think this is now covered in Best Practices.

[2018-10-15 23:37] #89 closed

[2018-10-15 23:37] eriwen commented on #64
Agreed with @oehme and confirmed with the Android Docs team.

[2018-10-15 23:37] #64 closed

[2018-10-15 23:38] #2 closed

[2018-10-15 23:39] eriwen commented on #130
This belongs in the user guide, and is being included in @pledbrook's "getting started" content I believe.

[2018-10-15 23:39] #130 closed

[2018-10-15 23:39] #86 closed

[2018-10-15 23:40] #120 closed

[2018-10-16 17:09] #39 closed

[2018-10-25 08:04] pledbrook commented on #194
I've actually done this as a user manual chapter. See [pull request](https://github.com/gradle/gradle/pull/7523). This was on the basis that we thought most topical guides probably belong to the user manual. I certainly think this and the Maven one do.

[2018-11-15 09:13] eskatos commented on #193
The following PRs are ready for review:

- https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/pull/27
- https://github.com/gradle-guides/using-build-cache/pull/38
- https://github.com/gradle-guides/implementing-gradle-plugins/pull/22
- https://github.com/gradle-guides/building-kotlin-jvm-libraries/pull/15
- https://github.com/gradle-guides/building-java-libraries/pull/22

[2018-11-15 15:46] eriwen commented on #193
Would you be willing to review Paul's PRs non-urgently @jlstrater?

[2018-11-18 23:04] eriwen commented on #194
This has been merged for 5.0. Nice work!

[2018-11-18 23:04] #194 closed

[2018-11-19 10:52] pledbrook commented on #156
I'll sort this out with [dotorg-docs#126](https://github.com/gradle/dotorg-docs/issues/126). Re-open if I've misunderstood something, but the docs home navigation no longer links to the tutorials that used to be in the user manual. I'll look out for content in the user manual itself that links to them.

@adammurdoch I can't work out what you're referring to. Are you saying that those topics are bo

[2018-11-19 10:52] #156 closed

[2018-11-19 10:58] pledbrook commented on #127
My idea is to have guides.gradle.org as the site for our tutorials. We should think about whether individual topical guides should really be in the user manual instead. That's the plan for the Maven migration guide.

It's worth bearing in mind that the Guides infrastructure was developed to ease the creation and publication of new content, separate from the user manual. With the welcome changes to

[2018-11-23 14:48] jmfayard opened #195 "New guide: android migration"
After discussing with Jenn who showed me [the guide on how to write a guide](https://guides.gradle.org/writing-getting-started-guides/), I propose to write a new Android Migration tutorial

It would be a more practical tutorial, a companion to the reference document
https://guides.gradle.org/migrating-build-logic-from-groovy-to-kotlin/

It would focus on what I think would be a common scenario for

[2018-11-30 02:12] eriwen commented on #195
So one bit here, the Android folks have indicated to me that they would really prefer that Android-specific content ends up in the [Android dev docs](https://developer.android.com/docs/).

Perhaps the Google team would be interested in your help here?

[2018-11-30 13:09] pledbrook commented on #195
@eriwen One could argue — and perhaps should — that the topic of the tutorial is migrating from Groovy DSL to Kotlin DSL. Even if the sample is Android, surely the same techniques apply to other platforms.

[2018-11-30 19:47] eriwen commented on #195
@pledbrook Indeed, but then is it very different from https://guides.gradle.org/migrating-build-logic-from-groovy-to-kotlin/? Perhaps some Android-specific samples in there would be a good compromise?

[2018-11-30 20:29] pledbrook commented on #195
I think that's the appropriate test: does it offer something usefully different than that guide. By the sounds of it, the proposed guide would be more of a tutorial.

On a tangential note, my idea of moving topical guides to the user manual fails with _Migrating build logic from Groovy to Kotlin_, since that doesn't seem suited to the user manual. Nor is it a tutorial. Need to think some more on t

[2018-12-03 13:49] #195 closed

[2018-12-03 16:41] jlstrater commented on #195
After discussing with @jmfayard he will not do a Gradle Guide and will explore other publication options.

[2018-12-03 20:00] eriwen opened #196 "Deprecate Android guide"
- [x] Remove from nav
 - [x] Remove from guides index
 - [x] Deprecate repo

[2018-12-03 20:11] eriwen commented on #196
Done

[2018-12-03 20:11] #196 closed

[2018-12-03 20:14] eriwen opened #197 "Update all guides to guides plugin 0.15.4"
After #193 is done (or perhaps simultaneously) we should update to the latest guides plugin for the latest navigation/bugfixes.

[2018-12-03 20:23] eriwen opened #198 "Remove ugly titles from code blocks"
We should ensure we're using the `include::sample` macro where we can and omit extra titles like this from the code examples.

![screenshot 2018-12-03 13 21 09](https://user-images.githubusercontent.com/51534/49399427-72073080-f6fe-11e8-9d6f-2c4cde4b1d71.png)

Everything looks better without those `.listingblock .multi-language-sample .title` elements. Most can simply be removed but maybe a couple

[2019-01-07 18:30] aalmiray opened #199 "Create a plugin guide for publishing to custom remote repository"
Currently there's a guide that shows how a plugin may be published to the Gradle Plugin Portal but there's no indication on how to do the same with a custom remote repository (such as Nexus, Artifactory, etc). The `java-gradle-plugin` generates a plugin marker publication that should also be pushed to the remote repository but it's not configured to do so by default. this is one of the spets that

[2019-01-07 18:42] aalmiray opened #200 "Refresh the Java 9 + modularity guide or retire it"
The current Java modules guide (https://guides.gradle.org/building-java-9-modules/) is lagging behind and does not cover all basic uses cases (it does not show how Javadoc can be configured for example).

The java-modules-plugin (https://github.com/java9-modularity/gradle-modules-plugin) written by Paul Bakker and Sander Mak (authors of the popular Java modularity book) address these concerns and

[2019-01-18 11:19] wp3355168 opened #201 "Publishing to private repositories"
https://github.com/wp3355168/guides

[2019-01-21 11:00] ljacomet commented on #193
Forum post pointing to outdated maven migration guide: https://discuss.gradle.org/t/versions-from-the-bom-are-not-being-used-and-i-have-no-idea-why/30186

[2019-01-21 16:17] eriwen commented on #193
Yes, I will implement a redirect this week from the guide.

[2019-02-16 16:24] eriwen opened #202 "Update Gradle logo in guides.gradle.org"

[2019-02-18 15:49] #171 closed

[2019-02-19 09:43] jlstrater commented on #200
I vote to remove the guide. Although we(from our personal viewpoint) can say to use that Gradle plugin, Gradle doesn't officially recommend specific community plugins so I wouldn't update the guide to say that.

[2019-02-19 09:47] aalmiray commented on #200
I vote for removing this guide too. However we must supply an answer for those people looking for Java modules support. If we don't have an official (read: coming from core) answer, what should we do?

[2019-02-19 09:48] jlstrater commented on #200
cc: @melix

[2019-02-19 11:29] pioterj commented on #200
@jlstrater What makes you say so?

There's actually a precedent for that. See https://docs.gradle.org/current/userguide/jetty_plugin.html

[2019-02-19 11:30] pioterj commented on #200
I don't have an opinion whether we should recommend this specific community plugin though. I have no idea how good and how widely used it is. But I see no problem in officially recommending community plugins in principle.

[2019-02-19 11:31] jlstrater commented on #200
Interesting. That's what I was tol specifically in regards to the issue of this plugin.

[2019-02-19 11:34] pioterj commented on #200
I think we need to be pragmatic. If we don't have a solution out of the box but there is a good community plugin that addresses a particular need, why not point people to it?

[2019-02-19 11:36] aalmiray commented on #200
FWIW this particular plugin (java-modularity) is maintained by the authors of the Java Modularity book for O'Reilly. They are fellow Java Champions and they accept patches I've sent their way.

On the greater scheme of things, "endorsing" (we have to decide what this actually means and entails) community plugins is part of the goals I'd like to accomplish in 2019.

[2019-02-19 11:39] pledbrook commented on #200
The problem with endorsing community plugins is that we then need to keep track of their status, i.e. are they still maintained and working, etc. Also, isn't Gretty a special case because one or more of the Gradle team got involved?

[2019-02-19 11:41] aalmiray commented on #200
And what's the current state of Gretty? Regrettably bad :'(

[2019-02-19 11:42] pioterj commented on #200
I don't recall any involvement on our side in the Gretty plugin. I don't see anything in GitHub either: https://github.com/akhikhl/gretty/graphs/contributors. From what I recall the situation was that our Jetty plugin was clearly lagging behind.

[2019-02-19 11:46] pledbrook commented on #200
OK, maybe the idea was just to recommend Gretty instead. But over time, any community plugin recommendation can backfire. Just something to be aware of. We could (and probably should) treat these separately in the user manual/reference. For example, alongside the core plugin reference have a list of community plugins that cover common use cases that aren't directly supported by the core plugins. B

[2019-02-19 11:50] jlstrater commented on #200
Seems like there are several issues here relating to Module support outside of just this guide. If you have the time @aalmiray can you write an email to engineering@gradle.com including all the context you have on the topic? This isn't the first time it's come up and we should come up with a good solution everyone agrees on sooner rather than later.

[2019-02-19 11:52] melix commented on #200
My position on this haven't changed: it's a shame we don't have proper support for this in Gradle. If a community plugin does better than our experimental plugin **and** that it's properly written, then we can recommend it, but it does _not_ change the fact we must have first class support for this.

[2019-02-27 22:39] lacasseio commented on #201
@wp3355168 Maybe I'm missing some context, but what is the use case here? What does publishing to a private repository brings here?

[2019-03-14 17:33] sdelamo opened #203 "Google Cloud Build Guide"
It would be great to get a guide similar to the Travis Guide.

It is easy to build a Gradle app in Google Cloud with a `cloudbuild.yaml` file see:

https://github.com/micronaut-guides/micronaut-google-cloud-build/blob/master/cloudbuild.yaml

However, it is not clear how to enable caching of downloaded artifacts as it is explained in the travis guide:

https://guides.gradle.org/executing-gradle-bui

[2019-03-15 23:53] eriwen commented on #203
Is this something you'd be willing to contribute @sdelamo? If so, we can create a guide skeleton and give you instructions.

[2019-03-22 16:29] sdelamo commented on #203
I was looking for clarification about how to do "to enable caching of downloaded artifacts "  in Google Cloud Build and I was pointed to create a guide issue. So, in a potential guide, I don't know how to do that step.

[2019-03-26 11:41] apryamostanov opened #204 "Gradle Groovy Library - adding a note about transitivity of "groovy-all""
Dear Gradle Team,

[PR will follow shortly on this]

With ref. to https://discuss.gradle.org/t/gradle-groovy-library-scope-documentation-best-practices-grapes/31054

It is needed to add a note about transitivity of "groovy-all" module, as current `groovy-library` type generates `build.gradle` which causes issues when this library is used in Groovy Console or Groovy Shell using other build tools (a

[2019-03-26 12:49] apryamostanov commented on #204
Fixed typo in issue description

[2019-04-23 23:45] klm1 commented on #191
And it's not just the Groovy source but the **Java** source as well. Would be great to also see a _Kotlin_ version of the _Java_ code used in buildSrc for the [Writing Gradle Plugins](https://guides.gradle.org/writing-gradle-plugins/) document.

[2019-05-15 15:33] lacasseio commented on #193
It seems I did most of the work during the world meeting without being aware of this issue. I mostly made widespread changes to all guides. Can someone help me validate all guides are still working and correct?

[2019-05-15 15:34] lacasseio commented on #197
This is already done, we should concentrate on validating that no guides are broken in the process of https://github.com/gradle/guides/issues/193.

[2019-05-15 15:34] #197 closed

[2019-05-15 15:44] lacasseio commented on #103
it should be an automated test provided by the guides plugins to make sure the guide is linked back from the guides.gradle.org. Together with this change, a guide should have a flag to track if it's published or unpublished. Published guide should have a link from the guides.gradle.org and unpublished guide shouldn't have a link from the guides.gradle.org.

[2019-05-15 15:49] lacasseio commented on #164
[Generating the README file](https://github.com/gradle/guides-private/issues/33) should include part of that documentation (or pointing to the right documentation).

[2019-05-16 00:04] adammurdoch commented on #103
We should only publish the link to a guide on `guides.gradle.org` once the guide has been released. When adding a new guide, there is a period of time where the guide is being developed and before it is ready for consumption by the community, particularly when that guide discusses some new unreleased features of Gradle.

Sometimes we also want to temporarily unpublish a guide.

I would add some me

[2019-05-16 06:05] lacasseio commented on #103
I was hesitant about the unpublishing part, my thinking was whatever is in `master` should be published. If something gets into master and we don't want it to be published, we should just revert. I do see something we could do about "hidding" a guide. Let's see what it look like with the versioning of the released guides: https://github.com/gradle/guides-private/issues/41.

I like the other sugges

[2019-05-17 03:44] #173 closed

[2019-05-22 07:39] lacasseio commented on #189
I actioned on the first step, aka adding `.github/dco.yml` file to all repositories. Is there something else that needs to be done so we can close this? I don't understand the second part of the comment where it seems to be outdated.

@pioterj @eriwen Could you validate that only the `.github/dco.yml` file was required and the mention around our custom bot running on our infrastructure is taken ca

[2019-05-23 12:35] pioterj commented on #189
@lacasseio From what I recall we used a custom-built DCO app to avoid sign-off for organization members until this feature was available in the main app.

We de-commissioned it in the main GitHub organization (https://github.com/gradle/dev-infrastructure/issues/177) but I don't think it was done for guides.

We should get rid of the custom app and its repo.

[2019-05-23 12:59] lacasseio commented on #189
It doesn't seem I have access to any admin settings for the https://github.com/gradle-guides organization. Do you think you can have a look at removing the custom app from the organization and make sure the official one is added?

[2019-05-23 13:07] lacasseio opened #206 "Migrate all guides to JDK 8"
Given we aren't supporting Gradle on Java 7 and below anymore, we should update the requirements for all guides still mentioning JDK 1.7 or higher. The following list is all the guides with such mention:
- https://github.com/gradle-guides/building-groovy-libraries
- https://github.com/gradle-guides/building-scala-ibraries
- https://github.com/gradle-guides/consuming-jvm-libraries
- https://github.

[2019-05-24 12:41] pioterj commented on #189
Done.

[2019-05-24 13:29] lacasseio commented on #189
Let's close this as delivered.

[2019-05-24 13:29] #189 closed

[2019-07-22 13:27] apryamostanov commented on #204
Just a kind reminder. Thank you.

[2019-10-19 08:08] jmfayard commented on #119
It would be good to have a paragraph about Angular sample as well

[2019-12-23 15:42] lacasseio opened #208 "Brand new users might not understand Artifactory Bintray Repository"
@eljobe commented on [Thu Jun 01 2017](https://github.com/gradle-guides/building-java-libraries/issues/7)

When an uninitiated user reads this:
![image](https://cloud.githubusercontent.com/assets/679924/26661365/337caa86-46b8-11e7-8385-327710ce42c6.png)

They may not know what we're talking about. Maybe add a hyperlink to jcenter, artifactory or bintray's website in the footnote?

[2019-12-23 15:44] lacasseio opened #209 "Actually show how to use the library?"
@eljobe commented on [Thu Jun 01 2017](https://github.com/gradle-guides/building-java-libraries/issues/10)

![image](https://cloud.githubusercontent.com/assets/679924/26661620/c26e9820-46b9-11e7-9412-b1fc88b19be4.png)

This part of the guide promises that we will use the library in some application code, but then we don't deliver on that promise in this guide.

We should either:
Deliver on the pro

[2019-12-23 15:45] lacasseio opened #210 "Add some more practical differences"
@pioterj commented on [Mon Jun 05 2017](https://github.com/gradle-guides/migrating-from-maven/issues/2)

I think we should add some more practical differences in using Gradle compared to Maven. Examples:
- Incremental builds and not using `clean` all the time
- Using wrapper

Here's a good source of inspiration: http://blog.stack.foundation/2017/05/31/10-tips-for-migrating-from-maven-to-gradle/

@

[2019-12-23 15:46] lacasseio opened #211 "Modify example "domain object container" to use ObjectFactory and NamedDomainObjectFactory"
@bmuschko commented on [Fri Jul 07 2017](https://github.com/gradle-guides/implementing-gradle-plugins/issues/9)

Requires 4.2 to be released with the new public API in https://github.com/gradle/gradle/pull/2393.

[2019-12-23 15:47] lacasseio opened #212 "Polish code"
@bmuschko commented on [Sat Jul 08 2017](https://github.com/gradle-guides/gradle-guides-plugin/issues/8)

- The Apache license header should not have a person-specific copyright. Let's use the same license header as in Gradle core. __(DONE!)__
- Upgrade to Gradle 4.1. __(DONE! Opened https://github.com/ysb33r/gradleTest/issues/78)__
- The plugins have a mix of `@CompileStatic` and `@CompileDynamic

[2019-12-23 15:48] lacasseio opened #213 "Cover worker API"
@pioterj commented on [Fri Jul 21 2017](https://github.com/gradle-guides/implementing-gradle-plugins/issues/11)

@ghale @oehme @bmuschko Should we cover [worker API](https://docs.gradle.org/release-candidate/userguide/custom_tasks.html#worker_api) in this guide once 4.1 GA is published?

---

@oehme commented on [Fri Jul 21 2017](https://github.com/gradle-guides/implementing-gradle-plugins/issues/

[2019-12-23 15:49] lacasseio opened #214 "JUnit 5 example"
@eriwen commented on [Fri Sep 15 2017](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/4)

Would be good to have this in even though it's a bit more work.

[2019-12-23 15:50] lacasseio opened #215 "Add an example of jlink"
@eljobe commented on [Fri Jun 09 2017](https://github.com/gradle-guides/building-java-9-modules/issues/1)

We want to show how to distribute your application the Java 9 way.

[2019-12-23 15:51] lacasseio opened #216 "Point to the documentation instead of listing build init types"
@pioterj commented on [Wed Feb 22 2017](https://github.com/gradle-guides/building-java-applications/issues/1)

Instead of listing build init types available today, we can point to the documentation at https://docs.gradle.org/current/userguide/build_init_plugin.html#sec:build_init_types.

This is what we do in https://gradle.org/getting-started/creating-a-build.

This should make the guide easier t

[2019-12-23 15:51] lacasseio opened #217 "Use "javadoc" outputFormat for Dokka"
@eriwen commented on [Fri Sep 15 2017](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/5)

[2019-12-23 15:52] lacasseio opened #218 "Executing ./gradlew build --scan results in interactive prompt and consecutive timeout of the build"
@Stvad commented on [Sun Aug 19 2018](https://github.com/gradle-guides/executing-gradle-builds-on-travisci/issues/2)

Hey I just followed the guide and I'm facing the following problem - if I'm to run the build with the scan option as suggested - the gradle stops with the interactive prompt to accept scan usage conditions.

Given that there is no way for me to interact with the travis build sessio

[2019-12-23 15:54] lacasseio opened #219 "More clearly distinguish between task instances and task types"
@adammurdoch commented on [Tue Jun 06 2017](https://github.com/gradle-guides/creating-new-gradle-builds/issues/2)

This guide uses language like "configure a core task" but goes on to define an ad hoc _instance_ of a task using a core _task type_. This is one of the most fundamental concepts of Gradle, so I think it's important to be extremely clear in this guide.

I would structure things somethi

[2019-12-23 15:56] lacasseio opened #220 "Cover worker API"
@pioterj commented on [Tue Oct 03 2017](https://github.com/gradle-guides/performance/issues/13)

We should cover worker API under https://guides.gradle.org/performance/#parallel_execution

cc @ghale @eskatos @oehme

---

@pioterj commented on [Thu Oct 04 2018](https://github.com/gradle-guides/performance/issues/13#issuecomment-427083185)

This seems like a big omission that we haven't added it alr

[2019-12-23 15:56] lacasseio opened #221 "Add test coverage"
@pioterj commented on [Fri Oct 06 2017](https://github.com/gradle-guides/running-webpack-with-gradle/issues/5)

[2019-12-23 15:57] lacasseio opened #222 "Mention negative impacts of virus scanners"
@eriwen commented on [Sat Nov 04 2017](https://github.com/gradle-guides/performance/issues/14)

We've had customers who complain about `clean` time turn out to have virus scanners that significantly degrade build perf.

---

@Thunderforge commented on [Mon Jul 15 2019](https://github.com/gradle-guides/performance/issues/14#issuecomment-511525536)

Is this still an issue? Is there any hard evidence

[2019-12-23 15:58] lacasseio opened #223 "Closure recommendation for nested DSLs?"
@mkobit commented on [Tue Sep 26 2017](https://github.com/gradle-guides/implementing-gradle-plugins/issues/12)

Shouldn't the method overloads take an `Action` instead to work better with the Kotlin DSL?

---

@bmuschko commented on [Tue Sep 26 2017](https://github.com/gradle-guides/implementing-gradle-plugins/issues/12#issuecomment-332217325)

This comment is not obsolete with the release of 4.2.

[2019-12-23 15:58] lacasseio opened #224 "Wrong generated code"
@figaw commented on [Fri Aug 25 2017](https://github.com/gradle-guides/building-java-libraries/issues/16)

In [Review the generated project files](https://guides.gradle.org/building-java-libraries/#review_the_generated_project_files), the following

[code]

is not generated automatically.

It might confuse new users as to whether they should be adding it in this step in the tutorial - also because

[2019-12-23 15:59] lacasseio opened #225 "No Information about how to get the dependencies of the library"
@alexanderveit commented on [Wed Nov 29 2017](https://github.com/gradle-guides/building-java-libraries/issues/17)

`gradle build` places the generated library in the `lib` directory of the project.

However, the dependencies declared in `build.gradle` are also needed to deploy the library in the runtime environment. The doc does not describe how to achieve this.

[2019-12-23 16:00] lacasseio opened #226 "no inputs, no outputs?"
@carlolf commented on [Sun Jul 02 2017](https://github.com/gradle-guides/writing-gradle-tasks/issues/4)

While this small example shows how easy it is to define and execute a Gradle task, it misses what is crucial if a task is part of a build system: input and output definitions. To support "uptodate"...

So, I also think: do not make your examples to easy. In the end, this could lead to deception

[2019-12-23 16:00] lacasseio opened #227 "Code coverage anyone?"
@pajatopmr commented on [Sat Sep 16 2017](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/6)

I have taken a quick scan to see if there is anything to support code coverage reports herein, ala JaCoCo.  Either I have missed them or there is no such support yet.  I suspect the latter.  If there is no such support yet, this is a serious shortcoming that needs some TLC.

---

@er

[2019-12-23 16:01] lacasseio opened #228 "Signing"
@IRus commented on [Mon Oct 02 2017](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/8)

Signing recipe is missing.

[2019-12-23 16:02] lacasseio opened #229 "Multi module"
@IRus commented on [Mon Oct 02 2017](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/9)

Multi module recipe is missing.

[2019-12-23 16:02] lacasseio opened #230 "Mention 'chainsaw' plugin, an enhanced 'experimental-jigsaw'"
@zyxist commented on [Sun Oct 08 2017](https://github.com/gradle-guides/building-java-9-modules/issues/22)

Thanks for the guide!

After playing a bit with `experimental-jigsaw`, I discovered that the plugin is unusable in production scenarios, and it seems to be abandoned.

I forked the plugin and started developing a new plugin: https://github.com/zyxist/chainsaw , which picks up the topic. Curr

[2019-12-23 16:03] lacasseio opened #231 "script from installDist not working with jigsaw plugin"
@sharpTrick commented on [Sat Jan 13 2018](https://github.com/gradle-guides/building-java-9-modules/issues/24)

Building distribution using style found in 3-applications results in a bin script that can be successfully executed. However 4-plugin does not.

This issue probably belongs in the plugin's repo rather than here. At some point in time I should publish an issue wherever that is as well. Ho

[2019-12-23 16:04] lacasseio opened #232 "Cannot run step 3"
@B3J4y commented on [Fri Feb 09 2018](https://github.com/gradle-guides/building-java-9-modules/issues/26)

I cannot help myself. I started this guide from 0 and try to edit every step and till the end of 3 everything went well. But there returns a mistake which is also seen in the directory 3:
* What went wrong:
Execution failed for task ':fairy:run'.

and with stacktrace:
* What went wrong:
Execu

[2019-12-23 16:06] lacasseio opened #233 "Gradle webpack hot reload"
@Muskos commented on [Wed Apr 25 2018](https://github.com/gradle-guides/running-webpack-with-gradle/issues/8)

Hi. I'm frontend developer and work with gradle. Webpack gradle hot reload interesting topic. Would you write artical about it? May be you have any notes about it.

---

@eriwen commented on [Wed Apr 25 2018](https://github.com/gradle-guides/running-webpack-with-gradle/issues/8#issuecomme

[2019-12-23 16:07] lacasseio opened #234 "buildFile property explanation problem"
@ybasefinal commented on [Wed Mar 14 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/16)

"The buildFile property is fully-qualified path name to build.gradle, which resides in the buildDir — by default, the build subdirectory of the projectDir, the directory containing the build.gradle file."

Is this mean that build.gradle file resides in the build directory?

---

@RSLi

[2019-12-23 16:08] lacasseio opened #235 "JUnit test configuration could perhaps be simpler"
@DJViking commented on [Tue Jun 19 2018](https://github.com/gradle-guides/building-java-9-modules/issues/29)

The test configuration in the guide does not work for me
https://guides.gradle.org/building-java-9-modules/#modify_the_code_test_code_task_to_consume_the_locally_altered_module

    test {
        inputs.property("moduleName", moduleName)
        doFirst {
            jvmArgs = [

[2019-12-23 16:09] lacasseio opened #236 "Add environment management at the JVM level"
@jrlmx2 commented on [Tue Jul 03 2018](https://github.com/gradle-guides/building-java-applications/issues/7)

Adding JVM args is standard for Java applications. -Dxxx=yyyy

This IS possible through Gradle, maybe including "hello world" greeting string through a -D parameter?

[2019-12-24 04:23] lacasseio opened #237 "Application plugin configuration seems unnecessary on Gradle 4.8"
@DJViking commented on [Tue Jun 19 2018](https://github.com/gradle-guides/building-java-9-modules/issues/30)

The application plugin run configuration seems unnecessary.
https://guides.gradle.org/building-java-9-modules/#modify_the_code_run_code_task_to_use_modules

It works fine without both run{} and startScripts{} configurations running Gradle 4.8 on JDK 10.

Could it be changed from Gradle 4.7

[2019-12-24 04:23] lacasseio opened #238 "Application plugin configuration startScripts update to work on Gradle 4.8"
@DJViking commented on [Tue Jun 19 2018](https://github.com/gradle-guides/building-java-9-modules/issues/31)

<br />
The startScripts configuration in the Guide does not work with Gradle 4.8. Could it be outdated?

    djviking@machine:~/workspace/movies/build/distributions/movies-1.0-SNAPSHOT/bin> ./movies
    Error occurred during initialization of boot layer
    java.lang.module.FindException:

[2019-12-24 04:24] lacasseio opened #239 "Fix the guide to use the new Gretty plugin"
@pledbrook commented on [Wed Jul 04 2018](https://github.com/gradle-guides/building-java-web-applications/issues/17)

Also check whether there are any tests to ensure that the guide is accurate when new versions of Gradle come out.

---

@pledbrook commented on [Wed Jul 04 2018](https://github.com/gradle-guides/building-java-web-applications/issues/17#issuecomment-402401349)

See [this StackOverfl

[2019-12-24 04:26] lacasseio opened #240 "Problems with step "Refactor common build script code""
@takvorian commented on [Sat Aug 11 2018](https://github.com/gradle-guides/creating-multi-project-builds/issues/11)

I moved the groovy plugin and spock parts to the root project build script and removed them from greeting library and greeter scripts but when I run `gradlew clean build` I get the following error:

[code]

I double and triple checked all changes but I don't get what the problem is.

[2019-12-24 04:26] lacasseio opened #241 "Documentation"
@deveras commented on [Wed Sep 19 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/26)

Hi guys,

Spotted something in the docs. Tried to add:
description = "A trivial Gradle build"
version = "1.0"

to the top of my build.gradle, but when i executed ./gradlew properties i get:
FAILURE: Build failed with an exception.

I then moved the lines to the end of the file and the co

[2019-12-24 04:27] lacasseio opened #242 "Build tree creates a "libs" folder instead of "lib" folder"
@lotsoaxolotls commented on [Wed Oct 24 2018](https://github.com/gradle-guides/building-java-applications/issues/10)

While trying out the Gradle example documented at https://guides.gradle.org/building-java-applications/, I encountered an issue when trying to run the test.bat script: Error: Could not find or load main class App.

After some investigation, it turns out the batch script has the bui

[2019-12-24 04:28] lacasseio opened #243 "Link to build scan recipes in next steps"
@eriwen commented on [Tue Oct 16 2018](https://github.com/gradle-guides/creating-build-scans/issues/14)

This seems like a helpful link: https://github.com/melix/gradle-buildscan-recipes

[2019-12-24 04:28] lacasseio opened #244 "Environment Management"
@jrlmx2 commented on [Tue Jul 03 2018](https://github.com/gradle-guides/building-java-applications/issues/8)

Typically there is a local, staging, and production build process. This is usually handled through  build command line params.

I usually handle this in projects through a task + doFirst, for example

local{
    doFirst {
          classX.ext.env = "production"
     }
}

OR

gradle -Penvir

[2019-12-24 04:29] lacasseio opened #245 "Pruning sources from previous analysis, due to incompatible CompileSetup."
@timur-perelmutov commented on [Tue Oct 09 2018](https://github.com/gradle-guides/building-scala-libraries/issues/3)

compileScala and compileTestScala tasks outputs documented at https://guides.gradle.org/building-scala-libraries/ contains the following warning : "Pruning sources from previous analysis, due to incompatible CompileSetup." I observed the same outputs in my project's build output. C

[2019-12-24 04:30] lacasseio opened #246 "MacOS library path"
@tpiselli commented on [Thu Nov 15 2018](https://github.com/gradle-guides/building-cpp-libraries/issues/11)

On MacOS you'll need to change:
LD_LIBRARY_PATH=build/libs/greeter/shared/ ./build/exe/main/main
to:
export DYLD_LIBRARY_PATH=build/libs/greeter/shared/; ./build/exe/main/main
in order to get the following output:
Hello, Gradle User, your name has 11 chars.

[2019-12-24 04:31] lacasseio opened #247 "Mention that daemon needs to be explicitly enabled"
@lptr commented on [Fri Feb 22 2019](https://github.com/gradle-guides/executing-gradle-builds-on-teamcity/issues/2)

TeamCity disables the Gradle daemon by default. Since Gradle 4.3 we don't recommend the daemon to be disabled even for CI. Yet TeamCity does not have the feature to configure this, so it always adds `-Dorg.gradle.daemon=false` to the invocation:

https://youtrack.jetbrains.com/issue

[2019-12-24 04:32] lacasseio opened #248 "Jenkins Pipeline example"
@ysb33r commented on [Wed May 23 2018](https://github.com/gradle-guides/executing-gradle-builds-on-jenkins/issues/1)

This can do with an example of using Jenkins pipelines.

At this stage I think it will will still need to usin a conditional switch in the pipeline to either use gradlew or gradlew.bat because IIRC the Grasel plugin in Jenkins has nto received enough love of late to be fully pipeli

[2019-12-24 04:34] lacasseio opened #249 "Version specific description/release notes: How?"
@mpern commented on [Thu Aug 23 2018](https://github.com/gradle-guides/publishing-plugins-to-gradle-plugin-portal/issues/8)

If you check the plugins.gradle.com page of the plugin-publish plugin:
https://plugins.gradle.org/plugin/com.gradle.plugin-publish

You can see that every version has release notes as a description,.

I’m wondering how I could do that for my own plugin, I couldn’t find anyth

[2019-12-24 04:35] lacasseio opened #250 "Update guide for changes to `init` task"
@adammurdoch commented on [Fri Aug 31 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/21)

Running `gradle init` as suggested in the guide using the suggested version results in an interactive prompt, the guide should reflect this.

---

@wroth commented on [Wed Jul 17 2019](https://github.com/gradle-guides/creating-new-gradle-builds/issues/21#issuecomment-511965758)

Hmm,

[2019-12-24 04:36] lacasseio opened #251 "Clarify that this guide doesn't really describe the process that people should follow to create new builds"
@adammurdoch commented on [Fri Aug 31 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/22)

This guide introduces some generic capabilities but without any clear advice about when you'd use these things. Almost no-one starting with Gradle will _actually_ want to create a generic project from scratch and define a bunch of tasks, and we definitely should not be suggesting or

[2019-12-24 04:37] lacasseio opened #252 "Introduce applying plugins before defining new tasks"
@adammurdoch commented on [Fri Aug 31 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/23)

A new build author will much more likely be dealing with plugins and their configuration before they deal with defining new tasks. Perhaps a better order would be:

- Init the build and have a look around.
- Run `gradle tasks` to see the built-in tasks.
- Apply a plugin and run `grad

[2019-12-24 04:37] lacasseio opened #253 "Build for this guide should absolutely not accept the build scan terms and conditions on behalf of the user"
@adammurdoch commented on [Fri Aug 31 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/24)

This is really bad form for an open source project: https://github.com/gradle-guides/creating-new-gradle-builds/blob/master/build.gradle.kts#L14

[2019-12-24 04:38] lacasseio opened #254 "Instructions for generating HTML for guide runs the tests as well"
@adammurdoch commented on [Fri Aug 31 2018](https://github.com/gradle-guides/writing-getting-started-guides/issues/10)

It would be better if the guide used the conventional `./gradlew assemble` (produce the output) rather than `./gradlew build` (produce and _test_ the output). However, it seems that the getting-started-guide plugin does not do anything when running `./gradlew assemble`.

[2019-12-24 04:38] lacasseio opened #255 "The part about bundling (or not bundling) the Kotlin runtime is missing"
@adam-arold commented on [Mon Oct 01 2018](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/13)

A lot of folks seem to struggle with that part and I think it is the single most important thing to do when you are authoring a Kotlin library. What is the canonical way of handling the Kotlin runtime dependency?

[2019-12-24 04:39] lacasseio opened #256 "Current guide is not working with Java 9 on my system"
@miken700 commented on [Mon Oct 08 2018](https://github.com/gradle-guides/building-java-web-applications/issues/19)

With using Java 9, I had added this to `build.gradle` to get the appRun task to execute with out errors on the response.jsp page,

[code]

[2019-12-24 04:40] lacasseio opened #257 "Provide next steps with additional resources for build cache use"
@eriwen commented on [Thu Nov 01 2018](https://github.com/gradle-guides/using-build-cache/issues/40)

Instead or in addition to a summary, we should include additional information including links to:

 * User manual chapter
 * Build Cache webcast
 * GE build cache resources

[2019-12-24 04:40] lacasseio opened #258 "Mention build cache under the "easy improvements" section"
@big-guy commented on [Fri Nov 09 2018](https://github.com/gradle-guides/performance/issues/25)

Our [easy improvements](https://guides.gradle.org/performance/#easy_improvements) recommend using the newest version of Gradle, the latest JDK and enabling `--parallel`.  Enabling `--build-cache` is also a big improvement that could be made to most builds.  The guide does mention the build cache, but i

[2019-12-24 04:41] lacasseio opened #259 "use build init plugin to create the project"
@jlstrater commented on [Sat Nov 17 2018](https://github.com/gradle-guides/building-kotlin-jvm-libraries/issues/16)

Per https://github.com/gradle-guides/building-kotlin-jvm-libraries/pull/15

[2019-12-24 04:42] lacasseio opened #260 "Suggest Ant for alternative to org.gradle.internal.os.OperatingSystem?"
@rhencke commented on [Wed Nov 14 2018](https://github.com/gradle-guides/designing-gradle-plugins/issues/12)

In the document Authoring Maintainable Build Scripts, under [Alternatives for oft-used internal APIs](https://docs.gradle.org/current/userguide/authoring_maintainable_build_scripts.html#alternatives_for_oft_used_internal_apis), there is a passage that reads:

There is another alternative I

[2019-12-24 04:43] lacasseio opened #261 "Avoid mixing sources advice"
@eriwen commented on [Wed Dec 05 2018](https://github.com/gradle-guides/performance/issues/26)

Some compilers have a hard time with mixed sources (Java+Groovy or Kotlin, say) in the same source directory.

Having this makes incremental compilation harder to achieve because tools don't know in advance if there is a cyclic type dependency between Groovy => Java => Groovy, say, making things slower.

[2019-12-24 04:43] lacasseio opened #262 "Suggest modularizing into separate projects to improve perf"
@eriwen commented on [Thu Dec 06 2018](https://github.com/gradle-guides/performance/issues/27)

Modularizing allows for finer-grained caching/up-to-date checks and isolating sources having annotation processing.

This isn't yet mentioned in the performance guide and should be. It's much more impactful than a bunch of suggestions on it.

---

@eriwen commented on [Thu Dec 06 2018](https://github.co

[2019-12-24 04:45] lacasseio opened #263 "Fix class file for groovy.lang.GroovyObject not found"
@rsalama commented on [Sun Dec 16 2018](https://github.com/gradle-guides/creating-multi-project-builds/issues/16)

In order to fix the following error;
[code]

Add
[code]
to the dependencies in build.gradle.kts

[2019-12-24 04:46] lacasseio opened #264 "Example build fails"
@NorthPoleLars commented on [Mon Dec 24 2018](https://github.com/gradle-guides/creating-new-gradle-builds/issues/29)

Just installed Gradle 5.0 and following instructions on https://guides.gradle.org/creating-new-gradle-builds/.

It doesn't work as expected:

mbp-09:gradle-demo {{username}}$ ./gradlew copy
Downloading https://services.gradle.org/distributions/gradle-5.0-bin.zip  <-- what caused th

[2019-12-24 04:47] lacasseio opened #265 "gradle init prompts for build script DSL"
@glennoph commented on [Fri Jan 04 2019](https://github.com/gradle-guides/building-java-libraries/issues/24)

Executing the following command from gradle 5.1 :
[code]
Prompts for build script DSL:
[code]

This was unexpected from the getting started guide.

---

@das-g commented on [Fri Apr 05 2019](https://github.com/gradle-guides/building-java-libraries/issues/24#issuecomment-480297187)

This pr

[2019-12-24 04:48] lacasseio opened #266 "Typo on section 4.1 to run webpack"
@tchau commented on [Sun Jan 06 2019](https://github.com/gradle-guides/running-webpack-with-gradle/issues/9)

The code on step 4.1 has a typo (https://guides.gradle.org/running-webpack-with-gradle/):

    commandLine "$projectDir/node_modules/.bin/webpack", "app/index.js", "$buildDir/js/bundle.js"

needs to be

    commandLine "$projectDir/node_modules/.bin/webpack", "app/index.js", "-o=$buildDir/

[2019-12-24 04:48] lacasseio opened #267 "How to use resources?"
@ghost commented on [Sat Jan 12 2019](https://github.com/gradle-guides/building-java-applications/issues/13)

Hello,

In the guide, there's no mention of using resources. May I ask if you could add some examples of these?

- How to add resources (images...) to the project.
- How to obtain the resources in run time.

Thank you,

---

@pledbrook commented on [Wed Jan 23 2019](https://github.com/grad

[2019-12-24 04:49] lacasseio opened #268 "Typo and missing link"
@sannidhi01 commented on [Sat Feb 02 2019](https://github.com/gradle-guides/building-java-9-modules/issues/34)

In section [Step 2 - Produce Java 9 modules for all subprojects](https://guides.gradle.org/building-java-9-modules/#step_2_produce_java_9_modules_for_all_subprojects), link in information note should:
1. Read as 'Change 5' and not as 'Change 6'
2. Point to apt location.

[2019-12-24 04:49] lacasseio opened #269 "It is not clear where to add version property in build script"
@mvsagar commented on [Tue Feb 05 2019](https://github.com/gradle-guides/building-java-libraries/issues/26)

A minor issue that may bother developers new to Groovy.
Section "Customize the Library JAR" (https://guides.gradle.org/building-java-libraries/#customize_the_library_jar) of the Gradle user manual says version property should be set at top-level in build script build.gradle. But it is not c

[2019-12-24 04:50] lacasseio opened #270 "gradle init --type java-application command does not ask for any values"
@garybentley commented on [Tue Feb 12 2019](https://github.com/gradle-guides/building-java-applications/issues/16)

Using gradle 5.2.1 running the command:

did not ask me any questions, it only produced the following result:

BUILD SUCCESSFUL in 1s
2 actionable tasks: 2 executed

The guide suggests that it should be asking me for some values but it's not.

---

@das-g commented on [Fri Apr 05 201

[2019-12-24 04:50] lacasseio opened #271 "how to add a unit test for the task?"
@soloturn commented on [Sun Feb 24 2019](https://github.com/gradle-guides/writing-gradle-tasks/issues/14)

in former times, one could do for the unit test:
[code]

can you please add a unit test for your hello-world task which checks it is working ok?

[2019-12-24 04:51] lacasseio opened #272 "How to import an XML parser in a gradle task for an Android library module"
@sahibjaspal commented on [Thu Apr 04 2019](https://github.com/gradle-guides/writing-gradle-tasks/issues/15)

I get this compile time error when I try to XmlPullParser

`Caused by: org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:
script '/Users/sahibjaspal/Documents/trailmix-android/lib/generatetypography.gradle': 2: unable to resolve class org.xmlpull.v1.XmlPullPars

[2019-12-24 04:51] lacasseio opened #273 "Tests can not create objects..."
@Novanic commented on [Mon Apr 22 2019](https://github.com/gradle-guides/building-java-9-modules/issues/35)

When I try to run my tests with using the module-path instead of the class-path, I get the following exception. JUnit can not access the constructor of a class which is not within the module-path? In my opinion JUnit should have access to all resources (white box testing). Extending the pro

[2019-12-24 04:52] lacasseio opened #274 "The appRun task fails on JSP compile"
@rnikander commented on [Fri May 03 2019](https://github.com/gradle-guides/building-java-web-applications/issues/21)

I get this when I do `gradle appRun` and post to the servlet. I've tried it on Java 10 and 12 on macOS. Gradle version 5.4.

    May 03, 2019 1:13:15 PM org.apache.jasper.compiler.Compiler generateClass
    SEVERE: Error compiling file: /Users/[...]/hiweb/build/serverBaseDir_jetty9

[2019-12-24 04:53] lacasseio opened #275 "dependency version related error"
@qiaojjun commented on [Tue Dec 11 2018](https://github.com/gradle-guides/building-spring-boot-2-projects-with-gradle/issues/6)

when i step on follow the guide , i encountered the following error:
********************

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':compileJava'.

     Required by:
         project :

* Try:
Run with --stacktrace option to

[2019-12-24 04:53] lacasseio opened #276 "Task :signArchives FAILED"
@jasonwzhu commented on [Fri Feb 15 2019](https://github.com/gradle-guides/executing-gradle-builds-on-jenkins/issues/3)

I am following the guide at this location
https://guides.gradle.org/executing-gradle-builds-on-jenkins/
checked out and ran ".gradlew build", but with the following errors:

gpg: no default secret key: No secret key
gpg: signing failed: No secret key

FAILURE: Build failed with

[2019-12-24 04:54] lacasseio opened #277 "Consider adding a prominent, initial, “why” section"
@ldaley commented on [Mon Jun 25 2018](https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/issues/7)

I think it would be worth succinctly communicating to users in this document why they might want to migrate. I think this should be in addition to the existing content.

I don't think we should assume that everyone is with us on this journey. We need to help people underst

[2019-12-24 04:55] lacasseio opened #278 "Code samples should show kotlin version as default"
@breskeby commented on [Tue Jun 26 2018](https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/issues/9)

It would be better to show the kotlin version of code samples by default than the groovy version. By default currently all build script samples show the groovy version. this is misleading. Especially when you don't read the full guide but are just looking for sample snip

[2019-12-24 04:55] lacasseio opened #279 "Cover possible problem with NamedDomainObjectContainer"
@gildor commented on [Thu Jul 12 2018](https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/issues/13)

Currently, one of the biggest confusions, when you migrate from Groovy to Kotlin, is aproblem with converting from `NamedDomainObjectContainer` to `NamedDomainObjectContainerScope` in some plugins.
Given:
To have nice invoke syntax for NamedDomainObjectContainer like:
[co

[2019-12-24 04:56] lacasseio opened #280 "Explain how to mix Groovy/Kotlin project scripts when not using the default script names"
@eskatos commented on [Fri Aug 10 2018](https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/issues/19)

without hitting the disk in the settings file.

Good
https://github.com/gradle/gradle/blob/dd3e28584484fe44ca19f9d25b794d464aef800c/settings.gradle.kts#L110-L184

Bad
https://github.com/gradle/dotcom/blob/5aa75173ff84d13d597761c64ce1de87b296e0a8/settings.gradle.kts#L87

[2019-12-24 04:56] lacasseio opened #281 "mention how to install kotlin-gradle-plugin in plugins block"
@keturn commented on [Tue Oct 02 2018](https://github.com/gradle-guides/migrating-build-logic-from-groovy-to-kotlin/issues/26)

The guide says

so I tried doing that first. Since my project is a Kotlin project, one of the plug-ins I had to use in the `plugins` block is the Kotlin one.

It's not a core plugin in, and though it was `kotlin-gradle-plugin` when I was adding it to my classpath in the b

[2019-12-24 04:57] lacasseio opened #282 "Clarify advantage of intra-project parallelism"
@pioterj commented on [Fri Oct 05 2018](https://github.com/gradle-guides/using-the-worker-api/issues/3)

We currently start the guide with:

It imples what can be summarized with the feedback we received:

What worker API very importantly also provides is safe parallelism of tasks within a single project. Let's make sure we make this point clearly at the beginning of the guide.

[2019-12-24 04:58] lacasseio opened #283 "Gradle Distribution Version Needs to be Updated"
@thepri10 commented on [Wed May 15 2019](https://github.com/gradle-guides/building-java-9-modules/issues/37)

https://github.com/gradle-guides/building-java-9-modules/blob/24a72dc50734db670c6e5227da13ad3f12f71786/src/1-single-module/gradle/wrapper/gradle-wrapper.properties#L1

The Gradle version has to be `4.3` _or above_, otherwise `gradle run` command fails as gradle is not able to resolve `guav

[2019-12-24 04:58] lacasseio opened #284 "Build Guide Doesn't Help With No Src, or No Run Issues"
@Paula9t9 commented on [Wed May 22 2019](https://github.com/gradle-guides/building-java-applications/issues/21)

Following the [build guide](https://guides.gradle.org/building-java-applications/), I ran into three issues:

1. Gradle initialized with no src directory
2. build/reports/tests/test/index.html gave me a "Permission denied" error
3. run was not listed as an available task

While I am per

[2019-12-24 04:59] lacasseio opened #285 "Slash required on urlPatterns for @WebServlet annotations"
@pla1 commented on [Thu May 30 2019](https://github.com/gradle-guides/building-java-web-applications/issues/25)

Using Apache Tomcat/9.0.20 servlet API 4.0.1 I had to change
`@WebServlet(name = "HelloServlet", urlPatterns = {"hello"}, loadOnStartup = 1)`
to
`@WebServlet(name = "HelloServlet", urlPatterns = {"/hello"}, loadOnStartup = 1)`

---

@ETLJ commented on [Tue Nov 12 2019](https://github.co

[2019-12-24 04:59] lacasseio opened #286 "weak guide"
@hgfeaon commented on [Wed Jun 12 2019](https://github.com/gradle-guides/building-spring-boot-2-projects-with-gradle/issues/12)

1. why this guide mention the un-necessary concepts like build-scan, is it a right thing to expose the build info to the public network when the gradle used in-house software development
2. the dependency with the bom example is very ugly

[2019-12-24 05:00] lacasseio opened #287 "The hostname 'scans-in.gradle.com' could not be resolved."
@mmoser18 commented on [Mon Jun 17 2019](https://github.com/gradle-guides/executing-gradle-builds-on-jenkins/issues/9)

After commenting the signing part the build succeeds but uploading the produced scan fails with the subject error message. It seems that such scan-uploads are not supported anymore.

The error message reads:
...
BUILD SUCCESSFUL in 32s
13 actionable tasks: 7 executed, 6 up-to-dat

[2019-12-24 05:01] lacasseio opened #288 "dependency handling seems wrong"
@jnizet commented on [Sat Jul 06 2019](https://github.com/gradle-guides/building-spring-boot-2-projects-with-gradle/issues/13)

First, the guide starts by adding this plugin:

    id 'io.spring.dependency-management' version '1.0.7.RELEASE'

and then says:

which are completely contradictory.

The guide continues with

    implementation 'org.springframework.boot:spring-boot-dependencies:2.0.5.REL

[2019-12-24 05:02] lacasseio opened #289 "Building CPP Executables Tutorial Issue"
@grasshopper47 commented on [Mon Jul 08 2019](https://github.com/gradle-guides/building-cpp-applications/issues/13)

https://guides.gradle.org/building-cpp-applications/

Section "Add Source Code" says:

$ mkdir src/main/cpp

and place a main.cpp and a greeting.**hpp** within.

--------------------------------------------------------------
_src/main/cpp/main.cpp_
----------------------------------

[2019-12-24 05:02] lacasseio opened #290 "Error when trying the tutorial: Could not get unknown property 'org'"
@etienne-sf commented on [Thu Jul 11 2019](https://github.com/gradle-guides/writing-gradle-plugins/issues/17)

Hello,

  Thanks for all your docs.
Very complete.

But I'm stuck on the tutorial at this point:
https://guides.gradle.org/writing-gradle-plugins/#apply_the_plugin_to_the_host_project

It's on this line:

apply plugin: org.example.greeting.GreetingPlugin

I get this error:
 Could not get

[2019-12-24 05:03] lacasseio opened #291 "Can't repeat first sample (LatestArtifactVersion)"
@etienne-sf commented on [Thu Jul 11 2019](https://github.com/gradle-guides/implementing-gradle-plugins/issues/29)

Hello,

I'm trying to write a Gradle plugin. But I can't succeed in making the providing samples work.
Even the simplest !
:(

I tried the sample of this part:
https://guides.gradle.org/implementing-gradle-plugins/#writing-and-using-custom-task-types

The code I tried is in this zip

[2019-12-24 05:03] lacasseio opened #292 "Outdated URL on guides.gradle.com"
@Frederikam commented on [Thu Jul 11 2019](https://github.com/gradle-guides/building-cpp-applications/issues/14)

This url at https://guides.gradle.org is outdated:
![image](https://user-images.githubusercontent.com/2582617/61064339-df501200-a401-11e9-8ad0-3f1b985db58b.png)
It leads to https://guides.gradle.org/building-cpp-executables/ (404)
It should be https://guides.gradle.org/building-cpp-app

[2019-12-24 05:04] lacasseio opened #293 "Running functional test error"
@abcfy2 commented on [Fri Jul 12 2019](https://github.com/gradle-guides/building-java-web-applications/issues/28)

I run the command from here: https://guides.gradle.org/building-java-web-applications/#run_the_functional_test

[code]

`NoSuchMethodError`, seems something wrong with Selenium, but I don't know how to solve. Please help

---

@abcfy2 commented on [Fri Jul 12 2019](https://github.com/

[2019-12-24 05:05] lacasseio opened #294 "CI/CD implication with multi project builds"
@jerryyanmj commented on [Tue Jul 23 2019](https://github.com/gradle-guides/creating-multi-project-builds/issues/26)

I have been practicing this approach in my project for a while.  I think this is a great way to architect multi module project.  However, this does give us some on going challenging with CI/CD setup.  We have the following setup.
- Root project
   + Sub module 1
   + Sub module 2

[2019-12-24 05:05] lacasseio opened #295 "Constraints on the "WorkParameters" interface"
@nedtwigg commented on [Tue Aug 20 2019](https://github.com/gradle-guides/using-the-worker-api/issues/10)

What [the guide says](https://guides.gradle.org/using-the-worker-api/#converting_to_the_worker_api):

- Use `Property` objects to represent the source and MD5 hash files.

What I found to be true after some trial and error:

- Every method in the interface needs to start with `get`
- Every me

[2019-12-24 05:06] lacasseio opened #296 "Cache config guidance differs from gradle-site-plugin"
@3flex commented on [Wed Aug 21 2019](https://github.com/gradle-guides/executing-gradle-builds-on-travisci/issues/9)

https://github.com/gradle-guides/gradle-site-plugin/pull/21 changed the Travis caching config from what's recommended in this guide.

I'd expect the plugin best practice example to match docs, so if the docs need updating to align, would be good to do that to ensure the most effici

[2019-12-24 05:06] lacasseio opened #297 "Using '--module' for application main corrupts arguments to main()"
@dbramel commented on [Wed Aug 28 2019](https://github.com/gradle-guides/building-java-9-modules/issues/43)

First off, thanks to the contributors here. I'm new to both Gradle and Java modules, and these guides have been a big help.

Now, the issue: when converting an application to use a main class that is in a module via '--module \<module\>/\<mainclass\>' the command line gets screwed up so tha

[2019-12-24 05:07] lacasseio opened #298 "Plugin ala InhouseConventionJavaPlugin but with Extension Question"
@chhex commented on [Thu Sep 05 2019](https://github.com/gradle-guides/implementing-gradle-plugins/issues/30)

I am not quite sure if i am here right with my Question. I am a relativ newbie to the fascinating world of writing Gradle Plugins. Your Guides and Documentation are great.  Maybe my questions can also contribute?

Background: I want to write a Inhouse specific strongly opinated Plugin, wh

[2019-12-24 05:08] lacasseio opened #299 "Guidelines for multiple executors on 1 Master Jenkins Node?"
@mrk-han commented on [Sat Sep 07 2019](https://github.com/gradle-guides/performance/issues/34)

I am wondering if there are any resources available that would help with running on Jenkins and optimizing 1 Node with several Executors. I am wanting to follow these guidelines but unsure if they would also apply to my situation.

Perhaps there should be warning about not following certain things when

[2019-12-24 05:08] lacasseio opened #300 "Potential Contradiction in Allocated Heap Statements"
@mrk-han commented on [Sat Sep 07 2019](https://github.com/gradle-guides/performance/issues/35)

https://docs.gradle.org/current/userguide/gradle_daemon.html#sec:how_much_memory_does_the_daemon_use_and_can_i_give_it_more
![image](https://user-images.githubusercontent.com/22263679/64460567-b29a3d00-d0c8-11e9-9c1f-6812ccaa8577.png)

**vs**

https://guides.gradle.org/performance/#adjust_the_daemon_s_

[2019-12-24 05:09] lacasseio opened #301 "basic example improvements and questions"
@InannaInai commented on [Tue Sep 10 2019](https://github.com/gradle-guides/creating-new-gradle-builds/issues/39)

Dear authors,

I've tried to recreate the examples of: https://guides.gradle.org/creating-new-gradle-builds/

I'd like to add some improvements and questions to the code:

1) ./gradlew copy
As I'm using Windows it should be .\gradlew copy

2) Proxy
the 1) did not work for me as the co

[2019-12-24 05:09] lacasseio opened #302 "Create android app from comand line"
@frog-o commented on [Sat Nov 09 2019](https://github.com/gradle-guides/creating-new-gradle-builds/issues/40)

I was seaching everywhere to try to figure out how to create a new android app  **with out android studios** useing gradle (I dont like there ide).

I read on you site if you think something is missing from the gradles doc make an issue so I am here.

I think it is a little off topic, but

[2019-12-24 05:10] lacasseio opened #303 "Greeting plugin uses buildSrc directory which cannot be published"
@mikemac42 commented on [Tue Nov 26 2019](https://github.com/gradle-guides/writing-gradle-plugins/issues/18)

If you develop the greeting plugin in the tutorial, you end up with a plugin that can only be used in that project (as far as I can tell).  I felt very confused when following the Next Steps links and tried to publish the plugin for use in a different project.  Eventually I found out that

[2019-12-24 05:10] lacasseio opened #304 "URL: https://docs.gradle.org/current/userguide/managing_transitive_dependencies.html#sec:bom_import gives me a HTTP 404"
@taxdawg commented on [Mon Dec 09 2019](https://github.com/gradle-guides/building-spring-boot-2-projects-with-gradle/issues/14)

reading document on this page

https://guides.gradle.org/building-spring-boot-2-projects-with-gradle/
There is a section that has an information icon with this text

If you’d like to read more about Gradle’s BOM support please visit this page.

Which directs me to this U

[2019-12-24 05:51] lacasseio opened #305 "Tests should not be up-to-date after changes to asciidoc content"
@eriwen commented on [Fri Jan 12 2018](https://github.com/gradle-guides/gradle-guides-plugin/issues/19)

We must properly declare task I/O. Currently tasks do not re-run if only content is changed.

[2019-12-24 05:53] lacasseio opened #306 "Introduce versioning/release strategy"
@bmuschko commented on [Wed Aug 30 2017](https://github.com/gradle-guides/gradle-guides-plugin/issues/14)

The plugin was designed to publish a new version of the plugin with every commit. CI compiles the code, runs the tests, creates the archive and publishes it to the plugin portal. Publishing to the portal requires setting a new version for the project. Otherwise, publishing will fail and there

[2019-12-24 05:54] lacasseio opened #307 "Community plugin author uses documentation plugins to produce documentation for their plugin"
@adammurdoch commented on [Tue Sep 05 2017](https://github.com/gradle-guides/gradle-guides-plugin/issues/15)

It should be easy for a community plugin author to use the documentation plugins to produce some HTML documentation about their plugin, without that documentation necessarily being destined for or hosted on `guides.gradle.org`.

The documentation plugins should, perhaps optionally, produce

[2019-12-24 05:55] lacasseio opened #308 "Handle case where remote sites don't support HEAD verb."
@ysb33r commented on [Tue Jun 13 2017](https://github.com/gradle-guides/gradle-guides-plugin/issues/4)

`checkLinks`: In some cases, like www.scalatest.org, using HEAD on a URL will return 404, but GET on the same URL will work. It might be worthwhile to have a failover where when HEAD fails, then falling back to GET is an option. In this case the call should not retrieve full content at the URL,

[2019-12-24 05:55] lacasseio opened #309 "Check link anchors are valid in `checkLinks` task"
@lacasseio commented on [Fri May 24 2019](https://github.com/gradle-guides/gradle-guides-plugin/issues/42)

To avoid issue shown in PR https://github.com/gradle-guides/using-build-cache/pull/36

[2019-12-24 06:21] lacasseio opened #310 "Negative letter spacing makes font hard to read"
@Chatanga commented on [Feb 6, 2018](https://github.com/gradle-guides/style-guide/issues/4#issue-294755879)

The CSS used for the various guides uses a negative letter-spacing of -0.01em, making the Lato font hard to read. With Firefox running on Linux at least, words are not clearly separated and characters sometimes overlap. Per instance, the "ce" in "since" is displayed the same way as the fren

[2019-12-24 10:36] apryamostanov commented on #204
Kind reminder.

[2019-12-30 14:33] neelkamath commented on #190
I would like to try to write a Gradle Guide for creating Docker images for JVM applications.

[2020-01-02 08:59] lacasseio commented on #204
Sorry for not replying on the PR, we moved all the guides to this repository and archived the other one. I will reply here. I believe your concern is well founded on avoiding to leak the Groovy binary transitively in some cases. I think it's a bigger discussion to have in the sense that if we want to guide the users to use `compileOnly`, then the `init` template should probably also use `compileOn

[2020-01-02 10:20] apryamostanov commented on #204
Sounds great, thank you!

Will wait for updates.

[2020-01-02 10:53] lacasseio commented on #190
Thanks for your interest in this topic. The first thing to clarify would be what is the common scenario we are trying to solve here? With the new sample infrastructure we are rolling out, this could also be a set of samples that we could show for Gradle. Let me raise this internally and see what others may be thinking about this.

[2020-01-02 12:36] neelkamath commented on #190
I'm not sure what _exactly_ the Gradle Team has in mind. I have found that many people (including me) have a difficult time setting up Docker images for Gradle JVM programs because it isn't as simple as setting up a Dockerfile for something like a Python program (in fact, I still haven't fully figured out how to successfully change the user in a Dockerfile for running a JAR).

[2020-01-07 10:01] lacasseio commented on #190
Thanks for the comment, I will leave the @gradle/dependency-management team to follow up on this issue. For reference, here is the internal discussion: https://gradle.slack.com/archives/C03A0MT6S/p1577962475017800

The quick summary is there are quite a few scenario this issue can cover. It would probably be best to start with some lower investment into writing samples to solve the most common sce

[2020-01-21 18:22] spottedmahn opened #321 "Help Improve Link to Old Repo"
On https://guides.gradle.org/building-java-libraries/#next_steps

It points to https://github.com/gradle-guides/building-java-libraries/ which is the **old repo** apparently.

![image](https://user-images.githubusercontent.com/14079228/72831499-05782980-3c51-11ea-9c60-b72785023527.png)

I tracked this down to this commit https://github.com/gradle/guides/commit/8bdac55e2d396bb24e3c365b3bc7a254c1984

[2020-01-21 18:25] spottedmahn opened #322 "Missing Improve Guild Link on Managing Dependencies of JVM Projects"
On https://docs.gradle.org/current/userguide/dependency_management_for_java_projects.html it is missing the "help improve this guide".

![image](https://user-images.githubusercontent.com/14079228/72831721-6273df80-3c51-11ea-9915-345140e823d6.png)

Is that by design?  Maybe b/c it's not a "guide"?

[2020-01-21 18:27] spottedmahn opened #323 "Add testRuntimeOnly to Managing Dependencies of JVM Projects"
On https://docs.gradle.org/current/userguide/dependency_management_for_java_projects.html#sec:configurations_java_tutorial shouldn't `testRuntimeOnly` also be listed?

Under this section:

![image](https://user-images.githubusercontent.com/14079228/72831876-b7aff100-3c51-11ea-8434-3108672cbc10.png)

[2020-01-24 11:09] lacasseio commented on #322
I'm not seeing what you are seeing, could you verify if it wasn't another link?

[2020-01-24 11:11] lacasseio commented on #321
Yes, this message is being updated. We just need to release the change which should come soon.

[2020-01-24 15:09] spottedmahn commented on #322
verified, still missing.

I printed the page to a pdf of that helps clarify what I'm seeing: [Managing Dependencies of JVM Projects.pdf](https://github.com/gradle/guides/files/4109112/Managing.Dependencies.of.JVM.Projects.pdf)

[2020-01-24 15:10] spottedmahn commented on #321
great, thanks!!

[2020-01-24 15:10] #321 closed

[2020-02-05 15:14] bradydowling commented on #119
Seems like its been a while on this. That said, I found [this guide](https://objectpartners.com/2016/04/22/using-webpack-with-gradle/) that is similar and could help for reloading JS files without having to restart the server.

[2020-02-11 02:28] blindpirate opened #332 "Samples plugin creating new directories while clean task is running"
### Context

Looking at https://builds.gradle.org/viewLog.html?buildId=31229195&buildTypeId=Gradle_Check_AllVersionsCrossVersion_10_bucket3

Samples tasks seem to be creating directories `build/tmp/generateJavaApplicationPage` while `docs:clean` is running. This causes the build failure.

@big-guy WDYT?

[2020-02-12 20:34] adammurdoch opened #333 "Build logic can inject some value into the tests for a sample"
I would like to create a sample that, amongst other things, demonstrates how to write build logic that requires the user to provide some piece of configuration to the build, via a system property. However, there does not appear to be a way for the build logic that defines the sample to provide this configuration, and so the test fails.

In my particular case, the value represents the location of a

[2020-02-15 03:13] tommai78101 opened #334 "What is the final file structure tree of the multi-project Gradle build?"
In this guide here:

https://guides.gradle.org/creating-multi-project-builds/

I do not know what the final file structure tree looks like. I felt like I'm following along what the guide is teaching me, but I have a vague idea of what the file structure tree would end up as.

Can someone show a quick image of the final folder directory tree structure once someone gets to the very end of the guide?

[2020-02-17 20:36] JLLeitschuh commented on #334
I believe that this matches up.

https://github.com/gradle/guides/tree/master/subprojects/creating-multi-project-builds/samples/groovy-dsl

[2020-02-18 02:01] james-moliere opened #335 "Documentation for Selenium tests do not belong in 'test' directory..."
I'm sorry to say, the documentation at url
https://guides.gradle.org/building-java-web-applications/

describes functional tests, not unit tests.  These tests should be in a directory called functionalTest.

Please create documentation that reflects what the tests really are.

[2020-02-18 14:29] tommai78101 commented on #334
@JLLeitschuh Thanks. Could that link be added to the end of the guide, so that it can be used as a reference to what the final file structure is like by the time someone finishes the guide?

Thanks.

[2020-02-18 17:10] JLLeitschuh commented on #334
Technically it is. But it's not the most clear. PRs are more than welcome to help make this information more discoverable.
https://guides.gradle.org/creating-multi-project-builds/#help_improve_this_guide

[2020-02-19 07:53] blindpirate commented on #332
This issue happens again: https://e.grdev.net/s/itidqri5dyphs

It seems to be that `docs/build/tmp/XX` directory is prematurely created by https://github.com/gradle/guides/blob/ea9347fb02f3f07f0be468f8e0a56700ce6f6ff6/subprojects/gradle-guides-plugin/src/main/java/org/gradle/docs/samples/internal/SamplesDocumentationPlugin.java#L237

I'll try to submit a PR.

[2020-02-19 23:18] #332 closed

[2020-02-20 04:09] blindpirate opened #339 "Make CheckLink task cacheable"
### Context

`CheckLink` tasks are expensive, can we make it cacheable, for example, make the date as input, so the same doc won't be checked in the same day?

[2020-02-21 01:17] llamahunter opened #340 "how do you test a gradle plugin locally?"
The page on 'how to test your plugin' glosses over how to configure 'apply plugin' to pull from maven local.  How do you use your plugin that you've published to mavenLocal?

[2020-02-21 03:48] big-guy commented on #340
This should be flushed out more, but to answer your question: Don't publish to maven local, just use a composite build.

Assuming this sort of structure:
[code]

In `my-plugin-consumer`, you can do `./gradlew --include-build ../my-plugin ...` to include "my-plugin" as part of the composite build and Gradle will automatically build my-plugin if my-plugin-consumer applies the plugin.  You need to us

[2020-02-21 19:31] Mogztter opened #341 "Upgrade the creating-multi-project-builds guide to the latest version of the Asciidoctor plugin"
- Documentation: https://asciidoctor.github.io/asciidoctor-gradle-plugin/development-3.x/user-guide/
- Plugin: https://plugins.gradle.org/plugin/org.asciidoctor.jvm.convert

[2020-02-24 12:26] DarkPerl opened #342 "How to configure and build a C++ application using cygwin gcc and gradle cpp-application plugin"
Hello!
How to configure the plugin to work with the gcc compiler?
I use widows 7 64 + cygwin64.
What is the relationship between
model {...} and application { targetMachines = [ machines.windows.x86, machines.windows.x86_64 ] }
Is there a logical connection between them?
Does the plugin use the model section? (patforms, buildTypes, toolChains, etc...)
If so, how to set it up?
What options are supp

[2020-02-24 14:02] sirkkalap opened #343 "How to manage Gradle build cache"
I would love to see some instructions about lifetime management of Gradle build cache.

Is it safe to remove the cache folder?

How should one prepare a workdir for dormant times?

What should you remember to do to the cache when returning to a project after a year or two?

[2020-02-24 15:21] DarkPerl commented on #342
How to disable all default compiler and linker options for a plugin?

[2020-02-26 19:50] DarkPerl commented on #342
plugin cpp-application uses the wrong compiler and settings.
`toolChains {
        gcc(Gcc) {
        target('x86') {
        println "getCppCompiler().executable = " + getCppCompiler().executable // **result: g++**
// ...
}

application {
    targetMachines = [ machines.windows.x86 ]
}
`
Please, correct it.

[2020-02-26 21:35] rettal opened #344 "Clarity enhancement"
Message relates to following guide: https://guides.gradle.org/implementing-gradle-plugins/

Regarding the ServerEnvironmentPlugin section of the guide it is not clear what `serverEnvironment.getName` would return?

It is not clear what getName will return because 3 names are defined in the DSL shown.

This is first time I am writing a plugin so apologies if I am missing something.

Thank you,
Dani

[2020-02-26 21:41] rettal commented on #343
In my opinion a cache by is a bin that you can easily empty without any problems.

That being said, cache warmups in production will be noticeable so this should be considered, and if you delete the cache after 2 years and your app doesn't run, the likely issue is upgrades to packages and BC breaks.

[2020-02-26 22:01] rettal commented on #340
I had the same issue, but you can add a build script to load the jar from the filesystem.

First I generate a Jar for the custom plugin then add the Jar to a test project to test the plugin:
`buildscript {
    repositories { flatDir name: 'libs', dirs: "./build/libs" }
    dependencies { classpath
'custom-plugin:custom-plugin:1.0' }
}`

And then use `apply plugin: plugin-id`

[2020-02-27 14:04] stabbotco1 commented on #209
+1 The main reason I looked at this demo was exactly tp see basic pattern to consume constructed library.

[2020-03-02 21:30] Barblebee opened #346 "Tests fail if directory name "demo-java-library" is used instead of "demo""
Hello,
I am new to java and gradle. When I followed the "Building Java Libraries" guide I used a different directory name ("java-library" instead of "demo"). When I executed the build the test failed. I recreated the project with different testing frameworks (all 4) while using the same directory name. The tests always failed. I found out that It worked when I created the directory with a "_"-char

[2020-03-02 21:34] Barblebee commented on #264
Hi Lacasseio,
try changing the project name (/directory) from "gradle-demo" to somethong wihtout "-" like "gradle_demo". It seems as if "-"-signs would not be a good choice here. I have a similar or the same problem, see my post https://github.com/gradle/guides/issues/346

[2020-03-03 09:01] mfredenhagen commented on #346
Hello Kai
There is a naming convention for package names that doesn't allow hyphens in the name and that should be replaced by underscores. See https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html#jls-6.1 for details about names in Java. Please also note that `java` or `javax` are reserved package names.

Regards Mario

[2020-03-03 22:04] #346 closed

[2020-03-03 22:57] adammurdoch commented on #346
@big-guy we should add an issue to fix the build init templates to munge the directory name to produce a valid default package name, or to fail when it cannot.

[2020-03-04 09:57] Barblebee commented on #346
Thank you very much for your reply, Mario!

[2020-03-09 21:06] JLLeitschuh commented on #344
Does this help out at all?

The below code would create 3 instances of a `ServerEnvironment` each would have a different name.

[code]

[2020-03-10 09:59] wolfs commented on #343
It is, though why would you want to remove it?

Don't do anything, there is no need for preparation.

There is nothing to do.

As @rettal said `a cache is a bin that you can easily empty without any problems` - so if the project lies dormant for some time, then there probably won't be anything in the cache when you come back to it since the automatic cleanup removed those entries. And that is perf

[2020-03-10 10:27] sirkkalap commented on #343
Thank you for clarifying this. :)

[2020-03-16 20:04] siilike commented on #119
I wrote a plugin for building JavaScript (web) applications: https://github.com/siilike/gradle-javascript-toolkit

[2020-03-18 11:32] daggerok opened #351 "Cannot see Spock failed tests error messages with Gradle 6.2.2"
# steps to reproduce

## clone project and run tests

[code]

## actual

[code]

## expected

see similar error message, like I can see in my IDEA:
![image](https://user-images.githubusercontent.com/2445604/76955618-2ee4c700-691b-11ea-9b65-70bf13695ff8.png)

or similar to what I can see in build/reports:
![image](https://user-images.githubusercontent.com/2445604/76955838-9ac72f80-691b-11ea-90cc-f0

[2020-03-23 15:55] dogcow opened #352 "Gradle Guides, Building Java Web Application - Gradle build throwing java.lang.IllegalStateException"
The "Building Java Web Application" guide does not work with Gradle v6.2.2.  When I try to build the webdemo, gradle throws an IllegalStateException, "The configuration :grettyNoSpringBoot was resolved from a thread not managed by Gradle."

[code]

[2020-03-27 13:03] sebersole opened #353 "Sharing publishing rights"
I develop a number of plugins as part of my work on Hibernate. I’d like to share the ability to publish these with other team members. They say they are not able to publish:

[code]

I've asked on the forums[1] and have gotten no reply.  What is it I need to do allow others to publish?  Is the answer simply to create a "group user" that we can load we can all share (in other words create a new use

[2020-03-30 22:14] JLLeitschuh commented on #343
I think at this point there isn't anything actionable from this, if there is please let me know and I'll re-open this.

[2020-03-30 22:14] #343 closed

[2020-03-30 22:15] JLLeitschuh commented on #340
I have an example of doing some of this here:
https://github.com/JLLeitschuh/ktlint-gradle

[2020-04-11 19:08] charpov opened #354 "Deprecation"
Running the tutorial with Gradle 6.3 (Kotlin DSL) gives me a warning:

`Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.`

[2020-04-18 03:49] sanumala opened #355 "Requesting gradle-guides-plugin html resource template documenation"
Hi I am looking at the [gradle-guides-plugin](https://github.com/gradle/guides/tree/master/subprojects/gradle-guides-plugin) and I see the head, header, footer templates in src/main/resources, however
1. There are no specific plugin docs on how they will be included during asciidocter conversion
2. How I can i**nclude more templates like tips.html** and if I do so, how they will be processed and i

[2020-04-19 10:06] etienne-sf opened #356 "Custom Task: the most important (and basic) info is missing"
Hello,

In the https://guides.gradle.org/writing-gradle-tasks/ tuto, there is this sample:

_tasks.register("hello") {
    doLast {
        println 'Hello, World!'
    }
}_

In the comment, you just omit to say the basis (AFAIK) of the Gradle tasks:
* doLast contains the task action  (frankly, this name is very bad and non clear, and despite my reading of lots of docs since weeks and months, I onl

[2020-05-13 23:31] bulmer87 opened #364 "When using cpp-library plugin the cppCompile always adds to the compiler arguments -nostdinc"
When trying to build c++ libraries the compiler args will always have -nostdinc that makes it impossible to compile any libraries that use < string > for example. When printing out the compiler args it never states that -nostdinc will be used and I can find no way to undo gradle adding this.

[2020-05-14 20:06] #364 closed

[2020-05-14 20:07] bulmer87 commented on #364
Apparently I needed a compiler arg of -DUSE_STD

[2020-05-22 02:42] skyviper opened #365 "Gradle Build file based on java and java-library default"
Can you include an example build.gradle file that shows all of the tasks, dependencies, configurations, sourceSets, etc. as if the plugin did not exist to help understand the connection between the the tasks and resources necessary to write a custom build script for a java application?

[2020-05-24 20:12] frederic-gendebien opened #366 "Clear And Complete Multi Project Build Guide"
I try to migrate a Maven multi-project build to gradle and I had a look at the "multi-project build" guide and to be honest, it is not really useful. I don't care about multi language build, but the most important and certainly the first thing we need to setup in multi project build is the dependency management  and plugin management, and I can't see it.

In my opinion, it would be quite interesti

[2020-05-29 21:56] ShchAlexander opened #368 "Module not found error during compiling Java 9 project with unnamed module dependency (without module descriptor)"
Module not found error during compiling Java 9 project with unnamed module dependency (without module descriptor)

in module `build.gradle` I have next dependency:
[code]

in `module-info.java` I have next:
[code]

All other configurations like in example from this page: https://docs.gradle.org/current/samples/sample_java_modules_multi_project.html#header

[2020-05-30 06:04] amoseui opened #369 "Replace Docker plugin link in Designing Gradle plugins"
I found an invalid link while I am following Plugin Development tutorial.
In https://guides.gradle.org/designing-gradle-plugins/#capabilities-vs-conventions , a link of Docker Plugin is not valid.

provided_plugins section was removed in https://github.com/bmuschko/gradle-docker-plugin/commit/e3038ffb8a805290b67d80c155783bddce3a60a4

For now, that section is only placed in https://github.com/bmusc

[2020-06-04 13:40] #369 closed

[2020-07-01 10:35] vinz486 opened #374 "Inner dsl block example is not working or something missing"
This is all what I need to create a inner data extension block?

`import java.io.File;
import org.gradle.api.Action;

public class SiteExtension {
    private File outputDir;
    private final CustomData customData = new CustomData();

    public void setOutputDir(File outputDir) {
        this.outputDir = outputDir;
    }

    public File getOutputDir() {
        return outputDir;
    }

    publ

[2020-07-01 10:46] vinz486 commented on #374
For reference: https://guides.gradle.org/implementing-gradle-plugins/#modeling_dsl_like_apis

[2020-07-15 16:18] eskatos opened #375 "Snippets in performance guide should use lazy task configuration APIs"
In
- https://guides.gradle.org/performance/#statically_compile_tasks_and_plugins
- https://guides.gradle.org/performance/#dont_resolve_dependencies_at_configuration_time
- https://guides.gradle.org/performance/#parallel_test_execution
- https://guides.gradle.org/performance/#forking_options
- https://guides.gradle.org/performance/#report_generation
- https://guides.gradle.org/performance/#compiler

[2020-07-28 22:14] brileyd opened #376 "Text needs to be updated for the gradle init step."
Now, when running gradle init, it is more interactive and presents you with choices on project type and dsl.  This is not reflected in this guide.

[2020-07-31 15:27] maconic commented on #354
Actually it even says so in the documentation itself. What is the suggested solution for Gradle 7.0 ?

[2020-08-05 00:57] ehogeweg opened #377 "Building Java Libraries Tutorial has a typo"
In the section below the **build.gradle** file should be the **gradle.properties** file:

     https://guides.gradle.org/building-java-libraries/#customize_the_library_jar

And the single quotes should be removed from the version number.

[2020-08-05 12:29] #377 closed

[2020-08-05 12:31] ehogeweg commented on #377
This isn't true. The version can be specified in both files. The syntax is slightly different though. In the properties file you need the '=' between the property name and the value, in the build.gradle you need the single quotes around the version.

[2020-08-21 01:09] MrJohnCook opened #378 "Gradle 6.6 APIs are different than the API used for this sample"
The sample does not work for Gradle 6.6 with Kotlin DSL.

At the beginning, I had to insert:

[code]

And for the source code section I had to modify it to:

[code]
It was, at least, a more interesting learning exercise to fix these little things while setting up the build.
Thank you.

[2020-08-30 14:45] lalitupadheyay opened #383 "Creating Multi-project Builds > Include the documentation in the distribution archive"
I have to add distribution plugin(id 'distribution') to greeter/build.gradle in order to build the project from root project.

Otherwise I was getting following error while executing $ ./gradlew build  from root project:

A problem occurred evaluating project ':greeter'.

[2020-09-14 02:36] openaphid opened #385 "Link to "Consuming JVM libraries" gives 404"
The link to ["Consuming JVM libraries"](https://docs.gradle.org/6.0/userguide/artifact_dependencies_tutorial.html) in ["Building Java Libraries"](https://guides.gradle.org/building-java-libraries/) gives a 404 error

[2020-09-19 09:20] rajuvadarevu opened #386 "Typo"
Link: https://docs.gradle.com/enterprise/gradle-plugin/?_ga=2.161540223.214144387.1600491938-777932726.1599007462#many-projects
Integrating many projects:
functionality to **apply it to easily apply it** to many projects.

be automatically applied to **very** build.
It should have been **every**

[2020-09-20 08:54] rajuvadarevu opened #387 "Exception in Building Java Web Applications Gradle Guide"
Exception when followed the steps in https://guides.gradle.org/building-java-web-applications/ :
Could not resolve all artifacts for configuration ':classpath'.

Solution:
Used: id 'org.gretty' version '3.0.3'
For Java 11 and gradle-6.6.1
Reference: https://stackoverflow.com/questions/60793045/gradle-guides-building-java-web-application-gradle-build-throwing-java-lang-i

[2020-09-23 20:16] ggranum commented on #340
This issue is pervasive in the plugin docs.

https://docs.gradle.org/current/userguide/custom_plugins.html starts by referring to the plugin's build.gradle file, and then in later examples is showing source for a hypothetical plugin consumer's build.gradle. But there is no mention of how that consumer was configured to consume the plugin that is being developed in the walkthrough.

The 'Testing Gr

[2020-09-25 10:58] nuhkoca opened #388 "Link is broken"
Hi,

In this part of the page https://guides.gradle.org/writing-gradle-tasks/#next_steps, I cannot navigate to [organize your build logic](https://docs.gradle.org/5.0/userguide/organizing_build_logic.html) when I click. Please fix it. Thanks.

[2020-10-10 17:18] dalewking opened #389 "Suggestion on the migration to Kotlin DSL guide"
Something that I have discovered to make the transition to Kotlin DSL much easier it to rename your file to something like `old-build.gradle` and then create `build.gradle.kts` with this line:

    apply(from="old-build.gradle")

You will also have to move the plugin block to the `build.gradle.kts`.

Then you can work on moving one part of the build.gradle at a time instead of having to migrate ev

[2020-10-12 19:38] big-guy commented on #389
This won't work in practice in the general case, unfortunately.

Types that come from external plugins applied by the `build.gradle.kts` file will not be visible in the `old-build.gradle` file. If you're only configuring built-in tasks, this may just work because of the way Gradle loads those classes.

I think our advice here should be something along the lines of...

If the script is short...

Ju

[2020-10-12 19:38] #389 closed

[2020-10-13 17:02] dalewking commented on #389
That was not my experience. Plugins added in the kts file were completely usable in the old-build.gradle

[2021-07-30 23:11] #388 closed

[2022-10-23 17:41] TheFriendlyCoder commented on #351
I'm hitting this same problem. I did discover that running Gradle with "--info" level output causes the Spock error details to appear, along with a ton of other info-level status messages. It would be preferable if the assertion details would be shown even without the "--info" flag.