[2016-09-09 12:51] cbeams opened #1 "Getting Started with Gradle and Eclipse (Buildship)"

[2016-09-09 12:59] cbeams opened #2 "Getting Started Building Python Projects (PyGradle)"

[2016-09-09 13:06] cbeams opened #3 "Getting Started with Gradle Lint"

[2016-09-09 13:11] cbeams opened #4 "Getting Started Installing Gradle"
A guide-based alternative to / replacement for https://docs.gradle.org/current/userguide/installation.html.

When complete, this guide should be used as the target for all "Gradle distribution" prerequisites in other Getting Started Guides.

This guide should introduce the user to the various approaches to "installing Gradle", including:
- directly downloading and unzipping
- using a package manag

[2016-09-09 19:09] cbeams opened #5 "Getting Started Building JVM Libraries"

[2016-09-09 20:43] cbeams opened #6 "Getting Started Consuming JVM Libraries"
Repo: https://github.com/gradle-guides/consuming-jvm-libraries
Guide: https://guides.gradle.org/consuming-jvm-libraries

- [x] Create new repo
- [x] Show how dependencies must be listed.
- [ ] Remove 'Consume Library Jar' section from `gradle-guides/build-java-libraries`.
- [ ] Add reference in `gradle-guides/build-java-libraries` to this guide.
- [x] PR on dotorg-site to get guide published. (gra

[2016-09-09 20:46] cbeams opened #7 "Getting Started Publishing JVM Libraries"
May be a collection of related guides, including publishing JVM libraries to:

- a Maven-compatible binary artifact repository
- an Ivy-compatible binary artifact repository
- Bintray / JCenter
- Maven Central

[2016-09-09 20:54] cbeams opened #8 "Getting Started Writing Gradle Guides"

[2016-09-09 20:56] cbeams opened #9 "Getting Started Writing Gradle Plugins"
Repo: https://github.com/gradle-guides/writing-gradle-plugins-in-java
 ~https://github.com/gradle-guides/gs-writing-gradle-plugins~
URL: https://guides.gradle.org/writing-gradle-plugins-in-java

On dot-org site:
- [x] Update `_data/guides.yml`

[2016-09-09 21:01] cbeams opened #10 "Getting Started Working with Multi-Project Builds"
- Repo: https://github.com/gradle-guides/creating-multi-project-builds-
Guide: https://guides.gradle.org/creating-multi-project-builds

Thoughts by @ysb33r:

I would like to do this a slightly more complex that the standard getting started guide. My current thoughts is to spread it over ~5~ 3 subprojects, which to some extent can point people to existing getting started guides as well. The ~five~

[2016-09-09 21:03] cbeams opened #11 "Getting Started Working with Composite Builds"

[2016-09-12 07:04] pledbrook commented on #5
What's this issue? To add a link to the guide to the Guides page?

[2016-09-12 07:06] pledbrook commented on #5
Ah, OK. The individual guide issues are going in this repo it seems. Sorry for the noise.

[2016-09-13 06:02] cbeams commented on #9
@pledbrook, let's take another cut at this from the top.

The outline that's in place right now still has the user putting together a plugin that applies some common Java project conventions, and as mentioned in earlier reviews, I think this is just too meta and hard to grasp the value of in an introductory context.

The other thing is that it doesn't cause the user to interact with extensions, an

[2016-09-13 06:20] cbeams opened #12 "Optimizing Gradle Performance"
A performance guide has already been written and is available in "draft" form at http://gradle.github.io/performance-guide.

This guide has been serving as our prototype for "topical guides", and this issue is about properly incorporating this guide into the #build-tool-web effort.

Tasks include but are not limited to:
- [x] Transfer the existing repo it into the gradle-guides GitHub org
- [x] De

[2016-09-13 08:10] pledbrook commented on #9
I'd like to review the mechanics of the outline if possible. Building out the copy & paste workflow is probably about 50% of the work already. I think it's better to invest less time for the initial outline to answer the question "are we about to create the right thing?" before moving onto something more substantive.

I should be able to work on this today or tomorrow after the initial draft of th

[2016-09-13 08:36] cbeams commented on #9
Focusing on the mechanics of the outline was the intent of my feedback above, but my point is that it's not possible to effectively focus on the outline without getting at least the copy & paste steps in place for each step. What's it going to take to "create the project"? Is it really the same as other guides like _Building JVM Libraries_? Or do we discover that we have extra boilerplate for this

[2016-09-13 12:30] bmuschko commented on #12
Did we finalize the draft or are we tracking the work in another issue now?

[2016-09-13 12:35] cbeams commented on #12
The "draft" at http://gradle.github.io/performance-guide has been published and promoted to a certain degree, but before we call it "delivered" as a Topical Gradle Guide, we want to take it through the design paces like we've done for Getting Started Guides.

Basically, this is our first Topical Guide, and we need to make sure it "fits" with the rest of the vision for Gradle Guides. There's no pla

[2016-09-13 13:35] cbeams commented on #9
I've transitioned this to `In Progress` to reflect the fact that it is.

[2016-09-13 16:21] pledbrook commented on #9
@cbeams I've pushed a new version of the source to the `refactor` branch and republished [the generated guide](http://guides.gradle.org/gs-writing-gradle-plugins/). There is definitely still plenty of work to do on it, but hopefully the basic skeleton is OK now.

[2016-09-14 07:30] cbeams commented on #9
Thanks, Peter. I'm reviewing this now. A couple quick notes:

 - I don't think there's any need to push stuff to `refactor` or any branch other than `master`. This is work in progress that has not yet been delivered, so I don't think there's any need for the overhead.
 - The `refactor` branch wasn't configured for Travis CI (and was missing the commit that added `.travis.yml` and the build status

[2016-09-14 07:51] pledbrook commented on #9
I'm fine with "Issue: ...". `refactor` branch was based on your previous `wip` one for the JVM libraries guide. But yes, I'd prefer to work on `master`, so happy to do so.

[2016-09-14 11:08] cbeams commented on #9
Back to you Peter, as my latest review is now complete (see commit linked above).

For posterity, here are my [detailed comments in Slack](https://gradle.slack.com/archives/build-tool-web/p1473850839000394) about tweaks to the review commenting process this time around.

[2016-09-14 13:03] cbeams commented on #9
Peter, I'm marking this as blocked until we've had the conversation with @bmuschko about extensions, etc.

[2016-09-14 13:41] #5 closed

[2016-09-15 06:40] cbeams opened #13 "Building Android apps"
Reach out to the Spring team to see if they'd be interested in contributing https://spring.io/guides/gs/gradle-android/

- [ ] Fix creating-new-gradle-builds to point to this guide. (It currently points to the Android Studio reference).

[2016-09-15 11:52] cbeams opened #14 "As a Getting Started Guide user, I want to be certain that each guide is up to date with the latest Gradle distribution and plugin releases"
@eriwen commented on [Fri Aug 19 2016](https://github.com/gradle/build-tool-web/issues/9)

Unclear what the expected output should be, other than initially a proposal for maintaining docs

---

@adammurdoch commented on [Mon Aug 22 2016](https://github.com/gradle/build-tool-web/issues/9#issuecomment-241563293)
#10 will help here. Some other options for automation:
- Inspect the output of the sampl

[2016-09-15 11:53] cbeams opened #15 "As a Windows-using reader of Getting Started Guides, I don't want to have to have any unix knowledge to complete a guide successfully"
@cbeams commented on [Mon Sep 05 2016](https://github.com/gradle/build-tool-web/issues/89)

[2016-09-15 11:53] cbeams opened #16 "As an IDE-using reader of Getting Started Guides, I want to know how to complete the guides using only an IDE"
@cbeams commented on [Mon Sep 05 2016](https://github.com/gradle/build-tool-web/issues/90)

[2016-09-15 11:53] cbeams opened #17 "Advanced Plugin Development Tutorial"
@cbeams commented on [Mon Aug 29 2016](https://github.com/gradle/build-tool-web/issues/76)

@oehme [wrote](https://gradle.slack.com/archives/build-tool-web/p1472387256000002)

@cbeams [responded](https://gradle.slack.com/archives/build-tool-web/p1472444602000002):

[2016-09-15 11:54] cbeams opened #18 "As a guide reader, I want a no-flash copy button on desktop that copies the output of a given source code block"
@eriwen commented on [Thu Sep 01 2016](https://github.com/gradle/build-tool-web/issues/84)

In my time at Apple I found this to be very effective for helping users along.

It is easy to write some common JS that allows this.

---

@cbeams commented on [Mon Sep 05 2016](https://github.com/gradle/build-tool-web/issues/84#issuecomment-244670621)

Acknowledged, thanks Eric. Added to the Guides epic an

[2016-09-15 11:54] cbeams opened #19 "As a Getting Started Guide user, I want to be able to copy and paste command line prompts from the guide without having to manually exclude the $ prompt itself"
@cbeams commented on [Tue Sep 06 2016](https://github.com/gradle/build-tool-web/issues/103)

An Asciidoctor extension can be written that will prevent the prompt `$` character from being copied in just the same way it already does with callout characters.

By implementing this, we'll make it easy for users to copy and paste commands, even multiple commands at a time, without having to work around

[2016-09-15 11:55] cbeams opened #20 "As a Getting Started Guide author, I want to instruct readers to use `gradle init` to bootstrap new projects, but cannot because the boilerplate it creates is more trouble than it's worth"
@pledbrook commented on [Mon Sep 05 2016](https://github.com/gradle/build-tool-web/issues/91)

Whenever we suggest to users that they create a project with the `init` task, we also need to explain that they need to delete a bunch of stuff. But we don't want to bog the reader down with such information that's irrelevant to the task they're trying to accomplish.

---

@adammurdoch commented on [Tue

[2016-09-15 11:56] cbeams opened #21 "Design comprehensive layout for guides homepage and individual getting started guides"
@cbeams commented on [Tue Aug 23 2016](https://github.com/gradle/build-tool-web/issues/60)

Currently, our guides at guides.grdev.org, e.g. the [performance guide](http://guides.grdev.org/performance/) are rendered as vanilla Asciidoctor output. They do not have the common header and navigation seen at the rest of grdev.org. This story is about reproducing that same header by customizing the relev

[2016-09-15 11:57] cbeams commented on #21
Update: for the moment, the "common header" we're talking about would be across http://guides.gradle.org and all guides under that same domain, e.g. http://guides.gradle.org/gs-building-jvm-libraries/

/cc @aweida as this is what we talked about on our recent call.

[2016-09-15 11:58] cbeams opened #22 "As a Getting Started Guide user, I want to get a guide's source so I can follow along without recreating everything manually"
@cbeams commented on [Tue Aug 23 2016](https://github.com/gradle/build-tool-web/issues/50)

Per https://projects.invisionapp.com/d/main#/console/8032828/174868398/preview

[2016-09-15 11:59] cbeams opened #23 "As a Getting Started Guide user, I want to be certain each guide works as expected"
@eriwen commented on [Fri Aug 19 2016](https://github.com/gradle/build-tool-web/issues/10)

One possible solution to this is to have each guide have it's own repo with documentation testing. Unclear what technologies should be used yet.

---

@adammurdoch commented on [Mon Aug 22 2016](https://github.com/gradle/build-tool-web/issues/10#issuecomment-241563698)

It would be great if we were to reuse

[2016-09-15 12:55] cbeams commented on #9
Decisions from today's call with @bmuschko, @pledbrook and @cbeams regarding this guide:
 - [ ] Remove extensions
 - [ ] Call out "topics" like extensions with admonitions and/or next steps as appropriate
   - Constraint: any links have to be live, e.g. stuff in the user manual. Can't be placeholders to future guides (as usual)
 - [ ] Use a plugin id
 - [ ] Stay with the GreeterPlugin example and

[2016-09-15 12:55] cbeams commented on #9
Another decision we made was definitely _not_ to mention "script plugins" in this guide.

[2016-09-15 13:02] cbeams commented on #9
Topics to mention along the way (through admonitions or next steps):
 - Options for configuring plugins, including _extensions_, _conventions_ and (possibly) _task configuration_.

[2016-09-15 13:05] cbeams commented on #9
@pledbrook, I've removed the `blocked` label and slated this guide for the sprint starting today. Feel free to begin work on it as you're available.

[2016-09-15 13:13] cbeams opened #24 "Write style guide"
@cbeams commented on [Mon Sep 05 2016](https://github.com/gradle/build-tool-web/issues/92)

Should cover items including but not limited to:
- Characteristics common to all Getting Started Guides
- Sections common to all Getting Started Guides
- Voice (familar, informal, "you" vs. "we")
- Section heading grammar
- When to use _italics_ vs `monospace`
- Proper use of git commit author metadata
- Pr

[2016-09-15 13:17] cbeams opened #25 "As a Getting Started Guide author, I want to have my guide published to GitHub Pages each time I push a change to its source"
@cbeams commented on [Thu Sep 01 2016](https://github.com/gradle/build-tool-web/issues/85)

 - [x] Set up Travis CI build for gs-building-jvm-libraries guide
 - [x] Add Travis CI badge to same
 - Repeat all the above changes to the other existing guides
   - [x] gs-writing-gradle-plugins
   - [x] gs-writing-gs-guides
 - ~~Update the gs-writing guide instructions to reflect what to do to enable the

[2016-09-15 14:09] cbeams opened #26 "As a Getting Started Guide user, I want a table of contents so I can quickly scan and navigate through each guide"
@eriwen commented on [Fri Aug 19 2016](https://github.com/gradle/build-tool-web/issues/3)

Goal: Produce design elements that fulfill this given layout https://projects.invisionapp.com/d/main#/console/8032828/174868398/preview

---

@eriwen commented on [Tue Aug 30 2016](https://github.com/gradle/build-tool-web/issues/3#issuecomment-243339501)

We have a TOC produced by Asciidoc. I vote that we ta

[2016-09-15 14:09] #26 closed

[2016-09-15 14:22] cbeams opened #27 "Apply basic styling and navigation to Guides homepage"
http://guides.gradle.org

[2016-09-15 14:25] cbeams opened #28 "Launch Gradle Guides"

[2016-09-15 14:52] cbeams opened #29 "Add a custom 404 page"
For good user experience and so we can track analytics on bad links, etc.

[2016-09-15 15:51] cbeams commented on #12
Remaning work:
 - [ ] Fold Hans and Etienne's feedback in
 - [ ] Config on demand and --paralel
 - [ ] Build Scan integration
 - [ ] Move the infrastructure / get it up on guides.gradle.org
 - [ ] Deal with changing any links to the old gradle.github.io link (if any)

[2016-09-16 12:26] cbeams commented on #24
I've just re-added the estimate of 2, which is what it was before we moved this issue into this repo.

[2016-09-16 13:05] cbeams commented on #29
@aweida, could you weigh in here about what you might like to see for a 404 page on the guides?

This is what it will look like by default if we don't customize it: http://guides.gradle.org/wat

[2016-09-16 13:26] cbeams commented on #24
- [ ] Add a section at the top of the guide that lays out the characteristics of a Getting Started Guide. Here's what I wrote in another issue that's since been closed:

Getting Started [Guides](18):
 - Are task-oriented
 - Designed to align closely with with “what users are typing into Google right now”
   - e.g. “How to publish a library to Maven Central with Gradle”
 - Provide users new to that

[2016-09-20 08:38] cbeams opened #30 "Getting Started Writing Custom Gradle Tasks"
See the `hello` task introduced in _Writing Gradle Plugins_ (#9). This guide should (ideally) be the place where we canonically introduce and explain that task.

- [x] @ysb33r Draft outline / sample
- [x] @pledbrook Review outline / sample
- [x] @ysb33r Draft copy
- [x] @pledbrook Review copy
- [x] @ysb33r Second draft copy
- [x] Review second draft

[2016-09-20 09:47] pledbrook commented on #9
Waiting on feedback on the current steps as I'm currently getting a `NullPointerException` and I just can't see why.

[2016-09-20 10:15] pledbrook opened #31 "Migrating from Maven to Gradle"
There is no really valid slimmed-down version of migrating a project from Maven. There are just too many variables, and even limiting a Getting Started guide to `gradle init --pom` raises a lot of potential issues.

As it stands, we already have a migration guide on gradle.org in the Wordpress site. We should look to migrate that guide to the new infrastructure and evaluate structure and content.

[2016-09-20 10:19] pledbrook commented on #1
[Here's the Google Doc](https://docs.google.com/document/d/1T9-HvMvC_W0_OaP6KWIdozUZF5RCy-ElwzDgKPcGe2A/edit) I was working on for this issue. It's not suitable as a GS guide right now, but it should give an idea of what to cover.

[2016-09-20 11:54] pledbrook commented on #9
The problem was in the custom task class: it was overriding `getName()`.

[2016-09-20 12:42] pledbrook commented on #9
@cbeams This is a complete draft, so treat it as if it were an RC. Hope that makes sense.

[2016-09-20 13:42] pledbrook opened #32 "As a guide author, I want to use the continuous build feature"
This doesn't work well with the current structure of Getting Started guide projects. I understand that there are two options:
- Fix the Asciidoctor plugin
- Request a change to Gradle

[2016-09-20 14:33] cbeams commented on #9
Roger that @pledbrook. Will review asap.

[2016-09-20 15:01] cbeams commented on #8
As discussed today, @pledbrook please:
 - [ ] Pare down existing guide to reflect just the instructions that an outside author would need to follow
 - [ ] Factor out the template instructions to a section in the gradle/guides README.md

[2016-09-21 07:07] pledbrook commented on #8
@cbeams One thing I think we might have missed in the discussion is publishing. Do the authors publish themselves using `gradle publishGhPages` or do they and we rely on Travis to do that?

[2016-09-21 08:59] cbeams opened #33 "Update Travis CI configuration to prevent publication of pull requests"
See https://github.com/gradle/guides/issues/8#issuecomment-248551811 and documentation at https://docs.travis-ci.com/user/pull-requests and https://docs.travis-ci.com/user/customizing-the-build#Implementing-Complex-Build-Steps.

[2016-09-21 09:01] cbeams commented on #33
- [ ] This change should be made and tested against the `.travis.yml` file for _Writing Getting Started Guides_
 - [ ] then rolled out to all existing guides' `.travis.yml` files.

[2016-09-21 09:16] cbeams commented on #9
I am reviewing this now, @pledbrook

[2016-09-21 09:20] pledbrook commented on #8
@cbeams The updated version of the HTML guide is available [at guides.gradle.org](http://guides.gradle.org/gs-writing-gs-guides/). As for the internal process for accepting proposals, that's in the [gradle/guides README](/gradle/guides/blob/master/README.md).

These are nominally complete, but I expect them to go through another iteration or two as we settle on the detail of the new process.

[2016-09-21 09:21] pledbrook commented on #24
@cbeams Is this technically blocked still, since at least the latest draft of the Writing GS Guides guide links to it. Do we want to wait until that guide reaches Delivered before continuing with this one? I assume not.

[2016-09-21 09:31] cbeams commented on #24
You can continue working this one, it just can't be considered delivered until _Writing GS Guides_ is delivered.

[2016-09-21 09:32] cbeams commented on #8
Thanks, I'll have a look when I'm done reviewing the plugins guide.

[2016-09-21 09:59] cbeams opened #34 "Enable and force https"
Enable and force HTTPS via CloudFlare and update the following services to reflect
 - [x] CloudFlare
   - [x] Supported
   - [x] Enforced (via Page Rule, not HSTS)
 - [x] Internal links within guides
 - [x] GitHub repo descriptions
   - [x] gradle/guides
   - [x] gradle-guides/*

[2016-09-21 10:02] cbeams opened #35 "Set up favicons"

[2016-09-21 10:10] cbeams commented on #29
@aweida, also note that this is what the 404 on the blog looks like currently: https://blog.gradle.org/wat. This was just a default that came with the Poole Jekyll theme. Happy to change it as well to match whatever we do here.

[2016-09-21 12:27] cbeams commented on #34
@eriwen, @pledbrook, a heads up that this is complete. All existing links to guides.gradle.org are now https-based, all guides.gradle.org urls will force https via 301 redirects if requested with http://.

Please keep this in mind with any future linking to guides.gradle.org—always use https!

I am closing this as delivered straight away, bypassing review, as it's quite straightforward. Eric, feel

[2016-09-21 12:27] #34 closed

[2016-09-21 12:51] pledbrook commented on #24
@cbeams I'm putting this in for review just to check whether my latest change is what you had in mind. If so, we can discuss the items themselves on the commit (I've already started there).

[2016-09-21 12:55] pledbrook commented on #12
Just to clarify, I have local changes based on the _gradle/performance-guide_ repository. I'll continue to work with that until I've finished incorporating feedback and have a draft I'm happy with. Then we can start moving it around as we see fit.

[2016-09-22 07:40] pledbrook commented on #12
I have incorporated all but one item of feedback. The remaining piece is a little troublesome, though, as [explained on the mailing list](https://groups.google.com/a/gradle.com/d/msg/engineering/Jt0o8XDe-BQ/pBXzj2qeAAAJ). Once we've agreed on the approach for that, the draft is done and we can think about moving it over to a different infrastructure.

[2016-09-22 09:22] cbeams commented on #9
Peter and I had a voice chat about introductory prose, and I've called out a number of other minor edits [via Slack](https://gradle.slack.com/archives/guides/p1474534183000007). Peter, assigning back to you, thanks.

[2016-09-22 09:24] cbeams commented on #8
Just to make this explicit, I have to put this review on hold today to deal with a higher priority item. I will get back to it as soon as possible.

[2016-09-23 03:37] aweida commented on #21
To start I did a series of typography studies, there are 7 versions in the zip file. I suggest opening each version in chrome and clicking the image to make it 100% of its size which should render correctly.

[Type Studies.zip](https://github.com/gradle/guides/files/488820/Type.Studies.zip)

[2016-09-23 04:14] aweida commented on #29
Swear elephant consistent with our other pages such as https://scans.grdev.net/foo

![404](https://cloud.githubusercontent.com/assets/964821/18773942/df156c5a-8108-11e6-9f07-5a587ab6a05d.png)

SVG Asset -
[swearing_Gradlelephant_navy.svg.zip](https://github.com/gradle/guides/files/488856/swearing_Gradlelephant_navy.svg.zip)

[2016-09-26 10:11] pledbrook commented on #9
@cbeams I've added some potentials for the guide's preamble. We should discuss whether any of them are along the right lines and if so, which one and what changes should be made.

I've also incorporated the other feedback from the review, except for the grammar for source listing annotations. It's a personal preference thing, so perhaps we should just do a straw poll in the group to see which form

[2016-09-26 13:49] pledbrook commented on #12
I've published a [new version of the guide](https://gradle.github.io/performance-guide/) with all feedback incorporated. It just needs another round of review.

[2016-09-27 07:20] pledbrook commented on #12
Not sure what to do with this once it's out for external review, i.e. outside of the Guides team.

[2016-09-27 13:16] cbeams commented on #27
Superseded by #21

[2016-09-27 13:16] #27 closed

[2016-09-27 13:17] cbeams commented on #21
Moved to `Waiting for Review` and assigned to myself.

[2016-09-29 14:22] cbeams commented on #25
Closing this as delivered after all. Guides, including #9 will probably not be worked on during the next sprint, and the functionality covered by this card is in fact in place (guides do get published automatically to GitHub pages on push). It's not fully documented yet, but the pragmatic thing at this point is to get this card off the board. It'll be clear when we finish #9 that publication needs

[2016-09-29 14:22] #25 closed

[2016-09-29 20:47] lptr opened #36 "Using Build Cache"
This is a first guide on using the build cache. The purpose of the guide is to help build authors find and fix problems with an existing build to ensure optimal caching performance.

Repo: https://github.com/gradle-guides/build-cache-practices
Guide: https://guides.gradle.org/build-cache-practices

[2016-09-30 14:41] cbeams commented on #17
Per our week 40 sprint planning meeting yesterday, I'm slating work on this tutorial to _begin_ during this sprint. We almost certainly won't be able to deliver it for two reasons: (1) because it's longer form material and (2) because Peter is only available to work on it during the second week of the sprint. In any case, it would be impractical to break this up into finer-grained cards, so leavin

[2016-09-30 17:51] oehme commented on #17
@cbeams @pledbrook Yes, I can set some time aside next week to get this started. Very happy we're doing this soon :)

[2016-09-30 18:06] cbeams commented on #17
Great, thanks Stefan. To be clear though, I was referring to the week after next, i.e. the second week of this sprint. Peter is fully booked with a training next week so won't be available to work with you until then.

[2016-09-30 18:57] oehme commented on #17
That week is fine too.

Am 30.09.2016 20:06 schrieb "Chris Beams" <notifications@github.com>:

[2016-10-07 08:30] pledbrook commented on #31
We should try to include a mapping of common Maven plugins to Gradle equivalents. Mark provided a starting list:

 - aspectj-maven-plugin - Use [Ant tasks](http://stackoverflow.com/questions/32949541/aspectj-gradle-configuration) or [try this plugin](https://github.com/eveoh/gradle-aspectj) (not published to the portal)
 - camel-maven-plugin - Check the Gradle Plugin Portal or write your own custo

[2016-10-07 14:50] oehme opened #37 "Understanding Gradle concepts"
There are some very important concepts that every Gradle user should know about and which don't neatly fit into any single guide or might easily be missed. Some kind of overview guide (probably not the best name) could be helpful here. It could be the entry point linking to many other guides.
- Gradle is based on executing tasks, not projects (Ex-Maven-users constantly get that wrong)
- You don't

[2016-10-07 14:54] oehme opened #38 "Tooling API Developer Guide"
A guide describing how the Tooling API works at a deeper level, what our design philosophy is ("the build is the source of truth") and how to retrieve custom information for your tool. I repeatedly get asked why Buildship does not provide some elaborate extension point and always say "You extend Buildship through Gradle" and I would really love to just point people to a great explanation. We have

[2016-10-07 15:03] oehme opened #39 "Guide on custom sourceSets and extra artifacts"
Some very common use cases in Java projects are:
1. I have some code generator that can be customized through Java code. How do I compile the generator extension before my main code?
2. I have some integration tests and performance tests and want to separate them from the unit tests. How do I compile and run them independently?
3. I have some test utilities that I'd like to reuse in downstream pro

[2016-10-10 09:56] pledbrook commented on #17
I have a draft outline [on Google Drive](https://docs.google.com/a/gradle.com/document/d/1L3qYB4M_qiZqQ4dG-B5_pXAzMOntD8bwAdnOxSRHUc4/edit?usp=sharing) that's ready for review. We now need to figure out a good example that the reader can work through and will touch on all the important points of the guide. I welcome suggestions from all - I'm sure @bmuschko has some good ideas.

@oehme I have incl

[2016-10-10 10:20] pledbrook commented on #17
Idea 1: a plugin that adds template processing. Can be standalone or hook into the Java plugin for a source generation step.

[2016-10-10 10:32] pledbrook commented on #12
The guide has been "out for review" for a couple of weeks now. @hansd I'm assuming you want to check the guide once more before it goes live considering the scope of the changes. If so, you can find the draft here: https://gradle.github.io/performance-guide/ (although it is kinda live already, just not linked from anywhere)

[2016-10-11 15:01] pledbrook commented on #17
I have written up [three proposals for the sample plugin](https://docs.google.com/document/d/1L3qYB4M_qiZqQ4dG-B5_pXAzMOntD8bwAdnOxSRHUc4/edit#heading=h.14xingsm4t8g) for us to discuss. It's at the end of the Google Doc containing the proposed guide outline. Feel free to comment directly in the doc or via this issue. We should try to come to a decision as soon as possible.

[2016-10-19 13:10] pledbrook commented on #12
Feedback from @pioterj:

[2016-10-20 09:26] cbeams commented on #17
I've taken this out of `In Progress`, as I believe that reflects the current situation. We may also want to label it as blocked if that is indeed the case. I believe you're waiting for further feedback from Stefan or myself right now, Peter?

[2016-10-20 10:44] pledbrook commented on #17
Rather than waiting on input from Stefan and Ben, I think I'll draft a new sample plugin proposal based on the idea of a 'site' plugin. Then I'll just ask Stefan and Ben to say yay or nay to it (allowing for suggested changes of course).

[2016-10-20 12:02] oehme commented on #17
Are we not happy with any of the existing proposals? I don't think we'll find any one plugin that covers everything we are trying to say. So from my side we could go with any of the 3 proposals that are already there. Or was there some negative feedback from others that is missing in the document?

[2016-10-24 08:40] pledbrook commented on #17
@oehme Sorry for leaving this languishing for a few days. No one has yet voiced a preference for any of them except Ben mentioning that a site plugin could work well.

My own perspective is that the current batch of proposals each have a significant weakness. In the case of the database migration, that's the requirement for extra domain knowledge. In the case of templates, what's it really for? An

[2016-10-24 08:43] oehme commented on #17
Thanks for the explanation @pledbrook. I only have one concern: What would the usage of `Project.container()` look like for a site plugin? I can't really think of one. If you have one, please go for it :)

[2016-10-24 08:54] pledbrook commented on #17
That's a good question and one that I need to think about. My initial thought is something akin to source sets that can be decorated with different styles, nav bars, etc. But that may require using something like JBake under the hood and hence extra domain knowledge.

[2016-10-25 16:33] pledbrook commented on #17
@oehme I came up with the idea of introducing the concept of _pages_, which are made up of an HTML template, a name/title and a model. These would represent the different pages of the site. We could probably do some more interesting things on top of that, but I'll write this into the proposal document when I get a chance.

[2016-10-26 13:30] bmuschko commented on #17
I don't think we necessarily _have_ to press the concept of `Project.container()` into a plugin guide. After implementing plugins for years I really only needed to use it once for a very specific use case. It's an interesting concept but I think we could also explain this separately with a completely different use case and guide.

[2016-10-26 13:46] oehme commented on #17
@bmuschko I have a different experience. There are lots of plugins that really should model several objects of a certain type instead of assuming there will only be one. Databases, SourceSets, Application Servers, Containers, Plugins etc.

The end result is that users often end up using `-P` switches and if-conditions to work around those limitations instead of having a nice selection of tasks.

[2016-10-30 15:40] cbeams commented on #17
I've taken this issue out of the 2016.42 sprint milestone and put it into the `Icebox`. We have a plan to spin the Gradle Guides effort back up in a dedicated way with a two-person team of Peter + Schalk starting in December, and I want to de-prioritize working on this and all other guides until then. There is plenty to do in the meantime, and we are not going to launch the guides effort until the

[2016-10-31 15:41] lacasseio opened #40 "Gradle Core Guideline"
The [C++ Core Guideline](https://github.com/isocpp/CppCoreGuidelines) was introduce at [CppCon](https://isocpp.org/blog/2015/09/bjarne-stroustrup-announces-cpp-core-guidelines) [2015](https://youtu.be/1OEu9C51K2A) by Bjarne Stroustrup and got lots of traction from the community (as of this writing 136 contributors and 1,046 commits).

The idea behind is to provide guidelines (with rational, pros,

[2016-11-01 20:49] eriwen opened #41 "Get Started debugging a Gradle build with Eclipse"
Related to https://github.com/gradle/gradle/ pull/782 (space intentional to avoid auto-linking)

Goal: Allow users to set and hit breakpoints in Java code built by Gradle. Debugging a build script may or may not be supported.

[2016-11-01 21:29] cbeams commented on #40
@lacasseio, I believe I understand what you're getting at here; I'm familiar with the "Effective X" family of books as well.

My concern is not whether this is a good idea; it's whether it's a good idea for a single guide, or indeed for a whole book!

If you take a look through the rest of the guides we've identified as [issues on the gradle/guides board](https://github.com/gradle/guides/issues#bo

[2016-11-01 21:41] cbeams commented on #41
Agreed, this would be excellent, and a complement to #1. Putting in the `Icebox`.

[2016-11-02 08:24] pledbrook commented on #40
@cbeams I think modelling a guide on Effective X would be too much, but my interest is more in the C++ Core Guidelines model. The Plugin Development Tutorial is mostly about best practice in developing Gradle plugins and I think something similar for core Gradle would be good—though possibly not in tutorial form.

[2016-11-11 16:34] lacasseio commented on #40
Thanks @cbeams and @pledbrook for the great content. It really put things in perspective. I'm not attached to the specific idea, but having that information inline somewhere can be very valuable for the user, especially the new one.

[2016-11-12 12:20] cbeams commented on #40
My pleasure, @lacasseio. Stay tuned for more on this when we spin back up the Gradle Guides effort in December. You'll hear more about it then, and further feedback is welcome. In the meantime, I'm closing this issue.

[2016-11-12 12:20] #40 closed

[2016-11-23 07:51] pledbrook opened #42 "Add rules to style guide"
The style guide is an evolving document and we will undoubtedly have more ideas for rules that should be added as time goes on. Here are a few to start:

 - [ ] Use proper names for plugins, e.g. Java plugin, Build Scan plugin, etc.
 - [ ] Use the term "build" for a project (or multi-project) + build file
 - [ ] Use "build execution" or "build run" for an actual execution of a build
 - [ ] Don't u

[2016-11-29 09:46] pledbrook commented on #42
This issue is blocked until we have agreement on terminology and names.

[2016-11-29 11:17] cbeams commented on #31
Notes from chat with @pledbrook and @ysb33r on this, we've moved into the `Backlog` and think this may be a perfect replacement for https://gradle.org/migrating-a-maven-build-to-gradle/ (which Peter also wrote). That doc should be reviewed and adapted into the form of a Topical guide.

Can consider whether this content would also be well-presented as a Tutorial, but at this point it seems to me/us

[2016-11-29 11:31] cbeams commented on #6
Would be good to have this delivered and linkable from the Java Magazine piece at https://github.com/gradle/marketing/issues/65.

[2016-11-29 11:49] cbeams commented on #39
@pledbrook, @ysb33r and I just discussed this and agreed that the three items above can and should be split out into individual Getting Started Guides

[2016-11-29 12:06] cbeams opened #43 "Clarify guide issues with labels"
- is:guide
 - type:getting-started
 - type:topical
 - type:tutorial

[2016-11-29 12:36] cbeams opened #44 "Update gradle/guides README"
- [x] Rewrite Introduction to reflect new general how to write guides guide, etc
- [x] Remove / de-emphasize the "how to run everything locally
- [x] de-emphasize "A technical note on publication to GitHub Pages"
- [x] emphasize / prioritize "How to handle proposals for new guides" and rewrite as appropritae
- do _not_ document the writing and editing process here, we'll do that in #8.

[code]

[2016-11-29 12:55] cbeams commented on #8
Per #44, we want to generalize this guide from being Getting Started specific to being about writing Gradle guides in general.

- [ ] Change title to "How to Write a Gradle Guide"
- [ ] s/Getting Started Guide/Gradle Guide/ as appropriate
- [ ] Decide on the new slug / path (i.e. _not_ /gs-writing-gs-guides) and rename the repository as appropriate
- [ ] Mention issue-to-pull-request workflow, but

[2016-11-29 13:04] cbeams commented on #24
- [ ] Tick open boxes above
- [ ] Generalize the style guide to cover all guide types, calling out differences between them only as necessary

Keep @alkemist's draft "copy tone guidelines" in mind while writing this, and let's see how we can get them to converge (or not) gradle/marketing#70

[2016-11-29 14:39] pledbrook commented on #43
@cbeams I can't do this yest because I don't have permission to create new labels.

[2016-11-29 14:53] cbeams commented on #43
You do now :)

[2016-11-30 08:46] pledbrook commented on #8
@cbeams @ysb33r I've made a bunch of changes. The main things to check on are:

 - The title—it's not exactly what was specified but is in line with the GS guides (_write Gradle Guides_ rather than _write a Gradle Guide_).
 - Capitalization of Gradle Guides, pull request and Asciidoctor User Manual. I'm least comfortable with _Gradle Guides_, but not enough to argue against it.
 - Process—is it co

[2016-12-01 10:29] ysb33r commented on #8
@pledbrook, where do you place the checkbox? In the Github issue?

[2016-12-01 10:40] pledbrook commented on #8
@ysb33r Checkboxes go directly into the corresponding comment, whether that comment's in a commit, on a pull request conversion, or on an issue.

[2016-12-02 07:51] pledbrook commented on #43
Labels are created and applied to all relevant issues. The `type:*` labels haven't been applied to issues in the icebox on the basis that the type isn't confirmed at that point.

[2016-12-02 07:51] #43 closed

[2016-12-02 07:58] pledbrook commented on #30
@ysb33r When requesting a review, I recommend putting a comment on the issue to that effect using the appropriate mentions. In this case, probably just me.

[2016-12-02 08:06] cbeams commented on #43
Thanks, @pledbrook. Note that I changed the type:* label color so as not to conflict with the on:* labels which already had that shade of blue.

[2016-12-02 08:07] pledbrook commented on #30
@ysb33r Would you mind squashing commits before review, please? It's more difficult to review three separate commits than a single one without the Pull Request Review feature of GitHub.

[2016-12-02 08:20] cbeams commented on #30
Re commit squashing, there is valuable information in the commit messages as @ysb33r has written them; I'd prefer to review the doc locally and keep the commits intact.

While it looks like there are a larger number of commits above, this is actually because it looks like Schalk rebased and force-pushed the "Create (very rough) draft" commit several times, which ends up creating multiple entries i

[2016-12-02 08:21] pledbrook commented on #30
Here are my points for discussion:

 - We should probably cover the basic case of writing an ad-hoc Hello World task.
 - Include the step for defining the `Greeting` custom task type
 - Replace the ad-hoc `hello` task with one of type `Greeting`
 - Finish by configuring one or more properties of `Greeting` (I think there's only one)
 - I would leave formal inputs and outputs out of this guide as t

[2016-12-02 08:23] pledbrook commented on #30
@cbeams Right. I thought at least one of those last three commits was slightly different, but that appears not to be the case. And as you say, it's the WIP commits that I favour squashing.

[2016-12-02 09:11] pledbrook commented on #44
Additional items to cover:

 - [ ] Explain how to add a guide's GitHub repo to Slack for notifications
 - [ ] Explain how to add a guide to the continuous integration (CI) system
 - [ ] Consider adding an `ISSUE_TEMPLATE.md` to gradle/guides that contains a checklist to track the steps required to onboard a new guide

[2016-12-02 09:31] ysb33r commented on #30
@pledbrook I messed up the initial README commit and had to rebase it. Then messed up the second one too. But besides that I concur - it should have been one squashed commit.

[2016-12-02 16:13] pledbrook commented on #44
@cbeams I have pushed this intermediate version of the README so that you can check whether the new structure is OK. I still need to add those extra sections about Slack integration and the CI system. I may also need to refresh some of the content due to changes in the style guide and/or the title/repo of the How to Write Gradle Guides guide.

[2016-12-03 12:12] cbeams commented on #21
Moving this work elsewhere to leave gradle/guides issues dedicated to content.

[2016-12-03 12:12] #21 closed

[2016-12-03 12:13] cbeams commented on #35
Moving this work elsewhere to leave gradle/guides issues dedicated to content.

[2016-12-03 12:13] #35 closed

[2016-12-03 12:13] cbeams commented on #29
Moving this work elsewhere to leave gradle/guides issues dedicated to content.

[2016-12-03 12:13] #29 closed

[2016-12-03 12:21] cbeams commented on #28
Moving this work elsewhere to leave gradle/guides issues dedicated to content.

[2016-12-03 12:21] #28 closed

[2016-12-04 13:27] cbeams commented on #24
## 2016.49 update
- Removed `is:blocked` label as there is no longer anything blocking work on this issue

Pushing to 2016.50.

Cc: #61

[2016-12-04 13:37] cbeams commented on #30
## 2016.49 update

- @ysb33r got started outlining this guide this week, which led to plenty of fruitful discussion and knowledge sharing about Getting Started Guides in general.
- We decided to rename this guide to Getting Started Writing Custom Gradle Tasks (which I have now reflected by changing the title of this issue)
  - [ ] @ysb33r to change the title in the doc as well (to just "Writing Cu

[2016-12-04 19:13] cbeams commented on #8
## 2016.49 update

- @pledbrook made changes above and requested review
- [ ] @cbeams and @ysb33r to review (now assigned to reflect)

Pushing to 2016.50.

Cc: gradle/marketing#61

[2016-12-04 19:15] cbeams commented on #44
## 2016.49 update

No progress. Pushing to 2016.50.

- @pledbrook made initial changes and requested review
- [ ] @cbeams to review

Pushing to 2016.50.

Cc: gradle/marketing#61

[2016-12-05 09:42] ysb33r commented on #30
In addition to @cbeams' notes above:

- [ ] Preamble to reference the (https://docs.gradle.org/current/userguide/tutorial_using_tasks.html)[user manual]
- [ ] Start with simple Hello ad-hoc task, then transition to custom task type.
- [ ] Include Link to DefaultTask. (API/JavaDoc as appropriate).

[2016-12-05 09:46] ysb33r commented on #30
## Terminology

@pledbrook, @cbeams and I went over this numerous time, but I believe our conclusion was to standardise on the usageof these three terms in a Gradle context:

* Ad-hoc task: Written a task inline in build script : `task hello {}`
* Custom task type: Creating a task class in a build script
* Custom task: A piece of build logic specific to a build/project (Clarification to the latter

[2016-12-05 09:55] pledbrook commented on #30
`GreetingTask` should probably just be `Greeting` to keep the guide inline with the Writing Plugins one. It's also common practice _not_ to include _Task_ in the task name.

[2016-12-05 11:31] ysb33r commented on #30
**Conundrum**: The Greeting class in the plugin is written in Java, however when we are going to do it as a custom task type in the Gradle script, I think it is better done as a Groovy file.

Any issue against doing it as the latter?

[2016-12-05 20:07] ysb33r commented on #30
I have pushed the first draft (e4ea51a) - need to figure out how to get it to generate the HTML page, so I can post the link.

[2016-12-05 21:05] ysb33r commented on #23
I think this is achievable with some, but not inconsiderate, effort. Drawing from experience on doing. some work in this area and having written Idiomatic Gradle in this way.

*Option 1:* Simple guide with associated code.

* Instead of using `README.adoc`, docs go into `src/docs/asciidoc` (can change the root folder).
* Project code in `src/(main|test)/...`
* Easy to reference sources from `*.ado

[2016-12-06 12:37] cbeams commented on #24
I'll review this first, then hand off to you @ysb33r.

[2016-12-06 12:42] cbeams commented on #8
I'll own this review for now, per our Slack chat.

[2016-12-06 12:52] cbeams commented on #44
This is ready for my review, correct @pledbrook?

[2016-12-06 12:57] pledbrook commented on #44
@cbeams yes

[2016-12-07 11:20] cbeams commented on #44
I provided my review notes to Peter on a call. Back to you @pledbrook, thanks.

[2016-12-07 11:21] cbeams commented on #24
I provided my review notes to Peter on a call. Back to you @pledbrook, thanks.

[2016-12-07 11:21] cbeams commented on #8
I provided my review notes to Peter on a call. Back to you @pledbrook, thanks.

[2016-12-08 09:33] ysb33r opened #45 "Update Writing Custom Tasks Guide to point to Writing Plugins"
Once the [Plugin Development Tutorial](https://github.com/gradle-guides/gs-writing-gradle-plugins) is published (#17), the  [Getting Started Writing Custom Task](https://github.com/gradle-guides/gs-writing-gradle-tasks)  guide must be updated to point to it.

[2016-12-11 18:31] ysb33r commented on #45
Issue closed as action added as a TODO to #17.

[2016-12-11 18:31] #45 closed

[2017-01-12 23:48] eriwen opened #46 "Building JavaScript"
Develop a guide for performing tasks on JavaScript sources and applications.

Example topics:
 - Properly delegating a Gradle task to gulp or webpack (with task I/O etc.)
 - Workflow and considerations using the [gradle-node-plugin](https://github.com/srs/gradle-node-plugin)
 - Considerations when integrating with [yarn](https://github.com/yarnpkg/yarn)
 - Usage of [gradle-js](https://github.com/d

[2017-01-20 18:57] bmuschko opened #47 "Testing plugin with TestKit"
A follow up guide on [Getting Started Writing Gradle Plugins](https://github.com/gradle/guides/issues/9) with the focus on testing plugin code.

- Explains the reasoning and philosophy for wanting to test plugin code
- Make a brief distinction about the different types of tests
- How TestKit fits into the picture
- Uses TestKit for implementing and executing functional tests by continuing the exam

[2017-01-20 19:03] bmuschko opened #48 "Publishing plugin artifacts to the Gradle plugin portal"
A follow up guide on Getting Started Writing Gradle Plugins with the focus on making plugin binaries available to the world.

- Provides a brief introduction to publishing and how it works
- Makes concrete statements about what the plugin portal is and isn't
- Describes the process of publishing (on an architectural high-level view)
- What's the [Plugin Publishing Plugin](https://plugins.gradle.or

[2017-01-23 07:48] cbeams commented on #48
Thanks, Ben. Just want to call out explicitly here that this guide and others similar to it would probably replace the docs currently available from the 'Documentation' menu at https://plugins.gradle.org, namely the first two below:

![image](https://cloud.githubusercontent.com/assets/301810/22195508/a7621a88-e148-11e6-9e03-1ed248fcd73b.png)

I realize you're aware of these docs, as you've already

[2017-01-24 15:30] cbeams commented on #8
- [ ] @kousen to read through like a normal user / reader for his own benefit
- [ ] @kousen to provide comments as to what remains to be done with this to deliver the guide

[2017-01-25 15:33] kousen commented on #8
My observations, from a reader perspective:

* Could use a link to the help pages on how to create a GitHub issue
* When we eventually have examples of each, links to each type (getting started, tutorial, and topical) ought to be provided
* It's awkward to use the word "tutorial" both when referring to getting started and an actual tutorial. I recommend "introduction" in the former
* Not just fork

[2017-01-25 15:57] cbeams commented on #8
Everything sounds reasonable, Ken. Please go ahead and issue a pull request with these changes.

[2017-01-25 21:04] kousen opened #49 "Getting Started Creating Java Projects"
Demonstrate how to use the build init plugin to generate a Groovy project, add the `eclipse` plugin, and import it into a flavor of Eclipse

This will be a "Getting Started" guide, with topics that include:
- The Build Init plugin
- Creating the project
- The generated project files
- Adding an IDE plugin
- Importing the project into the IDE
- Summary

[2017-01-26 16:01] cbeams commented on #8
Notes from our call today with @kousen and @ysb33r: PR above is merged.

- [ ] finish pilot "community-contributed" guide (#49) to make sure there aren't any gaps in the documentation
- [ ] @cbeams to read through content fully once more

[2017-01-26 16:19] cbeams commented on #49
_Editors note: We're treating this issue as a pilot run through the Getting Started Writing Gradle Guides guide (#8). This means we'll be explicit at every step about talking through whether this is a suitable guide, which type it should be, creating the repositories, etc. And in the process we'll try to flesh out any gaps in that writing guides guide and in the gradle/guides `README.md` etc._

[2017-01-26 16:22] cbeams commented on #49
@kousen, sounds like a great idea. I've already changed this to Java vs. Groovy as that makes most sense to do first, and as you identified this looks like a great fit for a Getting Started Guide.

- [ ] @cbeams to create repository infrastructure and otherwise follow the steps in [the gradle/guides README](https://github.com/gradle/guides/blob/master/README.md).

[2017-01-27 14:03] cbeams commented on #24
Closing as delivered. The style guide has, for quite a while now, been in place at https://github.com/gradle-guides/style-guide#readme. We have an open issue at #42 regarding adding new rules to the style guide, and we can leave that issue open as a place to add rules as we bump into them.

[2017-01-27 14:03] #24 closed

[2017-01-27 15:06] kousen commented on #42
* "For example, favor 'Building JVM libraries' over 'Build a Java library', since the capability is 'I can build JVM libraries'.
* Use standard sections. "External contributors will find these already in the skeleton project that they start with."
* "Use permalinks to external content". I don't get it, especially regarding the GUM.
* "How are they supposed to know…" needs question mark at the end

[2017-01-27 15:20] cbeams commented on #42
- [ ] Replace "Add a basic outline for the proposed guide, i.e. section headings" with a more general statement. We don't actually want to burden people with coming up with an outline per se. Something to the effect of "and share with us any ideas you already have about the guide's content". The idea is to be able to quickly and effectively validate the potential contributor's guide idea.

[2017-01-27 15:26] cbeams commented on #42
- [ ] In the [Permalinks section](https://github.com/gradle-guides/style-guide/blob/master/README.adoc#use-permalinks-to-external-content), clarify that what we mean here is do not use "current" links, e.g. https://docs.gradle.org/current/release-notes. Rather, use permanent links, e.g. https://docs.gradle.org/3.3/release-notes instead.

[2017-01-30 13:47] cbeams opened #50 "Automate Getting Started Guide repository creation"
- [x] Create gs-template repository
- [x] Write `create-gs-guide` script
- [x] Update gradle/guides `README.md` to reflect use of the new script instead of current manual instructions
- [x] Use the above to create @kousen's new repository for _Getting Started Creating Java Projects_ at #49

There will be some stuff not automated / documented just yet, like setting up GitHub / ZenHub Slack notifica

[2017-01-30 14:48] cbeams commented on #50
@kousen, please review these changes by following the (newly-updated) instructions at https://github.com/gradle/guides#create-a-new-repository-for-the-guide to create your new repository for Getting Started Creating Java Projects (#49).

We can walk through this together on our call as well, but I'd like you to do the reading and typing so we can see what, if anything, doesn't make sense, etc. Tha

[2017-01-30 14:49] cbeams commented on #49
Assigning to you, @kousen, to be implemented in the process of reviewing #50.

[2017-01-30 18:01] kousen commented on #8
GitHub repo created: https://github.com/gradle-guides/gs-creating-java-projects

[2017-02-01 07:35] ysb33r commented on #44
We have three open items left as described in https://github.com/gradle/guides/issues/44#issuecomment-264407598.

[2017-02-02 07:52] ysb33r opened #51 "Getting started creating composite builds"
Use basic hello world example where Greeter library is build in one project and a second project will consume the artifact without having to resolve it from a remote repository

 - [ ] **Title**: Creating Composite Builds
 - [ ] Explain prerequisites
 - [ ] Show command-line example
 - [ ] Show `settings.gradle` example

[2017-02-02 07:55] ysb33r commented on #46
Converting this to an epic, because it looks like there cold be more than one guide in here wanting to come out. Building Javascript with Gradle is a theme.

[2017-02-06 10:52] ysb33r opened #52 "Migrate 'Creating a New Gradle Build'"
Migrate the existing the document for a Getting Started Gradle Guide under guides.

- [x] New repository in gradle-guides: `creating-new-gradle-builds`.
- [x] Migrate source across trying to fit new structure as near as possible.
- [x] Review migration
- [x] Update `_data/guides.yml` in `gradle/gotorg-site`.
- [x] Delete source: https://github.com/gradle/dotorg-site/blob/gh-pages/getting-started/c

[2017-02-06 11:03] ysb33r opened #53 "Migrate existing 'Getting Started' guides from old format to new format"
We want to move existing guides that are on the gradle.org site over so that all guides have the same look-and-feel. These guides have already gone through one migration from Wordpress to markdown, by needs to be separate repositories as with the other Getting Started Guides.

[2017-02-06 14:21] ysb33r commented on #53
Moved to gradle/guides-private#11

[2017-02-06 14:21] #53 closed

[2017-02-06 14:29] ysb33r opened #54 "Migrate 'Using an existing Gradle build'"
Migrate the existing the document for a Getting Started Gradle Guide under guides.

 - Existing link: https://gradle.org/getting-started/using-a-build
 - [x] Update `creating-new-gradle-builds` to link to new URL.
- [x] Review migration
 - [x] Update `_data/guides.yml` in `gradle/gotorg-site`.
 - [x] Delete source: https://github.com/gradle/dotorg-site/blob/gh-pages/getting-started/using-a-build.m

[2017-02-06 14:33] ysb33r opened #55 "Migrate 'Migrating from Maven to Gradle'"
Migrate the existing the document for a Migrating from Maven to Gradle under guides.

 - [x] Create new repository  `gradle-guides/migrating-from-maven`. Use this as a test-bed for a script to automate creation of topical guides (#68). (@ysb33r)
 - [x] Convert from Markdown to Asciidoc. (@ysb33r)
 - [x] Enable for Travis
 - [x] Use Gradle 3.4 (@ysb33r)
 - [x] Invite comments for updates from build

[2017-02-06 17:37] ysb33r commented on #55
This is related to #31 and could be considered a duplicate.

[2017-02-07 16:44] ysb33r commented on #51
Will be using this as way to check that the whole guides infrastructure can function without having @cbeams around.

[2017-02-08 18:47] ysb33r commented on #44
- [ ] Fix the `create-gs-guide` script to work on Linux

[2017-02-09 13:35] ysb33r commented on #51
The repo is now available at https://github.com/gradle-guides/create-composite-builds (initial comment updated).

[2017-02-09 16:25] pioterj commented on #51
@ysb33r You are probably aware of that but there are composite builds samples in the distribution that may be helpful when creating this guide.

[2017-02-09 16:27] pioterj commented on #47
@ysb33r @kousen: @bmuschko wrote TestKit and would be a great person to advise on and review this guide.

[2017-02-09 16:28] pioterj commented on #12
@cbeams Do we need anything else before closing this one? It's already available at https://guides.gradle.org/performance/.

[2017-02-09 16:30] pioterj commented on #1
@kousen @ysb33r: @donat are @oehme are extremely knowledgable about Buildship if you need advice once you get to it.

[2017-02-10 10:03] cbeams commented on #49
On our call yesterday, I believe we decided that @ysb33r would take a first-pass edit here and give his comments. If I have time after that, I'll weigh in too. Updating assignees, etc to reflect.

- [ ] @ysb33r to review

[2017-02-10 10:40] cbeams commented on #12
Right, Piotr. This guide is already live, so I'm closing this issue to reflect. It is being in the process of being restyled, but that's being tracked elsewhere.

[2017-02-10 10:40] #12 closed

[2017-02-10 11:01] ysb33r commented on #49
I have done a first pass on it leaving comments on the https://github.com/gradle-guides/gs-creating-java-projects/commit/db35f854c375dc089a4996c86997389e76608c9b#diff-7bd4a925c695c2eb0eced3872b9b965f commit, but have not done an in-place copy-edit.

It's over to you @cbeams for a review.

[2017-02-10 11:03] pioterj commented on #51
@cbeams @ysb33r @kousen I think getting started with composite builds guide can be split into two guides for main use cases:
- Testing changes in an external library
- Building multi-repo projects

That would be in the spirit of short focused guides and avoiding being self-referential. There would be some overlap, of course but if we covered those two main topics in one guide we would have to digr

[2017-02-10 11:23] pioterj commented on #49
@kousen @ysb33r @cbeams It sounds like we may want to be more specific here rather than saying this is a guide to create a Java "project", which can be a number of things.

What we are creating here is an executable Java application, a piece of software that is meant to be run.

We have a separate guide about [building libraries](https://guides.gradle.org/gs-building-jvm-libraries/), meant to be c

[2017-02-10 11:29] pioterj commented on #49
Another feedback is that I'd remove the part about Eclipse import. Instead we could point to follow-up guides on "Import Gradle project to Intellij IDEA" and "Import Gradle project to Eclipse".

[2017-02-10 11:32] pioterj opened #57 "Consider removing 'Maintaining an Existing Gradle Build' guide"
[Maintaining an Existing Gradle Build](https://gradle.org/getting-started/maintaining-a-build) is not very useful at the moment. It basically just points to different resources. It's very different from other getting started guides. I propose that we remove it for now.

[2017-02-10 11:41] pioterj opened #58 "Update 'Building JVM Libraries' guide to use new Java library plugin"
Update [Building JVM Libraries](https://guides.gradle.org/gs-building-jvm-libraries/) guide to use new Java library plugin once 3.4 is out. We could simply use `init` plugin like with upcoming guide about [Java applications](https://github.com/gradle/guides/issues/49).

[2017-02-10 13:39] bmuschko commented on #30
@cbeams @ysb33r I feel like we are very close to finishing this guide. What's still required to get it over the finish line? I'd like to see it linked on the gradle.org page. Anything I can help with to make it happen?

[2017-02-10 14:28] bmuschko commented on #9
@cbeams @ysb33r I feel like we are very close to finishing this guide. What's still required to get it over the finish line? I'd like to see it linked on the gradle.org page. Anything I can help with to make it happen?

[2017-02-10 17:10] cbeams commented on #49
@kousen, I've just taken a few minutes to look over the guide, and the good news is that I was able to take just a few minutes to do it, because it's actually that short!

Seriously, this is looking pretty close to the mark. I wish I had the time to actually follow each step and really get the feeling / experience of going through the guide, but I'm afraid I have a few other things to finish befor

[2017-02-10 22:42] cbeams commented on #9
@bmuschko, @ken and @ysb33r are on point now and will take this from here. Guys, can you weigh in? Thanks.

[2017-02-10 22:43] cbeams commented on #30
@bmuschko, @ken and @ysb33r are on point now and will take this from here. Guys, can you weigh in? Thanks.

[2017-02-11 11:53] ysb33r commented on #9
@bmuschko will let @ken gave a quick pass on it next week, then we shpuld be good to go

[2017-02-11 19:48] ysb33r commented on #30
@ken I assigned this to you for review.

[2017-02-11 19:53] ysb33r commented on #30
@bmuschko if @ken can give a quick pass on it next week, then we shpuld be good to go

[2017-02-11 22:02] ken commented on #30
you are sending this to the wrong "ken"

On Sat, Feb 11, 2017 at 11:53 AM, Schalk W. Cronjé <notifications@github.com

[2017-02-11 22:05] kousen commented on #30
Snicker. He got me too. I suppose this was inevitable at some point. Btw, nice to meet you. :)

[2017-02-11 23:00] ken commented on #30
always happy to meet a ken.

On Sat, Feb 11, 2017 at 2:05 PM, Ken Kousen <notifications@github.com>
wrote:

[2017-02-13 08:31] pioterj commented on #49
@kousen I left a couple of minor comments but overall it looks really good!

[2017-02-13 11:21] ysb33r commented on #44
All of the items in this has been covered. We have gone through the steps more than once for now. I am assigning this over to you @pioterj just for a last check. Close if you think it's good enough.

[2017-02-13 12:04] ysb33r commented on #30
Apologies @ken. Won't happen again

As a piece of trivia, the Afrikaans word to get to know someone is "ken"

[2017-02-13 12:14] pioterj commented on #44
I did try the steps at https://github.com/gradle/guides#how-do-i-build-and-serve-all-guides-locally and it didn't work for me. I can clone individual repos fine but using `mr checkout` results in a bunch of errors:

[code]

Any idea why it could be the case?

[2017-02-13 12:16] pioterj commented on #44
I'd also suggest to make "Create a new repository for the guide" a top level section as it's not really a part of "Handling proposals for new guides" but a step needed to actually implement one.

[2017-02-13 12:25] ysb33r commented on #44
@pioterj Indeed. Just wanted to let you have a look over this one as it describes the process.

[2017-02-13 13:34] kousen commented on #44
Regarding the mr problem, when I did that for the first time Chris told me I had to make a file called .mrtrust in my home directory and add the fully qualified path name to the repo as a line in it. For example, for my "marketing" checkout, I had to add:

`/Users/kousen/..../marketing/.mrconfig`

where the omitted part was all the directories in between. I don't know if that's the issue you're ge

[2017-02-13 15:45] ysb33r commented on #52
Added a checklist for migration

[2017-02-13 16:23] pioterj commented on #44
Thanks, @kousen but it didn't solve the problem for me. Anyway, that's not big deal. It most important that it works for you and @ysb33r at this point.

[2017-02-13 17:34] ysb33r commented on #52
Repository https://github.com/gradle-guides/creating-new-gradle-builds created

[2017-02-14 17:37] eriwen opened #60 "Getting Started with Gradle and Jenkins Guide"
One of the most highly hit pages that we no longer have on gradle.org is [gradle-and-jenkins/ (Wayback machine)](https://web.archive.org/web/20151023170851/http://gradle.org/gradle-and-jenkins/). Also https://gradle.org/uncategorized/managing-jenkins-with-gradle/.

We should have a getting started guide for this, and I'd like to get @wolfs input here.

[2017-02-14 17:38] kousen commented on #60
Definitely a good idea. I'll add it to the list and see what we had

[2017-02-14 18:00] bmuschko commented on #60
We'd need to cover more than just the Gradle plugin for Jenkins here to make the content worthwhile. The plugin is only a UI on top of a couple of command line options. It simply just calls off to the Gradle executable and doesn't even use the Tooling API.

[2017-02-14 18:15] eriwen commented on #60
I'd like to ask we consider how we can deliver this incrementally, then. Even a little guide is better than nothing.

[2017-02-15 09:44] pioterj commented on #57
@ysb33r @kousen This looks like very little effort and should help the guides to look more consistent and professional. Shall we prioritize it soon?

[2017-02-15 09:46] pioterj commented on #8
@ysb33r @kousen Who is reviewing this? It's been apparently waiting for review for 20 days.

[2017-02-15 09:52] pioterj commented on #44
I have no more comments. Reassigning to @ysb33r.

[2017-02-15 13:14] kousen commented on #8
As part of the review, the idea was to create a plugin as though it came from someone outside. That's what generated the Create Java Applications effort. Now that that's (essentially) done, as soon as I can find some time I can finish the review/update.

[2017-02-15 13:15] kousen commented on #57
First I've seen this. I agree that it's no longer needed, since whatever it means will be wrapped into other guides/tasks.

[2017-02-15 13:19] pioterj commented on #57
@kousen It's right there on https://gradle.org/doc.

[2017-02-15 13:24] kousen commented on #57
I don't understand. That link gives me a 404. What do you want me to do exactly?

[2017-02-15 14:14] ysb33r commented on #57
I think we should just kill it off. It detracts in its current form rather than supporting anything.

(Added it to gradle/guides-private#11 )

[2017-02-15 14:22] pioterj commented on #57
Sorry, that should be https://gradle.org/docs.

[2017-02-15 14:29] kousen commented on #57
I see it now. I agree with Schalk. Let's remove it and handle similar issues in another way.

[2017-02-15 15:44] bmuschko commented on #60
I think there a various aspects we could cover here:

- Executing a Gradle build on Jenkins
- Managing the creation of Jenkins build jobs with Gradle
- Creating pipelines on Jenkins that trigger Gradle-based builds

The question is: What are users actually looking for?

[2017-02-15 20:43] ysb33r commented on #44
Closing this as we have more than a good README to take the Guides effort public.

[2017-02-15 20:43] #44 closed

[2017-02-15 20:49] ysb33r commented on #57
I am going to enact this as part of the guides we want to roll out by 18 Feb.

[2017-02-15 22:12] ysb33r commented on #60
We might consider just doing Gradle on Jenkins as trivial, but we always have to remember people come to Gettign Started guides becasue they might know nothing.

This is separate from the other two, but very important. We should really get @ghale to write this andKen & I can copy-edit it afterwrda

[2017-02-15 22:19] ysb33r commented on #52
@hansd @pioterj @kousen This is basically what a migration of this guide will look like. I think we should probably do some textual changes, before finally taking it live

Old:

![image](https://cloud.githubusercontent.com/assets/907624/22997963/01333f58-f3d5-11e6-85cc-33b883e3edfe.png)

New:

![image](https://cloud.githubusercontent.com/assets/907624/22997951/ef29bd50-f3d4-11e6-899e-b8e554da6d6c.

[2017-02-15 22:22] ysb33r commented on #52
@kousen This is now in a position for a first migration review.

[2017-02-16 06:28] kousen commented on #52
I reviewed the file and added some comments. It still needs editing, but the conversion from Markdown to Asciidoc looks good.

[2017-02-16 09:56] wolfs commented on #60
A getting starting guide could be as simple as showing how to configure then Jenkins Gradle plugin for a build as the old page did. For a guide, I think we should go a little bit further and show how to configure the build in a way that the test results are captured and how to make the build unstable instead of failed if you have failing tests. We could also show how to capture Findbugs violations

[2017-02-16 14:39] breskeby commented on #52
I'd use `gradle init --type java-library` instead of `gradle init --type=java-library` in the guide

[2017-02-16 14:40] breskeby commented on #52
As we see `Starting a Gradle Daemon (subsequent builds will be faster)` in the output of the guide I'd add one or two sentence(s) about this

[2017-02-16 14:43] breskeby commented on #52
the link to `https://gradle.org/getting-started/using-a-build/` is broken

[2017-02-17 11:36] ysb33r commented on #8
Not sure if @kousen still want's to add some final edits. I think it is otherwise ready to be launched.

[2017-02-18 17:34] kousen commented on #8
Ready to be launched.

[2017-02-18 17:36] kousen commented on #50
Reviewed with @ysb33r. Closing.

[2017-02-18 17:36] #50 closed

[2017-02-18 18:02] ysb33r commented on #57
Assigning to you @chaficnajjar. Please close when this has been enacted on dotorg-site.

[2017-02-18 18:03] ysb33r commented on #30
Assigning to you @chaficnajjar. Please close when this has been enacted on dotorg-site.

[2017-02-18 18:04] ysb33r commented on #8
Assigning to you @chaficnajjar. Please close when this has been enacted on dotorg-site.

[2017-02-18 18:04] ysb33r commented on #49
Assigning to you @chaficnajjar. Please close when this has been enacted on dotorg-site.

[2017-02-20 14:12] chaficnajjar commented on #30
Closing as complete. The guide is now live and can be accessed from https://gradle.org/docs#getting-started. Great job everyone!

[2017-02-20 14:12] #30 closed

[2017-02-20 14:15] chaficnajjar commented on #49
Closing as complete. The guide is now live and can be accessed from https://gradle.org/docs#getting-started. Great job everyone!

[2017-02-20 14:15] #49 closed

[2017-02-20 14:15] chaficnajjar commented on #8
Closing as complete. The guide is now live and can be accessed from https://gradle.org/docs#getting-started. Great job everyone!

[2017-02-20 14:15] #8 closed

[2017-02-20 14:17] chaficnajjar commented on #57
Closing as complete. The guide 'Maintaining an Existing Gradle Build' has been removed from https://gradle.org/docs#getting-started.

[2017-02-20 14:58] kousen opened #61 "Getting started with Build Scans"
Use basic example showing how to add build scan capabilities to an existing build, how to run the scan, and how to add an init script that adds the appropriate task to all builds

 - [x] **Title**: Collecting Metrics With Build Scans (may need better title)
 - [x] Repo created: https://github.com/gradle-guides/basic-build-scans
 - [x] Explain prerequisites
 - [x] Show command-line example
 - [x] S

[2017-02-20 14:59] pioterj opened #62 "Make capitalization on guides page consistent"
Capitalization on https://gradle.org/docs is not consistent.

Some guides are capitalized like titles:

- Creating Java Applications
- Writing Custom Gradle Tasks
- Writing a Getting Started Guide

Others are capitalized like sentences :

- Creating a new Gradle build
- Using an existing Gradle build
- Building JVM libraries

From what I can see all main headings in individual guides are properly

[2017-02-20 15:01] pioterj commented on #62
Test

[2017-02-21 09:11] ysb33r opened #63 "Building Android"

[2017-02-21 09:14] ysb33r opened #64 "Android Performance Topical Guide"
As per a comment by @hansd we need to educate the community on achieving maximum performance when building Android with Gradle.

*Outline*: TBD

[2017-02-21 09:53] ysb33r commented on #42
@kousen do you want to tackle this in the next couple of weeks?

[2017-02-21 09:55] ysb33r commented on #11
Superceded by #51

[2017-02-21 09:55] #11 closed

[2017-02-21 09:59] ysb33r commented on #20
@eriwen @adammurdoch If you look at the guide that @kousen wrote at https://guides.gradle.org/creating-java-applications/ then I think it covers a lot of the `init` plugin adequately. I think we should just close this issue out in favour of what was done in #49.

[2017-02-21 10:33] ysb33r opened #65 "Show the versions of Gradle that apply to a guide"
In the longer term this might require more detailed infrastructure work, but for the short term we should add a `docinfo-footer` with text that states something like _Tested with Gradle 3.3_.

 - [ ] Update `gs-template` to:
   - [ ] Add docinfo.footer with substituble text
   - [ ] Update build.gradle file with attributes to allow `docinfosubs : 'gradle-version,gradle-versions-tested'`  (See http

[2017-02-21 10:35] ysb33r commented on #19
I asked Dan Allen about this: https://twitter.com/mojavelinux/status/833987366348005376

[2017-02-21 11:09] ysb33r opened #66 "Writing Build Scripts in Kotlin"
Although there is a lot of community knowledge for writing build scripts in the standard Groovy DSL, having a starter guide to writing a build script in Kotlin would be a good addition. My suggestion is to use @kousen's `creating-java-applications` and do a equivalent version.

[2017-02-21 11:36] ysb33r commented on #13
When this guide has been written, the `creating-new-gradle-builds` guide will need to be updated to point here.

[2017-02-21 11:42] ysb33r commented on #66
When this is written the `creating-new-gradle-builds` guide will need to have a small section added on Kotlin and then pointed to this guide.

[2017-02-21 11:55] pioterj commented on #66
Converting Groovy scripts to Kotlin could be an interesting topical guide. cc @bamboo

[2017-02-21 12:40] ysb33r opened #67 "Automatically add 'Help improve this guide' to all guides"
In a similar vein to #65 use docinfo-footer to add text with links to repository of the guide

[2017-02-21 12:42] hansd commented on #64
@ysb33r Thanks for creating the issue.

@oehme We were talking about a blog post. But we might as well start with a topical guide from the beginning. We can still create a blog post. But that would rather provide the narrative and historical context and then pointing to the topical guide. WDYT?

[2017-02-21 13:04] oehme commented on #64
@hansd I feel like the blog post should be ready first, so we can generate some excitement and deter people from trying out Buck.

The topical guide would rather provide best practices and advise against common pitfalls. Those are actually quite independent from the problems we solved with the Android SOW. The former were always within the user's control (e.g. don't use crashlytics on debug builds

[2017-02-21 13:20] hansd commented on #64
That makes sense. Where I see overlap is that with the latest version certain project structures will disproportionally benefit. But yes, all the features that just makes things faster without the user required to do something should be covered in the blog post and not in the topical guide.

[2017-02-21 13:29] bmuschko commented on #64
FYI: The existing performance topical guide already gives [suggestions for Android](https://guides.gradle.org/performance/#suggestions_for_android_builds). We should expand on those and extract into its own guide as needed.

[2017-02-21 13:29] oehme commented on #64
Yes, there is an important message that we need to have in both the blog post and the guide: Structure your app into more modules.

[2017-02-22 09:30] ysb33r commented on #52
Reassignign to @kousen. I've done a major rewrite. Please feel free to copy-edit it directly instead of just providing feedback and commit your changes.

We still need to work this feedback from @breskeby into the final doc too.

[2017-02-22 12:02] ysb33r opened #68 "Automate creation of topical guides"
Build upon the script that automates the creation of new Getting Started guides to also create Topical guides.

[2017-02-22 12:12] ysb33r commented on #55
I have added the initial checklist of things that I know needs doing as part of this guide migration.

[2017-02-22 12:47] ysb33r opened #69 "Create template for Topical guides"
In a similar fashion to `gradle-guides/gs-template` create `gradle-guides/topical-template`.

[2017-02-23 11:53] pioterj commented on #52
@ysb33r I'm wondering whether we shouldn't make this guide technology agnostic.

We could use `init` without any type just to demonstrate a wrapper and then add something completely generic to the build logic like working with files or something like that. We cover building JVM library in a dedicated guide. This guide could be an entry point to getting started guides in specific technologies as a

[2017-02-23 11:57] pioterj opened #70 "Building native projects"

[2017-02-24 10:30] ysb33r commented on #52
@pioterj You are so right about this

[2017-02-24 22:24] eriwen opened #71 "Building Go Applications"

[2017-02-26 21:04] ysb33r commented on #69
@kousen Assigning to you as you might want to look at the structure and maybe add bits to `index.adoc`. I suspect some to-and-fro on this, especially some questions, before we finalise.

I am going to use this to finalise `migrating-from-maven`.

[2017-02-26 21:06] kousen commented on #69
Sounds good. I'll try to review this before our next talk, which we should arrange some time this week. Thanks for doing this.

[2017-02-27 13:18] ysb33r commented on #55
Conversion complete and visible at https://guides.gradle.org/migrating-from-maven. Waiting for potential feedback.

[2017-02-27 13:21] ysb33r commented on #55
@kousen You might want to read over this for style. Re-assign to me when done and I'll take care of getting it ready to be published

[2017-02-27 14:36] pioterj commented on #52
@ysb33r Shall we make this guide technology agnostic then?

[2017-02-27 14:43] ysb33r commented on #52
@pioterj I think we should.

[2017-02-27 15:28] ysb33r commented on #55
The repository is at https://github.com/gradle-guides/migrating-from-maven.

[2017-02-27 15:36] kousen commented on #69
Reviewed structure with @ysb33r

[2017-02-28 09:10] pioterj commented on #52
I thought a little bit more about how we can improve this guide.

It could be something like:
- Installation (could simply point to https://gradle.org/install)
- Introduce concept of wrapper (run `init` without parameters)
- Create a simple "hello world" task and run it
- As next steps point to:
     - https://guides.gradle.org/writing-gradle-tasks/ for more information about creating tasks and or

[2017-02-28 15:14] kousen commented on #52
That would certainly be easy enough to write, and it would be pretty short. I'll take a look at it.

[2017-02-28 15:19] ysb33r commented on #68
This is at a create point to merge.

The only thing that is missing from the initial process is updating the Github -> Slack notifications. That still has to be done manually for the time being. I'll open another card to investigate that, but we are getting into diminishing returns at this point.

[2017-02-28 15:29] ysb33r commented on #62
@pioterj @kousen Did you come to a conclusion on this in your chat from yesterday?

[2017-02-28 15:30] pioterj commented on #62
I don't have a strong opinion. I'm leaving it to you and @kousen. You guys are the experts. All I care about is that it's consistent.

[2017-02-28 15:32] kousen commented on #62
Let's go with mixed case on the links. It reads well enough.

[2017-02-28 16:33] ysb33r commented on #62
Will take care of it.

[2017-03-01 12:08] ysb33r commented on #62
Done on branch: https://github.com/gradle/dotorg-site/commit/325a4dfee117b56756ba9e54558be8dc1424683a.

It will be merged live as part of #55.

[2017-03-01 12:29] ysb33r commented on #69
Done.

[2017-03-01 12:29] #69 closed

[2017-03-02 17:21] bmuschko commented on #9
I read over the guide again. Here's my feedback:

- Select an option from the introduction and remove the other two. My vote goes to option 1.
- "You need to apply it in another project for it to be useful, so we will show you how to do that next." - The wording is confusing. I am not sure what is meant by "another project". I think we should say "to _a_ project" and also mention that it is the sa

[2017-03-03 09:08] ysb33r opened #72 "Make 'Getting Started a New Gradle Build' platform agnostic"
This is a split away from #52 to focus on the content itself whereas the form will focus on migrating style.

From @pioterj in Slack:

_We could use_ `init` _without any type just to demonstrate a wrapper and then add something completely generic to the build logic like working with files or something like that. We cover building JVM library in a dedicated guide. This guide could be an entry point

[2017-03-03 09:09] ysb33r commented on #52
The content work has moved to #72. This issue will complete the styling work.

[2017-03-03 11:19] pioterj commented on #72
One more thing we could consider adding to the scope is defining task dependency because it's such a fundamental concept.

[2017-03-03 12:44] ysb33r opened #73 "Update gs-template with correct Gradle wrapper"
- [x] Current Gradle wrapper seems to be broken. Add a new one for 3.4.
- [x] Add a `settings.gradle` file. it has been mentioned before that this adds unnecessary complexity, but it solves issues when new guides are being created in subfolders as it prevents Gradle from searching up in tree for one.
- [x] Adjust directory structure to accommodate testable code blocks and continuous mode.
- [x] Cr

[2017-03-05 17:59] ysb33r commented on #55
Taking it live as-is. Any style recommendations should be logged on the issues for this guide: https://github.com/gradle-guides/migrating-from-maven/issues.

[2017-03-05 18:31] ysb33r commented on #9
Thank you for the feedback @bmuschko; changes have been applied.

[2017-03-06 15:51] bmuschko commented on #9
@ysb33r Guide has been published to gradle.org. Correct me if I am wrong but shouldn't the issue be closed or is there still some work that needs to be done?

[2017-03-06 18:08] #9 closed

[2017-03-06 18:08] #52 closed

[2017-03-06 18:08] #54 closed

[2017-03-06 18:08] #55 closed

[2017-03-06 18:08] #62 closed

[2017-03-07 16:11] kousen commented on #61
https://github.com/gradle-guides/basic-build-scans is the repo created by the create script. Still has a problem with Travis, but can add content now

[2017-03-07 16:51] kousen opened #74 "Getting started with incremental build support"
Create a guide to show how to use incremental build support, similar to the blog post in https://blog.gradle.org/introducing-incremental-build-support

[2017-03-10 13:13] ysb33r commented on #73
After creating the repository, the Gradle Wrapper JAR is corrupt. I ran

    $ unzip -l path/to/new/repo/gradle/wrapper/gradle-wrapper.jar

and the resulting error is

[code]

[2017-03-10 13:15] ysb33r commented on #73
There are a number of possibilities and I'll investigate the following:

- [ ] The JAR in the `gs-template` repo is corrupt
- [ ] The JAR becomes corrupted during the unzip process
- [ ] The JAR becomes corrupted during the final copy process

[2017-03-10 13:44] ysb33r commented on #48
Skeleton repo created - https://github.com/gradle-guides/publishing-plugins-to-gradle-plugin-portal

[2017-03-13 12:08] ysb33r commented on #73
The JAR corruption issue has been resolved.

[2017-03-13 13:11] pioterj commented on #4
I'm not convinced there should be a guide covering Gradle installation. We have nice installation instructions at https://gradle.org/install covering different ways to do this that we can reference in all getting started guides.

[2017-03-13 13:13] ysb33r commented on #4
Agreed. Let's close this.

[2017-03-13 13:14] ysb33r commented on #4
Also all of the new guides are now suppose to reference that URL.

[2017-03-13 13:14] #4 closed

[2017-03-13 15:28] kousen commented on #61
Need to know: okay to use the build quick-start project, or make our own?

[2017-03-14 07:53] ysb33r commented on #61
- [ ] Remove the numbered steps as it does not fit with using imperative mode (style guide)
- [ ] Don't use capitalization in seciton headers (except for title).
- [ ] Reword step 6 to _Enable build scans for all builds (optional)_
- [ ] Under _Apply the Build Scan plugin_ use a callout for the code block rather than the admonition.
- [ ] I think we prefer _Next Steps_ over _For more information_.

[2017-03-14 07:58] ysb33r commented on #61
@kousen As a general note, use the issue reference in commit subject lines. i.e. add `(gradle/guides#61)`

[2017-03-14 14:51] ysb33r commented on #61
I've gone through the whole exercise as described and it works for me. It took me about 15min to complete.

- [ ] Add timing to _What you'll need_

[2017-03-14 14:52] ysb33r commented on #61
@kousen Review done.

[2017-03-14 20:02] bmuschko commented on #48
I am wondering if we could somehow separate the plugins published to the portal by users of this guide from the "real" plugins. After a couple of weeks there will likely be tens or hundreds of "Greeting" plugins. Any ideas on that?

[2017-03-15 09:37] pioterj commented on #64
Current [performance guide](https://guides.gradle.org/performance/) is quite long and it's going to get even longer with new big caching topic and several other smaller ones. I think it makes sense to start thinking about splitting it into several smaller guides, e.g.:

- Core
   - Performance tips for all ecosystems: using latest Gradle version, daemon, profiling, incremental builds, caching, sta

[2017-03-15 11:43] pioterj commented on #48
Very good point, @bmuschko. I'm also not sure whether we should replicate [writing Gradle plugins](https://guides.gradle.org/writing-gradle-plugins-in-java/) here. For a guide about publishing plugins I think it's reasonable to expect prior knowledge about how to write a plugin in the first place. Someone who just wrote their first "hello world" is not likely to be interested in publishing it at t

[2017-03-15 11:47] bmuschko commented on #48
@pioterj I just made the comment about the "Greeting" plugin because the current draft uses it. We should definitely not re-iterate how to write a plugin. I am just going to wait until the draft is actually done before reviewing as things might change in the process of writing.

[2017-03-16 12:21] ysb33r commented on #48
I originally added the code into this guide as the [Writing Gradle Plugins](https://guides.gradle.org/writing-gradle-plugins-in-java/) uses `buildSrc`.

Having slept on this after a discussion with @pioterj I think we have a bridging gap - that is going from a `buildSrc` plugin to a full plugin. This guide is not the place for it, but I'm left with a dilemma of where the bridge should be. We can p

[2017-03-16 12:23] bmuschko commented on #48
I'd probably just provide the reader of this tutorial with the plugin code as separate project as starting point.

[2017-03-16 12:26] ysb33r commented on #48
Do you mean you are going to create a repository for that OR did you just intend it as a generalised suggestion?

[2017-03-16 12:27] bmuschko commented on #48
In this case I meant _you_. ;-) But I'd also use that as a general guidance. For example if we write a guide on testing a plugin I don't want the reader to create a plugin first. The code should already be available.

[2017-03-16 13:03] ysb33r commented on #48
Good idea. Incidentally @kousen and I discussed a similar thing related to external (to guide) repositories.

[2017-03-16 20:12] kousen commented on #48
It may be that going from a buildSrc plugin to writing an external plugin is where we get the distinction between a getting started guide and a tutorial.

[2017-03-16 20:34] kousen commented on #61
All changes made, ran "gradle asc" and pushed result

[2017-03-16 20:39] kousen commented on #61
@ysb33r could you give this one last check and close the issue or take it live? I assume I shouldn't do that myself.

[2017-03-17 03:02] ysb33r commented on #61
I'll have a look and schedule it to go live. This is a pretty simple process - will show you next werk.

[2017-03-17 11:32] pioterj commented on #61
Nice work, @kousen.

Apart from publishing it on https://gradle.org/docs, we are also going to replace https://gradle.com/scans/get-started, right?

One small comment. Instead of saying "Additional information can be found in the Build Scans User Manual found at https://docs.gradle.com/scans/", I'd simply replace it with a link like this: [Build Scans User Manual](https://docs.gradle.com/scans/).

[2017-03-17 14:22] pioterj commented on #1
One of the reasons to prioritize this guide is the fact that Buildship doesn't have an official documentation today. See https://github.com/eclipse/buildship/issues/238.

[2017-03-17 14:47] pioterj opened #75 "Getting started building Java web applications"
- Build WAR using `war` plugin
- Run web application using `akhikhl/gretty`

Would replace unfinished [Web Application Quickstart](https://docs.gradle.org/current/userguide/web_project_tutorial.html).

[2017-03-17 15:19] pioterj opened #76 "Getting started building Groovy libraries"
Repo: https://github.com/gradle-guides/building-groovy-libraries
Guide: https://guides.gradle.com/building-groovy-libraries

- [x] Create Groovy library project with `init`
- [x] Run Spock tests
- [x] Groovydoc
- [x] ~~Explain difference between using `compileOnly` and `compile` for specifying the Groovy dependency. This is important for the user to to understand how this will influences the distr

[2017-03-17 15:20] pioterj opened #77 "Getting started building Scala libraries"
Repo: https://github.com/gradle-guides/building-scala-libraries
Guide: https://guides.gradle.org/building-scala-libraries

- [x] Create Scala library with `init`
- [x] Run ScalaTests tests
- [x] scaladoc
- [x] Next Steps
- [x] Set timings

[2017-03-17 15:25] pioterj opened #78 "java"

[2017-03-17 15:26] pioterj commented on #78
Created by mistake when creating an epic. Closing.

[2017-03-17 15:26] #78 closed

[2017-03-17 15:27] pioterj opened #79 "Building JVM projects"
- [x] [Building Java libraries](https://github.com/gradle/guides/issues/5)
- [x] [Building Groovy libraries](https://github.com/gradle/guides/issues/76)
- [x] [Building Scala libraries](https://github.com/gradle/guides/issues/77)
- [x] [Building Java executable applications](https://github.com/gradle/guides/issues/49)
- [x] [Building Java web applications](https://github.com/gradle/guides/issues/7

[2017-03-17 16:25] pioterj commented on #79
I created this epic so that we can have a discussion about holistic coverage of building JVM projects.

We have 3 guides on the topic already that are quite inconsistent and I'm afraid it's just going to get worse if we don't establish a holistic vision.

What we currently have is:
- [Getting Started Creating New Gradle Builds](https://guides.gradle.org/creating-new-gradle-builds/) that covers cre

[2017-03-20 09:08] pioterj opened #80 "Plugin development"
@ysb33r commented on [Thu Mar 02 2017](https://github.com/gradle/guides-private/issues/18)

Writing guides targeted at plugin authors

[2017-03-20 09:29] pioterj commented on #74
I'd see this one as a part of the series of guides about performance. https://guides.gradle.org/performance/ could be an entry point that links to other guides like this one, https://github.com/gradle/guides/issues/64, https://github.com/gradle/guides/issues/36 and possibly others suggested in https://github.com/gradle/guides/issues/64#issuecomment-286689300.

[2017-03-20 10:50] ysb33r commented on #61
Guide has been deployed

[2017-03-20 10:50] #61 closed

[2017-03-20 10:59] pioterj commented on #61
Great. What about https://gradle.com/scans/get-started? As a follow up I think it would make sense to:
- Replace the "getting started with build scans" link on gradle.com to point to this guide
- Remove the page at https://gradle.com/scans/get-started and redirect it to this guide

This doesn't necessarily has to be done by the Guides team as I don't think you have the access and knowledge about g

[2017-03-21 22:36] bmuschko opened #81 "Gradle Plugin Best Practices Topical Guide"
Many plugin developers ask themselves about best practices. This topical guide is meant to be collection of recipes of dos and don'ts. This guides should be expanded by new recipes over time and link other useful guides/documentation.

I wanted to put together something along the lines of the following presentation: https://speakerdeck.com/bmuschko/gradle-plugin-best-practices-by-example.

[2017-03-22 08:12] pioterj commented on #81
Great idea.

[2017-03-22 16:19] kousen opened #82 "Redesign Getting Started Guides home page"
Create a home page for the Gradle guides that will scale reasonably as the number of guides grows, and has an appealing look and feel.

[2017-03-23 12:02] pioterj commented on #61
@kousen I opened an issue for the above at https://github.com/gradle/dotcom-site/issues/36.

[2017-03-23 17:10] eriwen commented on #46
@ysb33r @kousen I intend to write a set of guides in the next 2 months. I hope you'll consider reviewing, and I would like to ask one of the Webpack core contributors (Sean Larkin) to also review.

[2017-03-23 18:19] kousen commented on #46
I think that's great. I'm looking forward to seeing what you put together. I'll be happy to help however I can.

[2017-03-23 23:23] ysb33r commented on #48
@bmuschko @ken This is up for review. I spent quite a bit of time restructuring the layout of the repo itself as I wanted to be closer to the repo layout for topical guides. It also allowed to the code snippets used within this guide to be testable.

This has been the major reason for this guide taking longer to produce the content than normal. The side affect of this will be that I can now work o

[2017-03-24 11:03] pioterj commented on #48
@ysb33r Will samples in other guides be also testable thanks to this work?

Also, how will we prevent polluting the plugin portal with lots of greeting plugins?

I've never went through the process of publishing a plugin but on https://plugins.gradle.org/docs/submit I read:

Perhaps we could have a process here that those plugins are rejected by Plugin Portal maintainers. Maybe we could have some

[2017-03-24 12:37] pioterj opened #83 "Building fat JAR"
Building fat JARs is a common use case and the [shadow plugin](https://github.com/johnrengelman/shadow) is one of the most popular Gradle plugins. The plugin has very good [documentation](http://imperceptiblethoughts.com/shadow/).

Instead of creating a dedicated guide one option is also to cover the `shadow` plugin in [Creating executable Java applications guide](https://guides.gradle.org/creatin

[2017-03-24 12:45] bmuschko commented on #83
I still don't understand why people turn to the Shadow plugin to create fat JAR files. That's built-in functionality in Gradle (maybe requires better documention).

[code]

The Shadow plugin should only be used if you actually want to shade classes.

[2017-03-24 12:57] pioterj commented on #83
The reasons I can see:
- Lack of documentation about the technique above. I don't see any mention of fat JARs anywhere in our manual.
- Just applying `shadow` plugin is simpler and requires less code.

[2017-03-24 13:09] pioterj commented on #82
Here's how I'd see it:

- Separate page
- Split by guide types (getting started, topical, tutorials) like on https://spring.io/guides
- Search field like on https://spring.io/guides and http://guides.grails.org/
- Labels categorizing the guides like on http://guides.grails.org/
- Time to complete visible on the main page like on https://guides.github.com/

[2017-03-24 14:17] pioterj commented on #38
Sounds like we may want to invest in a proper [user manual](https://docs.gradle.org/current/userguide/embedding.html) first. I'm not convinced that we should cover embedding gradle as a guide any time soon. Could you clarify your point regarding Buildship? What's are the use cases that you are asked about?

[2017-03-24 14:52] bmuschko commented on #83
I don't think it's necessarily easier to create a fat JAR with the shadow plugin. You will also need to configuration _what_ should go into the JAR.

[code]

Either way I think we should properly enhance the Gradle user guide to demonstrate the feature.

[2017-03-24 15:23] pioterj commented on #83
The configuration block you mention above is optional. You can filter stuff if you need to but all you need to do in order to create a _functional_ fat JAR with the `shadow` plugin is to apply the plugin and it will include all dependent classes and resources by default. It will also use the `mainClassName` from the `application` plugin configuration so you don't have to configure the manifest fil

[2017-03-24 16:00] oehme commented on #38
People have a plugin and want to provide deeper IDE integration for it (like the Android guys do for the Android plugin). They always ask us to hardwire something into Buildship because they don't understand the basic philosophy of Gradle's tooling.

[2017-03-24 16:53] bmuschko commented on #83
In my mind an executable JAR is a different concern than a fat JAR. You can have a fat JAR without being executable. I wasn't aware that shadow plugin even does that.

[2017-03-24 16:56] pioterj commented on #83
You totally can but what are other use cases for creating a fat JAR other than to be able to easily execute it? I can't think of anything from the top of my head. That's why I thought it would make sense to add it to the "executable Java library" guide.

[2017-03-24 17:03] bmuschko commented on #83
Examples would be our Gradle API JAR or the TestKit JAR generated at runtime.

I think it would be important understand the use cases why people use the Shadow plugin. It seems to solve multiple purposes. I personally simply looked at it as a way to shaded classes in a JAR. Simply something I didn't know. I guess it's OK to add though I am bit concerned about the plugin as it uses _a lot_ of inter

[2017-03-24 17:32] bmuschko commented on #48
Comments from my end:

**General**

- Will users be able to follow along and actually execute the tutorial by publishing something? It seems more like a guide that you can't really run through end-to-end as user.
- We should reevaluate the idea of having some separate repository so users can actually do the publishing for a plugin that we provide.
- We mention that the plugin publishing plugin pro

[2017-03-24 18:04] kousen commented on #75
Repository is at https://github.com/gradle-guides/building-java-web-applications

[2017-03-24 22:29] kousen commented on #75
Ready for first review by @ysb33r . Much bigger job than I thought -- it's been a very long time since I've written a servlet, among other things. Felt obligated to add a unit test with Mockito, even though that makes it longer.

[2017-03-27 06:59] ysb33r commented on #48
@pioterj Once I have merge the required changes into `gs-template`, future guide writers will have the base for test code snippets. All they would need to do is write the code and include it in the guide. Depending on the topic they have have to do extra customisation, but this is the base I wanted.

[2017-03-27 07:01] ysb33r commented on #48
Firstly I place a note in the guide asking them not to try to publish the greeting plugin, but use their own plugin.

Seconldy, I think the portal will prevent additional users from publishing any plugin within the same id.

We have some safeguard, although it is not perfect.

[2017-03-27 07:02] ysb33r commented on #48
@pioterj I guess we need to speak to the engineering team about that.

[2017-03-27 07:17] ysb33r commented on #48
@bmuschko

Comments from my end:

General

This is a problem and maybe having a

I was thinking along these lines, but did not want the guide to be too long. Maybe such exercises belong better in a topical guide. I'm open to persuasion.

Should we specify what metadata is being shared?

I measured it and rounded it up to the closest 5. I was also working on the principle that the user has never pu

[2017-03-27 07:18] ysb33r commented on #48
- [ ] Consider using a `<you need to substitute>` style in the code snippet and then follow that with a n example for the Greeting plugin.
- [ ] Expand on what is being published.
- [ ] Fix capitalization & US English.
- [ ] Link to user guide on `gradle.properties`.
- [ ] Remove `;` from URL.
- [ ] Fix grammar that @bmuschko picked up on. (https://github.com/gradle/guides/issues/48#issuecomment-2

[2017-03-27 11:12] pioterj commented on #75
@kousen I just read it too. Looks good in general. I'm very excited about this guide as this is the first substantial new guide content that goes beyond Gradle fundaments.

One minor comment is I think we [shouldn't digress](https://github.com/gradle-guides/style-guide/#avoid-instructions-or-commands-that-arent-strictly-necessary) regarding `web.xml` and just focus on doing it Servlet 3.0 way. We

[2017-03-27 12:32] bmuschko commented on #75
The type of test you mention here (Selenium) is rather functional testing. It would test the application from the end user's perspective. Generally speaking, I don't think we should necessarily cover other types of tests in this guide. There should be a dedicated guide for doing so as it will have to touch on a whole bunch of other mechanism e.g. what are source sets and how do they work internall

[2017-03-27 12:53] pioterj commented on #75
I was thinking about replacing the unit test with functional test rather that adding it to the existing scope of the guide.

[2017-03-27 12:58] bmuschko commented on #75
I don't think we should do that as we'd promote a usage pattern that we usually do not recommend. Having a single source set for different types of tests and mixing up their dependencies.

[2017-03-27 13:12] pioterj commented on #75
To clarify, I meant replacing that part of the guide content and cover functional test instead of unit test. Whether they use a separate source set is a matter of how we demonstrate it and we can totally do it this way.

[2017-03-27 13:21] bmuschko commented on #75
I'll leave that up to Ken to decide. My personal opinion is to not cover testing here at all and have a separate getting started guide that promotes the right way for setting up different types of tests. That guide might even become a topical guide as I can imagine various use cases, different types of tests and concepts that need to be explained.

[2017-03-27 13:29] pioterj commented on #75
I hear what you are saying. At the same time testing is such a fundamental aspect of the build that I'd be tempted to cover it in every getting started guide about particular language / ecosystem. That doesn't mean that we can't do a separate topical guide as well covering different types of tests in more detail. We could just focus on the most appropriate / relevant type of tests in individual ge

[2017-03-27 16:15] bmuschko opened #85 "Configuring and using multi-project builds"
- Real world example that is approachable to readers
- Organizing build logic
- Usage of configuration injection: `allprojects`, `subprojects`
- Building tasks from the root project
- Build tasks in a subproject by referring to the task path
- Important command line options e.g. `--parallel` and `--configure-on-demand`

[2017-03-27 19:42] ysb33r commented on #48
Ready for a second round of review (@bmuscho, @kousen).

[2017-03-27 20:53] kousen commented on #75
Added a functional test and revised the code based on feedback. Feel free to review the new version.

[2017-03-27 22:08] bmuschko commented on #81
Draft: https://docs.google.com/a/gradle.com/document/d/1UNh9-sYQMX-KOjt5mxXz0aRXG0Yi470BMHQqbQ4bya4/edit?usp=sharing

[2017-03-28 22:12] bmuschko opened #86 "Setting up and configuring different types of tests"
- Uses Java application to explain concepts
- Brief intro to test types
- Explains the concept of a `SourceSet` and what provides it
- Shows how to set up a `Test` task and how it works internally
- Show how to hook up `Test` tasks into the lifecycle of a Java project
- Demonstrates different types of tests e.g. unit, integration and functional tests
- Declaring dependencies for specific test type

[2017-03-28 22:26] bmuschko opened #87 "Debugging and troubleshooting Gradle plugins during development and beyond"
- Using TestKit to debug a plugin under test from the IDE
- Identifying issues when applying plugins based on error
- How changing log levels can help with identifying the root cause of an issue
- Using build scans to troubleshoot plugins issues. There's a lot we could cover that @vydra is currently working out for his demos
- Identifying performance issues introduced by a Gradle plugin

[2017-03-29 14:48] bmuschko commented on #48
Response from @etiennestuder via email about publishing to the portal:

[2017-03-30 09:17] pioterj commented on #81
Thanks, @bmuschko. Good work. The guide could use a in-depth review by someone familiar with plugin development but I left a few comments.

[2017-03-30 09:20] pioterj commented on #81
One issue with plugins that I've seen a couple of times lately is what is described for example in https://github.com/ewerk/gradle-plugins/issues/70#issuecomment-283958546. I'm not sure whether it's too detailed to include in this guide but something to consider. cc @oehme.

[2017-03-30 09:49] pioterj commented on #75
I'll let @ysb33r do a in-depth review.

Few comments from my side:
- Section on functional testing doesn't seem too long IMO
- Should we keep the unit testing section now that we cover functional testing?
- Unless I'm missing something `build` doesn't work anymore once you add the functional test to regular test source set. Server is started by Gretty for `intTest` task but not `test` task.

[2017-03-30 11:49] bmuschko commented on #81
@eriwen reviewed it and put together a lot of feedback that I incorporated partially. @oehme said that he'd review it by the end of the week.

[2017-03-30 11:53] pioterj commented on #81
Excellent!

[2017-03-30 11:56] oehme commented on #81
I just did a pass over it and I think this is a great starting point for any plugin developer, laying out the fundamental ideas like "capabilities vs. conventions" and "reduce assumptions". The only major issue I noticed is that both this guide as well as our user guide don't show the proper usage of `extension` objects. Instead our documentation currently shows the common antipattern of reaching

[2017-03-30 12:05] bmuschko commented on #81
@oehme I am fully aware that we need to cover that topic. The only reason I didn't cover that yet is because the [public API for this feature is going to be released with 4.0](https://github.com/gradle/gradle/blob/master/subprojects/docs/src/docs/release/notes.md#public-type-for-representing-lazily-evaluated-properties). I didn't want us to publish the guide with an API that isn't available except

[2017-03-30 12:33] kousen commented on #75
I think the unit test is simple enough it doesn't hurt to keep it, and it's an easy example of how to unit test web components which might be valuable in a bigger app.

I'm embarrassed I forgot about the `build` task failing, though. All I need to add is `test dependsOn(intTest)` to the build file and everything should work again. It will start the server for every build, but it's a trivial change

[2017-03-30 13:28] oehme commented on #81
@bmuschko The currently shown example is just wrong. We should at least use `afterEvaluate {}` and proper task properties. We can later tweak it to show the new convention mapping API.

[2017-03-30 14:24] eriwen commented on #81
Here is my original feedback, submitted as a separate doc: https://docs.google.com/document/d/1FRCNAML5VoS90qq82_-Xd8qVvLgL7af2kn1ZSdE89TQ

[2017-03-31 13:50] pioterj opened #88 "Troubleshooting Gradle Builds"
We currently have unfinished manual chapter on troubleshooting at https://docs.gradle.org/current/userguide/troubleshooting.html. It could be done as topical guide.

Such guide should prominently cover build scans.

[2017-03-31 13:51] bmuschko commented on #88
We should clearly separate the concerns of this issue and https://github.com/gradle/guides/issues/87.

[2017-03-31 13:55] pioterj commented on #76
Perhaps also groovydoc.

[2017-03-31 13:55] pioterj commented on #77
Perhaps also scaladoc.

[2017-03-31 14:06] pioterj commented on #82
I'd leave out "Tutorials" for now when we create this page. Currently we say "Coming soon" but I don't know if it's true. We can always add such section when we have a first tutorial to share.

[2017-03-31 14:08] pioterj commented on #51
I suggest we deal with more fundamental topics first.

[2017-03-31 14:11] pioterj commented on #58
Should be covered by https://github.com/gradle-guides/building-jvm-libraries/issues/3.

[2017-03-31 14:11] #58 closed

[2017-03-31 14:12] pioterj commented on #3
This could be a part of larger topical guide on Gradle best practices.

[2017-03-31 15:16] bmuschko commented on #48
I'd say this is just another technique in teaching content that might make the experience more exciting and interactive. I don't necessarily want to blow up the content though or bore users with planned pitfalls when they "just" want to know the essence. Let's keep it as is.

If you want to you can give some examples but I wouldn't really expect you to list everything. It's probably good enough if

[2017-03-31 15:48] bmuschko commented on #48
Should be "eliminates".

We can remove that advice as we are going to reject the plugins going forward. See Etienne's response.

Let's show the actual properties in the image and obfuscate the actual keys. I think it would also be help not to have the first tab "Plugins" highlighted (by not putting the cursor on it) to avoid confusion.

It should also add a sentence pointing out that one can use t

[2017-03-31 17:06] bmuschko opened #89 "Versioning of Gradle projects"
- Coverage of why versioning is important
- Assigning a version to a project
- What implications can be assumed e.g. on artifact creation, publishing etc.?
- Declaring a more complex versioning scheme
- How to implement semantic versioning.
- Maybe touch on the impact of versioning to other aspects of the development process e.g. publishing, releasing, deploying.

[2017-03-31 22:50] bmuschko commented on #81
Eric and I decided to split up the guide into a series of topical guides to make them more targeted.

- [Designing Gradle plugins](https://docs.google.com/a/gradle.com/document/d/1T84mFcYTqHgOCnrsFawCtOooxFXrYV83TBfbHTyQdWM/edit?usp=sharing)
- [Writing Gradle plugins](https://docs.google.com/a/gradle.com/document/d/1m9RTjVHzu-gq8aoBI_AfOQs9VO7MeuLwXmN6gXhoqoM/edit?usp=sharing)

Some of content we

[2017-04-01 10:46] ysb33r commented on #75
My final comments is in the form of the `review-suggestions` branch and lined up as a PR - https://github.com/gradle-guides/building-java-web-applications/pull/1. It has turned out to be the easiest way to review and comment in this case.

@kousen You can merge the branch as-is, or you can cherry-pick from it if you don't agree.

[2017-04-01 11:06] ysb33r commented on #81
I would suggest that the term `Best Practices` not being used, but rather *Good Practices* or *Recommended Practices*.

[2017-04-01 11:19] ysb33r commented on #81
@bmuschko I've gone through the initial  on the two docs and left some comments. I'm pretty happy with what I am seeing, but then our views coincide of most of these matters. I think we could try to move some of this forward into real guides.

[2017-04-01 11:21] ysb33r commented on #81
I've assigned @kousen to this as he still wanted to give it a review.

[2017-04-01 14:21] ysb33r opened #90 "Revisit existing getting started guides for JDK7 consistency"
Go through all existing guides and check that they work with JDK7. Update the `What you'll need` sections

[2017-04-02 18:49] kousen commented on #75
I merged your changes. I didn't know we were using `$` for command prompts, but that's fine. Also, when I do `gretty appRun` at the console, I don't need to do Ctrl-C to stop the server -- any key does stop it. Other than that (and fixing a minor typo), I think we're good.

[2017-04-02 18:54] kousen commented on #75
One prob, though: the result of `gradle wrapper --gradle-version={gradle-version}` renders as 3.3, not 3.4.1, even though I updated my wrapper locally. I presume you don't want to hard-wire that, so I don't know how to fix it.

[2017-04-02 19:04] kousen commented on #75
Also, please add a time estimate for how long it took you to complete the guide. I left that as "About XX minutes (TODO)" in the README.adoc file.

[2017-04-02 19:30] kousen commented on #48
I followed your practice and added my suggestions to a branch called `review_suggestions`

[2017-04-02 20:15] ysb33r commented on #48
If you want to you can give some examples but I wouldn't really expect you to list everything. It's probably good enough if you say metadata == pom.xml.

- [ ] Mention pom.xml

Will do that as #90.

- [ ] Move links to configuration section.

- [ ] Fix images

- [ ] Reword paragraph regarding GradleTest plugin

- [ ] Reword paragraphs regarding plublishng the plugin

- [ ] FIx typoS.

[2017-04-02 22:08] kousen commented on #75
Updated time estimate to be 25 min

[2017-04-03 07:49] ysb33r commented on #48
@bmuschko All done. Have a look at the preview https://guides.gradle.org/publishing-plugins-to-gradle-plugin-portal/. Once you're happy I'll turn https://github.com/gradle/dotorg-site/tree/add-guide-publishing-plugins-to-portal into a PR for @chaficnajjar so that it can go live.

[2017-04-03 07:50] ysb33r commented on #75
I have create gradle/dotorg-site#378 for @chaficnajjar to take this live.

[2017-04-03 11:33] pioterj commented on #75
@kousen One more thing I noticed. After adding the functional test, sections "Introduction" and "What you’ll build" were not updated.

[2017-04-03 11:39] pioterj commented on #75
@kousen Also, I find the part with adding and modifying how integration tests are defined confusing. It seems to reflect how the guide was evolving rather than what we would recommend to the users. I don't think we should ask readers to comment / remove the code they just wrote.

[2017-04-03 12:45] pioterj commented on #75
@kousen Sorry, one more issue. We currently link to https://docs.gradle.org/3.3/userguide/web_project_tutorial.html from this guide. It says it's outdates and uses deprecated `jetty` plugin that is going to be removed soon. I don't think we are doing our users any service by linking to this resource. This guide provides much better introductory content. I'm also wondering what are your general tho

[2017-04-03 12:48] bmuschko commented on #75
@pioterj Please also see https://github.com/gradle/gradle/pull/1702 on the removal of Jetty content and code.

[2017-04-03 12:55] bmuschko commented on #75
@kousen Just had a very brief look. There's a wrong reference of `src.test/java` in the text. It should be `src/test/java`.

[2017-04-03 17:00] pioterj commented on #48
@ysb33r What's will be the approach to keep the plugin portal from being polluted with test plugins?

The guide currently says "If you publish the example GreetingPlugin as-is, it will be rejected". What is the rejection going to happen?

[2017-04-03 17:05] kousen commented on #75
Revised "intro" and "what you will build" sections, changed `gretty` to work with the `test` task throughout, added a note about the deprecated `jetty` plugin in the `war` section of the User Manual, and fixed typos. Should be good to go now.

[2017-04-03 18:26] ysb33r commented on #48
@pioterj There is no 'big' approach. The feedback from @bmuschko & @etiennestuder is pretty much to deal with it only when it becomes a problem.

[2017-04-03 23:10] ysb33r commented on #48
@pioterj There is no 'big' approach. The feedback from @bmuschko & @etiennestuder is pretty much to deal with it only when it becomes a problem.

[2017-04-04 06:11] ysb33r opened #92 "Commit using Gradle user email when creating guides"
Currently when creating a guide using the Gradle script in `create-guides`, it does the commit using the default Git `user.email` that is defined for the user. The `CreateGradleGuide` task should look for the following two project properties:

 - `gradle.guides.user.email`
 - `gradle.guides.user.signingkey`

If they are set, the set Git properties `user.email` and `user.signingkey` on the neewly c

[2017-04-04 06:17] ysb33r commented on #73
I deleted an created the `gradle-guides/creating-composite-builds` repo a couple of times using the modifications to `create-guides` (`testable-code` branch on `gradle/guides`) and the backport to `gradle-guides/gs-template` (also on a `testable-code` branch).

I am planning to merge this back to master on 4 April.

[2017-04-04 06:19] ysb33r commented on #75
Are we ready to go live with this yet?

[2017-04-04 08:25] pioterj commented on #75
I see it's already live. Looks good. Any thoughts on my "Web Application Quickstart" question?

[2017-04-04 08:34] pioterj commented on #48
@ysb33r What there a conversation that I wasn't part of? I thought the recommendation from @etiennestuder was to _"encourage them in the guide not to actually upload any test plugins"_. Regarding the part where we say "If you publish the example GreetingPlugin as-is, it will be rejected"? - how is this going to happen?

[2017-04-04 12:06] bmuschko commented on #75
@pioterj The "Web Application Quickstart" has already has been [switched over to a Gretty example on master](https://docs.gradle.org/nightly/userguide/web_project_tutorial.html#sec:running_your_web_application).

[2017-04-04 12:25] pioterj commented on #75
Good. We do have some duplication of concepts though between the getting started guides and quickstart chapters in the user manual. I'm wondering whether it wouldn't be better to link to a getting started guide rather than have an "in progress" quick start chapter in the manual.

[2017-04-04 13:29] eskatos commented on #81
Hi guys,

Just a small note, it would be nice to mention somewhere that `Action`/`Transformer` should be preferred over `Closure` in the APIs of extensions and tasks in plugins written in Groovy for better interoperability with both the Groovy and Kotlin frontends.

See https://github.com/gradle/gradle-script-kotlin/blob/master/doc/getting-started/Closures.md

[2017-04-04 13:32] bmuschko commented on #81
@eskatos Thanks for the hint on content. We'll consider it for the next version of the doc. It's a living and breathing document anyway.

[2017-04-04 16:01] ysb33r commented on #81
That's a good point. I'm going to steal it for my own stuff at https://gitlab.com/ysb33r/GradlePluginWorkshop

[2017-04-04 16:12] ysb33r commented on #48
@pioterj As per this comment from @bmuschko (https://github.com/gradle/guides/issues/48#issuecomment-290113880)

[2017-04-04 23:54] eriwen commented on #81
@bmuschko These 2 guides look _really_ good now. I feel like the "writing" guide could have more sections, but would rather we ship soon and iterate. I hope that we'll think of more useful sections as you develop an example project, and even better, we can include actual snippets from the example project into the guides.

A couple nitpicks but otherwise 🚀

[2017-04-05 11:48] pioterj commented on #48
I did another review of the guide here's what I found.

The most serious issues that should be addressed before the publication:

- Following the steps results without optional "Migrating an existing plugin from Bintray" steps results in the in the error "Cannot publish artifacts as no version set. Please set the version at the project level or in the mavenCoordinates block inside your pluginBundl

[2017-04-05 12:51] ysb33r commented on #48
I just tried to reproduce that and I got

[code]

[2017-04-05 12:58] pioterj commented on #48
That's probably because I published this plugin when checking the steps.

[2017-04-05 13:00] ysb33r commented on #48
Do you still have the scrollback from your console testing? Maybe paste in here?

[2017-04-05 13:09] ysb33r commented on #48
Ah, reproduced it. The guide assumes your already has a working project and just want to add the portal publishing functionality to an existing `build.gradle` file. The guide refers to this assumption in two places ways:

* _Source code for an existing Gradle plugin. (Preferably your own)._
* _Add the {publishplugin} to the `plugins` block._

Now I can add some lines to the start of the guide to t

[2017-04-05 13:20] ysb33r commented on #48
Although not strictly necessary in hte context of the guide, I agree that having this consistent across everything is a good idea. I've pushed the update to the example repository.

[2017-04-05 13:27] ysb33r commented on #48
I has reworded this so that possessive apostrophe disappears. This allows for that string to within single quotes now.

[2017-04-05 13:27] pioterj commented on #48
Maybe the solution would be to add `version` to the example greeting plugin.

[2017-04-05 13:29] ysb33r commented on #48
Done!

[2017-04-05 14:14] ysb33r commented on #75
Is this an open point on this guide, or an independent point? If the latetr I would like to move this issue to get closed.

[2017-04-05 17:10] ysb33r commented on #47
Before anyone starts out of this guide, I think there is a couple of things to highlight:

- the API for `TestKit` has changed a number of times. We should only focus on it's state as for 3.4.1+ and we need to explicitly state this beyond just the *What you'll need* section. I think we should add some tests for the guide itself to ensure that functionality does not get broken with later Gradle rel

[2017-04-05 17:53] ysb33r commented on #31
@pioterj Should we still look at a guide to map from common Maven plugins to Gradle ones?

[2017-04-05 17:55] ysb33r commented on #7
What are we doing about this? Splitting it into different guides? If the latter then let's create new issues and kill this one.

[2017-04-05 17:59] ysb33r commented on #73
Resolved by gradle-guides/gs-template#1

[2017-04-05 17:59] #73 closed

[2017-04-05 19:16] bmuschko commented on #81
@eriwen Thanks for the feedback. I agree with all points. Will move ahead and get it into a guides repo.

[2017-04-05 19:43] bmuschko commented on #47
I am not aware of actual changes in the API. The API was enhanced with new methods or ways to configure TestKit. We absolutely should concentrate on the latest version of Gradle and it's feature set.

I think we really should make that a common practice for all guides.

When you say `soon becomes an issue` do you mean that it is an aspect we should discuss before writing the guide? You don't reall

[2017-04-06 08:12] ysb33r commented on #47
From a user following a user guide, the first thing that they hit if not using the plugin, is the classpath for `plugins {}` not being setup. The user guide then mentions the use of a plugin, which they or might not want to use.

This leaves us with a dilemma when writing the guide. Is it about `TestKit` or the `Java Gradle Plugin Development plugin` that we are writing or both?

As a side-note th

[2017-04-06 09:25] pioterj commented on #75
We can close this issue.

[2017-04-06 09:42] pioterj commented on #31
I think this is an interesting idea. I'm not sure why Chris said that it would be a replacement for https://guides.gradle.org/migrating-from-maven/. It looks to me like potential extension that could be potentially split to a separate guide. What do you think?

[2017-04-06 09:47] pioterj commented on #7
How do you propose we split it?

[2017-04-06 11:58] #75 closed

[2017-04-06 11:59] ysb33r commented on #31
@pioterj I would think it is better as a separate guide. Not just with a mapping, but we should consider having notes with at least some of the mappings, as the conversion might not be straight-forward.

[2017-04-06 12:03] ysb33r commented on #7
I think a separate guide for each of Maven Central and Bintray/JCenter as they each have their quirks. And with Bintray you might need to cover the external Bintray plugin.

We probably could split normal Maven, Ivy into seperate guides, but for these two let's have a look at whatr is in the user guide already.

[2017-04-06 13:55] bmuschko opened #93 "Implement a way to check links for validity in user guide"
Many guides contain plenty of links. Over time these link might get broken especially if they link to the user guide and the section is removed or modified. We should implement a mechanism that goes through all content and checks if links can be resolved properly. The mechanism should be triggered in CI whenever that was a change to the registered content.

[2017-04-06 14:21] #48 closed

[2017-04-06 14:24] ysb33r commented on #76
Added some extra points in the original description regarding use of configurations.

[2017-04-06 14:54] bmuschko commented on #81
Note to self - topics we'll want to cover when enhancing the guides:

- `Provider/PropertyState` concept
- Implementing deeply nested DSLs
- Cacheable tasks
- `IncrementalTaskInputs`
- Making APIs usable across languages (`Closure` vs. `Callable` or `Action`)

[2017-04-06 16:39] ysb33r commented on #6
I started listing TODOs for this guide, then it struck me, that following this guide one has to be able to consume the library from somewhere. If we are going to stick to using the Greeting code from `build-java-libraries` we are going to have to do at least one of the following.

* Consume the library via `flatDir` repo
* Just add the JAR to the path in the `compile` configuration, pointing to th

[2017-04-06 16:42] ysb33r commented on #42
@kousen Let's have a conversation around this one and try to close it out.

[2017-04-06 16:48] ysb33r commented on #93
Chris and I looked at it sometime back. I investigated some online services, but at that time even the best one did not integrate very well.

Might have to craft up something ourselves.

[2017-04-06 17:37] bmuschko commented on #93
IMHO this should be super straight forward to implement ourselves. We'd just need to provide a list of links to HTTP URLs. Use these URLs, parse the content, search for the links syntax and get the URL from it. For every URL make a HTTP call and look at the response code.

[2017-04-06 17:53] bmuschko commented on #47
It should be about functionality testing a plugin. The title of this guide is not set in stone. Just wondering: Why would users _not_ want to use the "Java Gradle Plugin Development plugin" if it makes their lives so much easier?

Can you please create issues on `gradle/gradle` for those? I haven't seen much about issues with the plugin in the issues or the forum. As far as I understand your plugi

[2017-04-06 18:31] ysb33r commented on #93
I have a basic script tin Groovy that already does that so remote links, that I use to check links before commit. I could just be expanded to run off CI.

[2017-04-06 22:27] bmuschko commented on #81
- "Designing Gradle plugins" repo: https://github.com/gradle-guides/designing-gradle-plugins
- "Writing Gradle plugins" repo: -

[2017-04-07 05:42] kousen commented on #42
Agreed. Let's schedule something soon.

[2017-04-07 13:24] pioterj opened #95 "Getting started building Kotlin libraries"
Kotlin is getting more popular, especially in Android projects. JetBrains provides official Kotlin Gradle plugin. See https://kotlinlang.org/docs/reference/using-gradle.html. I asked them if they are interested in contributing a getting started guide.

[2017-04-07 13:29] pioterj opened #96 "Converting Groovy Gradle scripts to Kotlin"
cc @bamboo

[2017-04-07 13:30] pioterj commented on #66
Given the approach we selected for the user manual, I'm not convinced that we should have a separate guide for "writing build scripts in Kotlin" that would be an equivalent of another existing guide. Scripting language is a cross-cutting concern. Alternative approach is that we would allow the guide reader to select the preferred scripting language similarly to what we plan in the user manual. I c

[2017-04-07 14:37] bamboo commented on #96
FTR: We are spiking automated conversion of the Gradle User Guide samples this iteration: gradle/gradle-script-kotlin#317

[2017-04-07 14:58] ysb33r opened #97 "Update templates to put better instructions into README"
Both `gs-template` and `topical-template` have very sparse instructions. It would be useful to incorporate some of the information that we have in gradle/guides/README.adoc into those so that they are on every new guide that is generated.

I am specifically thinking of these parts:

-  Render and view your guide locally
- Get familiar with your guide's structure and contents
- The README should al

[2017-04-07 16:02] pioterj opened #98 "Consistently use or not use "Getting started" prefix"
Two of the existing getting started guides have a title that explicitly starts with "Getting started":
- https://guides.gradle.org/creating-new-gradle-builds/
- https://guides.gradle.org/using-an-existing-gradle-build/

This only refers to the main heading on the guide page. URLs and links in "Getting started" section on https://gradle.org/docs#guides don't have it.

For the sake of consistency le

[2017-04-07 16:05] pioterj commented on #86
How about simply "Testing Java projects"?

[2017-04-07 16:12] pioterj commented on #65
I thought our approach was to just always use the latest version.

[2017-04-07 16:14] pioterj opened #99 "Building C++ executables"

[2017-04-07 16:16] pioterj opened #100 "Building C executables"

[2017-04-07 16:17] ysb33r commented on #65
There is a bit mote than this. We might write it with the latest version, but it might get outdated snd we might not have had time to update it. A quick piece of info for users is to yo know against versions of Gradle a guide is known to be valid

[2017-04-07 16:19] pioterj commented on #70
@lacasseio What do you think would be the best topics to help new native users to get started with Gradle? We would be writing getting started guides similar to the ones already available at https://gradle.org/docs#guides.

[2017-04-07 16:21] pioterj commented on #65
I see. However I think that updating the guides should be the part of every new development and treated in a similar way as user manual.

[2017-04-07 16:30] lacasseio commented on #70
An excellent quick start could be something similar to what [CMake did](https://cmake.org/cmake-tutorial/). The problem with this one is the flexibility of Gradle. Each step can be implemented in various ways inside Gradle. Each one has it's advantage and inconvenience depending on how big and complex is the project. I would suggest going with something simple and have links for each step to alter

[2017-04-07 16:30] pioterj commented on #39
Sounds like we could cover 2 and 3 in https://github.com/gradle/guides/issues/86.

[2017-04-07 16:33] pioterj commented on #38
In any case I'd call this guide "Embedding Gradle" rather than using the term "Tooling API". I'd focus on more basic topic first.

[2017-04-07 16:34] pioterj commented on #37
Sounds like we might want to add some of those topics to https://guides.gradle.org/migrating-from-maven/.

[2017-04-07 16:36] pioterj commented on #15
I don't understand what this card represents.

[2017-04-07 19:02] bmuschko commented on #81
@ysb33r The content is now in GitHub ([see repositories above](https://github.com/gradle/guides/issues/81#issuecomment-292342712)). Could you please verify if the content uses our common usage patterns? IMHO I see this as the last step before publishing them to the page.

[2017-04-08 08:53] oehme commented on #38
I'm afraid people don't know what "Embedding Gradle" means. They ask things like "How do I parse a Gradle script?" or "How do I extract information from a build?" So we should word our posts in that way I guess.

[2017-04-10 09:02] ysb33r commented on #93
I have a basic script tin Groovy that already does that so remote links, that I use to check links before commit. I could just be expanded to run off CI.

[2017-04-10 09:22] ysb33r commented on #100
Building a Greeting executable similar to the Java application would be my suggestion, but we need to limit scope:

- Should build on Linux, MacOS & Windows when a C++ compiler is installed. (Assuming Gcc, Clang & Visual C++ installed in default locations).
- No variants, no tool chain customisation
- No external libraries (rather have a separate guide talking about third party libraries)
- There

[2017-04-10 09:46] ysb33r commented on #33
Already done.

[2017-04-10 09:46] #33 closed

[2017-04-10 09:47] ysb33r commented on #22
Do we still want to do this? Currently readers can clone a repo if they want the source.

[2017-04-10 09:48] ysb33r commented on #65
See #14.

[2017-04-10 09:49] ysb33r commented on #20
I am closing this as there is no further traction and https://github.com/gradle/guides/issues/20#issuecomment-281297306 is adequate IMHO.

[2017-04-10 09:49] #20 closed

[2017-04-10 12:52] ysb33r commented on #23
We already have achieved option 1.

[2017-04-10 12:54] ysb33r commented on #32
The new layout for topical and getting started guides solves this problem.

[2017-04-10 12:54] #32 closed

[2017-04-10 20:28] ysb33r commented on #42
Remember the style guide is at https://github.com/gradle-guides/style-guide

[2017-04-10 22:26] bmuschko commented on #17
I started to implement a [Site plugin](https://github.com/bmuschko/gradle-site-plugin) as proposed by @pledbrook. Once done we can let the tutorial evolve around the code.

[2017-04-11 13:33] ysb33r commented on #98
Meeting 11 Apr:
- [ ] Remove 'Getting Started' from titles
- [ ] Create separate issue for icons for guide types

[2017-04-11 13:40] ysb33r commented on #6
From meeting on 11 Apr:

No need for `flatDir` or referencing existing guides.

- [ ] Decide on standard library from JCenter()
- [ ] Simple consume using `compile` configuration.

[2017-04-11 13:47] ysb33r commented on #7
Needs direction from engineering team on what is happening with the various pubishing plugins. We'll revisit this after The Gradle Summit.

[2017-04-11 22:27] bmuschko opened #101 "Expand content for designing/implementing plugins topical guides"
More content should be added after publishing the first version of the designing/implementing plugins topical guides (see https://github.com/gradle/guides/issues/81):

- `Provider/PropertyState` concept (and remove references to convention mapping) -> requires release of Gradle 4.0
- Implementing deeply nested DSLs
- Cacheable tasks
- `IncrementalTaskInputs`
- Making APIs usable across languages (

[2017-04-13 12:17] bmuschko commented on #81
Closing as delivered:

- https://guides.gradle.org/designing-gradle-plugins
- https://guides.gradle.org/implementing-gradle-plugins

[2017-04-13 12:17] #81 closed

[2017-04-14 11:27] pioterj opened #102 "Fix forum links issue"
Reported on the forum: https://discuss.gradle.org/t/issues-with-links-to-guides/22336.

from @bmuschko:

[2017-04-14 11:29] pioterj commented on #102
It's weird. Adding any parameters results in 404 - e.g. https://guides.gradle.org/designing-gradle-plugins?param=value. They should be just ignored.

It works for other pages like: https://gradle.org/maven-vs-gradle?param=value.

@chaficnajjar Any idea what may be wrong?

[2017-04-14 12:44] chaficnajjar commented on #102
Thanks for taking the time to report this issue and for providing examples, @pioterj.

Adding a forward slash '`/`' before the [query string](https://en.wikipedia.org/wiki/Query_string) fixes the broken link:

https://guides.gradle.org/designing-gradle-plugins/?param=value.

`designing-gradle-plugins` is a directory and not adding a forward slash tells the browser to request `designing-gradle-plug

[2017-04-14 12:47] pioterj commented on #102
Thanks, @chaficnajjar.

@bmuschko I fixed links in your posts by adding slashes.

[2017-04-14 12:56] chaficnajjar commented on #102
Good to hear it worked. Before closing this issue, I want to find out why this issue does not happen for https://gradle.org and whether it's possible to get https://guides.gradle.com to behave the same way.

[2017-04-16 22:03] ysb33r commented on #76
I have the guide at a first draft stage, with the following caveats:

- The Groovydoc content is experimental. I have explictly left some of the additional output in the listing. (@piotr I have seen the `Trying to override old definition of task fileScanner` in many Grdle release and never got an answer off the forum on why this is - maybe time to get detail).
- I might still add a section to disc

[2017-04-16 22:11] ysb33r commented on #76
The guide is available on https://guides.gradle.org/building-groovy-libraries.

[2017-04-17 02:53] kousen commented on #72
The guide has been completely re-written in a branch called `platform-agnostic`. Once it is complete, it will be merged with `master`, but please review it with that in mind.

[2017-04-18 09:46] pioterj commented on #57
I think we should also remove the actual page at https://gradle.org/getting-started/maintaining-a-build.

[2017-04-18 11:37] pioterj commented on #72
For reference, here's the link to the [branch](https://github.com/gradle-guides/creating-new-gradle-builds/tree/platform_agnostic)

@kousen I like it in general. This is more or less how I imagined it to look like. I'll let @ysb33r do a throughout review. Here's what I noticed.

1. I think in general we need to be really careful with level of detail in possibly the very first guide that a new user

[2017-04-18 12:01] chaficnajjar commented on #57
Thanks for pointing this out @pioterj. Closing as delivered :+1:

[2017-04-18 12:01] #57 closed

[2017-04-19 10:58] ysb33r commented on #77
@kousen First draft available for review

[2017-04-19 12:02] ysb33r opened #103 "When creating a new repo also update the website link"
Currently we a new guide repository is created we do not add a link to where the guide will be published.

[2017-04-19 15:40] bmuschko opened #104 "Links to user guide do not point to the current version"
The generated link for `{user-manual}` does not point to the current version of Gradle. At the moment it uses 3.4.1 instead of 3.5. The generated link should simply use `current` in the URL instead of a specific version.

Example:
https://github.com/gradle-guides/implementing-gradle-plugins/blob/master/contents/index.adoc
https://guides.gradle.org/implementing-gradle-plugins/

Points to https://do

[2017-04-19 15:49] kousen commented on #82
Discussed this with @aweida, who will look at the Spring and Grails guides pages listed in the earlier comment and provide a preliminary design

[2017-04-19 16:07] ysb33r commented on #104
@bmuschko The reason is that the guide was built with 3.4.1 therefore the links will point to the same version. As we move to use more testable snipepts in teh guides, this is a safeguard to ensure that at the time the guide was written the code snippets will work with the specific version if Gradle.

That is also why one should use attributes such as `{user-manual}` when writing guides.

I'll upd

[2017-04-19 16:24] w25r commented on #76
I'm not sure if this is constructive feedback, but I cringe when I see:

[code]

I consider depending on `groovy-all` to be a _very_ bad practice.  Could we switch that to
[code]

[2017-04-19 16:24] bmuschko commented on #104
I see. That makes sense.

[2017-04-19 16:24] #104 closed

[2017-04-19 16:27] bmuschko commented on #104
I think we should periodically check all repositories and upgrade to the latest Gradle version as soon as possible. It would also be useful to indicate to the reader which Gradle version the guide is based on (maybe through a little badge?).

[2017-04-19 16:29] kousen commented on #76
What's wrong with using `groovy-all`? I never heard that it was a bad idea.

[2017-04-19 17:24] ysb33r commented on #104
There is a placeholder issue which should be able to cover that - #65

[2017-04-19 17:52] w25r commented on #76
Using fat jars like `groovy-all` hides dependency conflicts both upstream and downstream.  Those conflicts then can exhibit varying behavior based on the order of jars on the classpath.

It's probably why we have an example of removing `groovy-all` in the [resolution strategy](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.ResolutionStrategy.html) documentation.

[2017-04-19 21:12] ysb33r commented on #76
@w25r We cannot do it in this context as that is what the BuildInit plugin generates.

Even if someone is willing to change the resource template for `groovy-library` in die BuildInit plugin, it will noly appear in a next release and this guide will go out whilst Gradle 3.5 is the current release.

[2017-04-20 08:03] ysb33r commented on #72
@kousen I've done a first pass and I like it. I am concurring with what @pioterj said above.

There are still some links (references) missing like the one to Custom Gradle Tasks, but I think that was intentional for your first draft.

[2017-04-20 08:20] ysb33r opened #105 "Have badges for different kind of guides"
This is a lead on from #98.

We would like to have some icons/badges that can be placed with each guide to indicate what kind of guide it is.

[2017-04-20 08:20] ysb33r commented on #98
Created issue #105 for the different icons.

[2017-04-20 08:20] #98 closed

[2017-04-20 08:27] ysb33r commented on #90
Only `writing-gradle-plugins` required a change.

[2017-04-20 08:27] #90 closed

[2017-04-20 12:12] pioterj opened #106 "Executing shell commands"
Executing shell commands with Gradle could be an interesting topic for a getting started guide.

Some topics that we could cover:
- Run a command with some parameters
     - [Exec task](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.Exec.html)
- Capture output of a command
    - `standardOutput = new ByteArrayOutputStream()`
    - `ext.output = { standardOutput.toString() }`
- Execute a

[2017-04-20 12:26] kousen commented on #76
I'll add more later, but after a preliminary read I can't find anything significant to say. :) Nice job

[2017-04-21 16:37] kousen commented on #72
I updated the text according to @pioterj comments. As @ysb33r said, I haven't complete the links yet because I'm still not sure about the format, but I'll fix those as soon as the content is approved.

[2017-04-24 09:57] ysb33r commented on #106
Awesome idea!

[2017-04-24 12:34] ysb33r commented on #76
PR to setup index page gradle/dotorg-site#404 (@chaficnajjar)

[2017-04-24 13:08] ysb33r commented on #76
Also created gradle/gradle#1877 & gradle/gradle#1878 to capture the issues seen whilst working on the `groovydoc` part of the document. (The former incidently also affects gradle/guides#77).

[2017-04-24 13:44] pioterj commented on #76
Sounds good. Thanks for opening issues on gradle/gradle.

[2017-04-24 15:44] w25r commented on #76
FYI, I also created https://github.com/gradle/gradle/issues/1882 to follow up on my comments.

[2017-04-26 00:17] ldaley opened #107 "Add position indicator to navigation."
We use a similar Asciidoc toolchain for the docs on https://docs.gradle.com/enterprise/admin/current/. We recently added position indication in the nav. It might be worth doing for our guides.

You can just drop in the following into the template:

[code]
And then add the style you want:

[code]

[2017-04-26 04:46] kousen commented on #77
Everything looks good to me, except for one typo: you have "asingle" right before the reference to `Scala FunSuite`. Just separate the two words and it'll be fine.

The generated `Library.scala` already had the doc comment on it, though in your HTML it shows up with a `**` instead of just a `*`. When I ran `scaladoc`, the class showed up, but without any comment, whether I used two stars or one. M

[2017-04-26 14:30] bmuschko opened #108 "Style guide and and best practices for Gradle build script authoring"
- What to do, what not to do.
- Design choices for writing tasks (e.g. what syntax to use, don't use left shift operator as deprecated)
- How to avoid pitfalls
- Organizing build logic

[2017-04-30 08:24] ysb33r commented on #77
it requires two stars to work (similar to javadoc).

![image](https://cloud.githubusercontent.com/assets/907624/25562789/2ce89550-2d8f-11e7-84f6-be0182057db2.png)

[2017-04-30 08:29] ysb33r commented on #77
Done both.

[2017-05-01 17:02] ysb33r commented on #72
Published.

[2017-05-01 17:02] #72 closed

[2017-05-01 17:03] ysb33r commented on #76
Published.

[2017-05-01 17:03] #76 closed

[2017-05-02 14:07] #77 closed

[2017-05-03 14:45] ysb33r commented on #99
@kousen @pioterj I am putting this in a first (still rough) draft, but I would like to get feedback at this point.  The guide is very basic focusing only on building the executable without dependency on any external libraries. Also as it is an executable I avoiding doing testing at this point as it will require the user to have GoogleTest or CUnit installed (I might rather have those as separate g

[2017-05-04 10:23] ysb33r commented on #99
Due to C & C++ history it is not as clear cut as JUnit for Java. There is definitely no distinct favourite and each C++ person will have their preferences. Years ago I used to use CppUnit, but it has fallen by the way-side. Nowadays, my first choice is CATCH for many reasons. (I might still right a plugin so that it is supported in Gradle, when I get time). However, we need to focus on what is dir

[2017-05-04 16:41] ysb33r commented on #100
I am starting work on this, even though we still have some open discussions and feedback on the C++ equivalent.

[2017-05-04 19:07] lacasseio commented on #99
I would agree with @ysb33r to put off testing in another guide or simply add testing later to the guide. Having used Gradle for testing in native the whole testing in Gradle for native really need some fixing and improvement.

Regarding asking Travis to install the CUnit/GoogleTest binary, this isn't required. We can add Git submodule or have Gradle pull the source code using JGit and build our ow

[2017-05-04 19:18] lacasseio commented on #99
Regarding native code style, I would remove the 3rd parameter from the `main` as it may not be portable on all compiler and it's not common to access the environment this way. In general, I would prefer the [Google Coding Style](https://google.github.io/styleguide/cppguide.html) simply because it's well documented and it's hard to argue against such a big company, specifically for small code sampl

[2017-05-04 19:26] ysb33r commented on #99
Besides use of the 3rd parameter, is there anything else that struck you?

[2017-05-04 19:32] lacasseio commented on #99
@ysb33r No everything else is pretty straight forward. Good job!

[2017-05-06 09:04] ysb33r commented on #100
@kousen This is ready for review. Similar to the C++ (#99) guide.

[2017-05-08 07:46] ysb33r commented on #99
@pioterj Let's publish this (and #100) without testing sections. We have them in a good enough state to be useful. We can then spend more time thinking about how to approach the testing part.

[2017-05-08 10:45] pioterj commented on #99
Makes sense.

@ysb33r There's one thing we should fix before the publication. Both guides use `./gradlew` commands without mentioning the wrapper. For new users it will undoubtedly result in confusion. We should either use the `gradle` command or add a step to generate the wrapper in the guide. I'd lean towards the latter in all guides that don't use the `init` plugin as this is a good practice.

[2017-05-08 11:50] ysb33r commented on #99
Of course. It's so obvious now that you mention it.

[2017-05-08 14:55] ysb33r opened #109 "Add Guide URL to repository at creation time"
Curretnly it is a manual step that is usually forgotten. I don't think it would be hard to use the Github API to also set the website URL after the repository was created. Tihs can be run as one of the last steps in the `create-guides` Gradle script.

[2017-05-08 15:06] chaficnajjar commented on #99
Found a broken link:

![screenshot](https://cloud.githubusercontent.com/assets/1498164/25809698/80aded2e-3416-11e7-918b-57703e1eab6a.png)

I used the Chrome Extension [Check My Links](https://chrome.google.com/webstore/detail/check-my-links/ojkcdipcgfaekbeaelaapakgnjflfglf) (credits goes to Chris for recommending it to me).

This broken link is also present in #100. Is [_this_](https://docs.gradle

[2017-05-08 15:35] ysb33r commented on #99
Damn, you're right. I have a script I ran before commit to check the links. I must have overlooked that.

[2017-05-08 15:42] ysb33r commented on #99
Done.

[2017-05-08 15:44] #99 closed

[2017-05-08 15:44] #100 closed

[2017-05-08 15:44] ysb33r commented on #99
Maybe I should add that script as an extra task to be run before publication.

[2017-05-08 16:03] chaficnajjar commented on #99
@ysb33r Do you plan on doing this with Travis?

[2017-05-08 16:05] ysb33r commented on #99
@chaficnajjar Yip, I could probably create a task that is always run by Travis, but can be optional for a guide author during development.

[2017-05-08 17:51] chaficnajjar opened #110 "Add structured data for Google search"
See gradle/dotorg-site#346.

**Edit**: see [Introduction to Structured Data](https://developers.google.com/search/docs/guides/intro-structured-data) for more information.

[2017-05-09 02:27] aweida commented on #82
See the proposed design below (Click the image below then click it again to view in full res). For the most part, it follows what we have started at https://gradle.com/enterprise/docs

The design consists of the following elements:
- Separate page
- Split by type
- Search
- Time to complete
- Difficulty

I did not include the labels as they add a lot of visual noise — I'm unsure as to how useful t

[2017-05-09 02:35] kousen commented on #82
Thanks! I'll be sure to share this with the team and get you feedback as
soon as possible. My initial impression, though, is that's it's awesome. :-)

Ken

On May 8, 2017 10:27 PM, "Charles Aweida" <notifications@github.com> wrote:

See the proposed design below (Click the image below then click it again to
view in full res). For the most part, it follows what we have started at
https://gradle.com

[2017-05-09 08:07] ysb33r opened #111 "Check links in a guide when built on Travis"
When guides are pushed and Travis picks up the build it must run a task to check whether all absolute links exist. Dead links should cause the job the fail and publication (from master to gh-pages) should not happen.

The task should not be part of the normal `check` lifecycle, buth guide authors must be able to run from the command link before pushing up to GitHub.

The following templates will n

[2017-05-09 12:06] pioterj commented on #82
Very nice! Thank you, @aweida!

One thing I'm not sure is the difficulty. To some extend this will be derived from the type of the guide - getting started guides will are generally simple, topical guides cover more advanced topics. One option would be to replace this with a label that users can use to filter for guides about specific topics (e.g. JVM, native, plugin development etc).

I'd not impl

[2017-05-09 14:34] kousen commented on #82
I agree about the "difficulty" category. The whole idea of "Getting Started" guides implies that the difficulty is low. We should, as suggested, use that space for what @pioterj suggested.

[2017-05-09 14:41] ysb33r commented on #82
We can add a `tags` field to `_data/guides.yml` to deal with the labels. Difficulty is very subjective is that case anyway. so would definitely vote for one of more labels.

[2017-05-09 15:23] aweida commented on #82
SGTM we can remove difficulty.

I think the tags make sense as long as there's a one to multiple relationship and they are specific enough. Id like to avoid cluttering the UI with tags associated with a single guide

[2017-05-09 15:34] ysb33r commented on #82
Agreed. I think we could potentially do some stuff in Jekyll which will only recognize the first 3 tags in a list, to prevent cluttering. We can also create a data file which restricts the tags to certain names, so that arbitrary tags cannot be added to a guide. Implementation details, I know, but worth knowing about at UI design time.

[2017-05-10 01:11] aweida commented on #82
After some thought im still on the fence about the tag interface. What I dont like about it is that a user has to scroll up and down to find the relevant tag/filter.

One idea would be to use the same mechanism that we use on https://blog.gradle.org/ (right column vertical filter menu) This allows a user to see all the filters above the fold without cluttering the cards.

![image](https://cloud.gi

[2017-05-10 12:38] pioterj commented on #82
I like the idea of right menu! @ysb33r @kousen WDYT?

I see 3 increments:

1. create basic static page
2. add search
3. add filtering

Do you think that @chaficnajjar could already start the implementation of 1 and 2? @kousen and @ysb33r would have to provide text with description of each category.

[2017-05-10 13:15] ysb33r commented on #82
Looks like a solution

[2017-05-10 13:28] ysb33r commented on #10
@pioterj @ken I have put some thoughts together on this. See the update to the initial description of this issue. WDYT?

[2017-05-10 14:01] pioterj commented on #10
@ysb33r I think we should also cover:
- Specifying common behavior (`allprojects`, `subprojects`)
- Running tasks in specific subproject (`:project:subproject task`)

5 subprojects sounds like a lot and can turn into rather large guide.

Instead of referencing other guides we can fully depend on the `init` plugin. For example:

1. Run `init` to create Java application
2. Run `init` to create Java

[2017-05-10 14:02] pioterj opened #112 "Update the guides with 4.0 console output"

[2017-05-10 15:51] kousen commented on #82
I'm fine with the proposed solution as well. I use labeled in gmail all the time; I'm glad we'll have something similar here.

[2017-05-10 16:40] aweida commented on #82
This sequence makes sense to me. Looks like we have a plan.

 @chaficnajjar please sync with @pioterj in regards to scheduling implementation. Ill sync with you regarding the design.

[2017-05-11 12:39] pioterj commented on #10
Looks good to me. @kousen WDYT?

[2017-05-11 12:59] kousen commented on #10
If it were me, I'd add a Groovy subproject, which would be easy to do and there's an `init` type for it. In fact, it wouldn't be difficult to add a trivial Groovy, Scala, and even Kotlin subproject, all of which could be dependent on a `common` Java subproject.

Also, I like demonstrating that an `ext` property in the top-level project is then accessible in the subprojects. For example, in the Spo

[2017-05-11 13:44] ysb33r commented on #10
@kousen You mean having 3 subprojects like this?

* Java application
* Groovy library
* Asciidoc

[2017-05-11 13:53] kousen commented on #13
Repo created at https://github.com/gradle-guides/building-android-apps

[2017-05-11 13:56] kousen commented on #10
More like:

* Java application (top level)
* Java library (called something like `common`) as a sub-project
* Groovy library sub-project that depends on `common`
* Asciidoc sub-project (might depend on `common` and others)

Just enough to show the benefit of having dependencies on other subprojects. Again, Spock is a good example

[2017-05-11 14:07] ysb33r commented on #10
@kousen Then we are up to 4 subprojects again - trying to limit that.

[2017-05-11 14:08] kousen commented on #10
Yeah, but they can be really simple projects. Again, feel free to do
whatever you prefer, or if you like I can work on that one with you.

On Thu, May 11, 2017 at 10:07 AM, Schalk W. Cronjé <notifications@github.com

--
[image: Email-Signature@2x.png]

Ken Kousen

Gradle

W. www.gradle.com

[2017-05-11 14:36] bmuschko commented on #10
@kousen Why would you create a Java application on the level of a multi-project build? Usually, the root project is just some Gradle organizational structure and doesn't contain any sources. I'd model that as another subproject.

[2017-05-11 14:37] kousen commented on #10
My thought was to make the getting started guide simple, the top-level Java app could have a `main` method in it that was configured by the `application` plugin. The code in `main` could use dependencies from the sub-projects.

[2017-05-11 14:39] ysb33r commented on #10
I would still do it as a subproject. It will show up nicely how Gradle handles the dependencies between subprojects.

[2017-05-11 14:41] kousen commented on #10
Whatever you prefer. I just thought it might make it easier, but if not, that's fine.

[2017-05-11 16:36] aweida commented on #82
Yes, we are assuming most users are not learning Gradle on a mobile device. If some reason they are they will have access to the guides just not the advanced filtering.

If you've already implemented both it doesnt hurt to take a look. With that said I think the way we currently handle it makes sense. Its an "advanced" feature for desktop where the vast majority of our users need the feature. My h

[2017-05-12 08:59] lptr opened #113 "Rendering issues on mobile"
There are a few issues with how guides are now shown on mobile (at least as rendered on my iPhone 6s).

### Left margin

There is some extra whitespace on the left that makes the text look lopsided.

<img src="https://cloud.githubusercontent.com/assets/495366/25991057/3eadb3d4-3702-11e7-91e2-69a71a0a26e9.png" width="320"/>

Zooming in (double tap on the text) fixes this...

<img src="https://cloud

[2017-05-12 09:04] lptr commented on #113
Added some images for clarification.

[2017-05-12 09:53] pioterj commented on #113
Thanks for reporting, @lptr. @chaficnajjar Could you look into after the new guides page?

[2017-05-12 13:36] bmuschko opened #114 "Indicate author of guide in rendered page"
A guide should represent the primary author on the rendered page. This will be especially useful for inviting external contributions to guides. Street cred can be a good motivation to contribute a guide.

[2017-05-12 13:37] ysb33r commented on #10
Some notes from @bmuschko as per #85

* Real world example that is approachable to readers
* Organizing build logic
* Usage of configuration injection: allprojects, subprojects
* Building tasks from the root project
* Build tasks in a subproject by referring to the task path
* Important command line options e.g. --parallel and --configure-on-demand

[2017-05-12 13:38] ysb33r commented on #85
Duplicate of #10.

[2017-05-12 13:38] #85 closed

[2017-05-12 16:42] ysb33r commented on #10
@pioterj Just some notes on the above. This will lead to quite another of deletes. We'll have to tell the reader to delete `gradle/`, `gradlew*` and `settings.gradle` in every subproject that we apply init into.

We might just need to forego that, as simply to `gradle init` at the top-level to create the basic layout.

[2017-05-12 17:00] pioterj commented on #10
Good point, @ysb33r. I haven't thought about the need to delete stuff before.

[2017-05-15 04:27] kousen commented on #13
Initial draft created and ready for review, though I expect there will be iterations on this.

Specific issues:

* The version of Gradle used is dependent on the version of Android Studio, which will probably need to be updated. I used the latest beta, but changes are coming
* Likewise, the versions of the Android plugin and all dependent libraries are as current as I could make them, but will no

[2017-05-15 13:22] chaficnajjar commented on #82
Sounds good @aweida.

I've [previously](https://github.com/gradle/dotorg-site/pull/315) only implemented option 1, but it shouldn't be too hard to switch to option 3, which is the ability to effortlessly switch between option 1 and option 2. I'll do that if option 2 is ever needed.

@alkemist made some changes to https://gradle.com/enterprise/docs (e.g. decreased font size of list item titles, inc

[2017-05-15 13:33] ysb33r commented on #114
Some notes from meeting (@bmuschko, @kousen, @pioterj, @ysb33r)

- [ ] Have name of principal author
- [ ] Names for additional contributors
- [ ] Probably placed near top of document
- [ ] @ysb33r to investigate options for doing this

[2017-05-15 13:47] ysb33r commented on #6
@kousen, you might want to pick up on this.

[2017-05-16 05:28] aweida commented on #82
Go with the latest from enterprise/docs

[2017-05-16 17:17] chaficnajjar commented on #82
@aweida @kousen @pioterj @ysb33r Will the description of each guide be:

1. Written by hand? It can be added to `_data/guides.yml`.
2. Fetched from and created using the contents of the corresponding guide? This can be done at build time using Jekyll or Bash, or at runtime using JavaScript, by fetching the first 150 characters of the article for example.

Personally, I'd go with the first option s

[2017-05-16 17:18] ysb33r commented on #82
I vote for option 1.

[2017-05-16 17:39] chaficnajjar commented on #82
@aweida Are the icons ready? If so, could you please send me:

- The 'Getting Started' icon.
- The 'Topical' icon.
- The clock icon next to the time to complete.
- The magnifying glass icon used inside the search box.

Thanks in advance!

[2017-05-16 18:03] aweida commented on #82
Thanks @chaficnajjar
[guides-assets.zip](https://github.com/gradle/guides/files/1005378/guides-assets.zip)

[2017-05-16 18:15] kousen commented on #82
I agree that we should write the descriptions by hand. Anything
outward-facing like that probably shouldn't be auto-generated.

On Tue, May 16, 2017 at 2:03 PM, Charles Aweida <notifications@github.com>
wrote:

--
[image: Email-Signature@2x.png]

Ken Kousen

Gradle

W. www.gradle.com

[2017-05-18 12:04] chaficnajjar commented on #82
I'm done implementing a basic static page. @aweida, I used the list styles at https://gradle.com/enterprise/docs without really changing anything. I wasn't sure what should change and what should look the same as https://gradle.com/enterprise/docs so I didn't make any assumptions. I think you'll want to do minor changes (e.g. smaller font size for time to complete); if so, let me know.

@aweida Th

[2017-05-18 15:31] ysb33r commented on #82
I know we said we are going to hand-write the description in to `_data/guides.yml` which is fine.

Now that I look at the layout, the timings concern me.I I do not want to maintain that in to places. We either have to consider removing them from the guides themselves and only leave them here or remove them from here.

(As of the moment I have not idea how to make an easy integration between having

[2017-05-18 22:38] aweida commented on #82
Thanks @chaficnajjar! this looks great from a design perspective with the exception of one minor tweak. I think the time should be fixed to the bottom of the card so that what varies is the space between the description and the time.

@ysb33r can you elaborate about your concern with the times?

[2017-05-19 08:17] ysb33r commented on #82
@aweida All of the guides have a section like below in them

![image](https://cloud.githubusercontent.com/assets/907624/26238977/98d51bd0-3c7b-11e7-97c3-8954b98bd405.png)

That timing is in the document in the specific guide's repository. Now, the data that is on the Guides Index Page, is all read from the `_data/guides.yml` file in `dotorg-site` repository.

My concern here is pure maintenance. I

[2017-05-19 09:25] pioterj commented on #82
@ysb33r The expected time shouldn't change often after the guide is published, should it? I like the idea of displaying the time on the main page because it can be encouraging when the time required is short.

[2017-05-19 11:23] bmuschko opened #115 "Performance guide section on Android like GoogleIO talk"
The [performance topical guide](https://guides.gradle.org/performance/) has a [section on optimizing performance for Android builds](https://guides.gradle.org/performance/#suggestions_for_android_builds). It should embed or link the [talk from Google IO on performance](https://www.youtube.com/watch?v=7ll-rkLCtyk).

[2017-05-19 12:11] pioterj commented on #115
I think we should rather include the tips in the guide rather than embedding the video.

[2017-05-19 12:51] ysb33r commented on #82
@pioterj That thought has crossed my mind. I also like the idea of having the time displayed. Maybe I'm making a mountain out of a mole hill.

[2017-05-22 08:18] ysb33r commented on #13
@kousen, overall I think the departure away from the normal Getting Started style works for this guide. The way you have done the  *Build Scans* section, can become a template for other guides in the future.

A couple of things to fix:

- [ ] Turn the `gradle-wrapper.properties` listing into a `[listing]` block. Currently it is a Groovy source block which causes the `//` to be treated as a comment

[2017-05-22 08:20] ysb33r commented on #13
@kousen Review done.

[2017-05-22 12:03] pioterj commented on #13
@kousen The guide in the current state starts really well with step-by-step instructions on how to set up a new Android Studio project but it's losing focus towards the end.

The biggest problem I see is that despite being quite long for a getting started guide and containing many details when explaining the generated files it doesn't actually end with something working. As someone new to the topi

[2017-05-22 20:19] chaficnajjar opened #116 "Write a summary for each guide"
@kousen, @ysb33r As mentioned in comment https://github.com/gradle/guides/issues/82#issuecomment-301852248 as well as subsequent comments, we plan on writing a summary for each guide in the `_data/guides.yml` file of the "gradle/dotorg-site" repository. Please see the following commit for an example: https://github.com/gradle/dotorg-site/commit/4da77d4d164a2fd3bd04e15946db835d5a9aa439.

Thanks in

[2017-05-22 21:11] chaficnajjar commented on #82
@aweida Thanks for pointing this out. I agree with you, this is the best approach. I'll make the tweak shortly.

@ysb33r Correct me if I'm wrong, but did you assume that the "time to complete" of each guide is in `_data/guides.yml`? While the summary of each guide is in `_data/guides.yml`, the "time to complete" of each guide **is [calculated](https://github.com/gradle/dotorg-site/commit/849cd9e69

[2017-05-23 02:52] chaficnajjar commented on #82
Search functionality is done :tada:

<details>
<summary><b>Click this to see a screencast of the search functionality in action</b></summary>

![screencast](https://cloud.githubusercontent.com/assets/1498164/26336485/77f8ab90-3f7b-11e7-9991-72e340f19cfd.gif)
</details>

[2017-05-23 09:34] ysb33r commented on #82
@chaficnajjar Yes that is what I thought. Now it looks like you've addressed my worry.

BTW if it would make your life easier we could actually embed the time needed in to a meta header field in each guide. (Otherwise we can just stick to your JS scraping off the _About NN minutes_ text).

[2017-05-25 19:16] chaficnajjar commented on #82
@ysb33r I'm not sure what you mean by meta header field. Are you talking about `<meta>` tags in "docinfo.html"? But if I understood your intention correctly, you proposing having the "time to complete" somewhere in the HTML code and then using JS in /guides to fetch that value. That could work :+1:

That's also doable and is the approach that requires the least amount of effort to implement on my

[2017-05-25 20:20] ysb33r commented on #82
@chaficnajjar Just go with option 2 for now.

[2017-05-26 00:50] chaficnajjar commented on #82
Filtering functionality is done :tada:

<details>
<summary><b>Click this to see a screencast of the filtering functionality in action</b></summary>

![screencast](https://cloud.githubusercontent.com/assets/1498164/26476265/3ac4b79e-41c6-11e7-9c27-3a615a25c256.gif)
</details>

[2017-05-26 03:44] aweida commented on #82
Nice! Loving these screencasts @chaficnajjar

[2017-05-26 14:45] pioterj opened #117 "Not all headings are displayed in the table of contents"
It looks like H4 headings are not displayed in the table of contents. For example https://guides.gradle.org/performance/#parallel_test_execution.

Is this intentional?

[2017-05-29 10:27] ysb33r commented on #117
Yes. Generally the rule is to diplay only up to level 2 in Getting Started and level 3 in Topical. This can be changed on a per-guide basis by setting `toclevel` attribute in the build.

[2017-05-30 16:33] kousen commented on #116
Branch from dotorg-site/gh-pages created for this called guides-descriptions

[2017-05-30 16:37] chaficnajjar commented on #116
@kousen Great, make sure to type `gradle/guide#116` in your commit messages so that the commits show up here. See the commit message of gradle/dotorg-site@f0f79b95cc73052316af988d47066916bc106863 for an example.

[2017-05-30 16:40] kousen commented on #116
I saw your sample, but I don't see that commit in gh-pages. Why not?

[2017-05-30 16:41] chaficnajjar commented on #116
@kousen This commit is on the the [`implement-gradle-guides-page`](https://github.com/gradle/dotorg-site/compare/implement-gradle-guides-page) branch.

[2017-05-30 16:58] chaficnajjar commented on #82
Done, the "time to complete" of a guide and its corresponding list item in /guide are the same. For example, here's how *Creating New Gradle Builds* looks like:

<img src="https://cloud.githubusercontent.com/assets/1498164/26593602/6ce9b18e-456d-11e7-8125-c487adb98110.png" width="49%"><img src="https://cloud.githubusercontent.com/assets/1498164/26593974/993c5524-456e-11e7-8d5f-7d179a3bcad4.png" wi

[2017-05-30 17:03] chaficnajjar commented on #82
@aweida @kousen @pioterj @ysb33r the /guides page is complete and all that's left to do is write some text copy.

[2017-05-30 17:15] chaficnajjar opened #118 "Add appropriate labels for each guide"
@kousen @ysb33r Please add the appropriate labels for each guide in `_data/guides.yml`. This is needed for the [filtering functionality](https://github.com/gradle/guides/issues/82#issuecomment-304162100) of the new /guides page to be usable.

See [the placeholder text I added](https://github.com/gradle/dotorg-site/commit/f0f79b95cc73052316af988d47066916bc106863#diff-d46712cb2c91c33e3dcfa82aaf88e84

[2017-05-30 17:19] ysb33r commented on #10
@pioterj @kousen The guide is at https://guides.gradle.org//creating-multi-project-builds/ for review as a FIRST DRAFT.

I'll still be making some updates as I'll be reviewing it myself again, but this is a good place to get feedback on the approach etc.

[2017-05-30 19:53] eriwen opened #119 "Building web applications with Gradle"

[2017-05-30 19:53] eriwen opened #120 "Building TypeScript libraries with Gradle"
**Format**: Getting Started Guide

### Outline
* Probably crazy or impossible and secret things go here

[2017-05-30 19:54] bmuschko commented on #119
You might want to have a look at this as well to avoid duplication: https://github.com/gradle/guides/issues/75

[2017-05-30 19:54] eriwen opened #121 "Getting Started using Webpack with Gradle"
**Format**: Getting Started Guide

Repo: https://github.com/gradle-guides/using-node-js-libraries
Guide: https://guides.gradle.com/using-node-js-libraries

### Outline
* Properly delegating a Gradle task to gulp or webpack
* Declare task inputs and outputs
* Achieving cacheability
* Achieving Incrementality
* Workflow and considerations using the gradle-node-plugin

[2017-05-30 20:03] eriwen commented on #119
Thanks for the pointer.

On Tue, May 30, 2017 at 12:54 PM Benjamin Muschko <notifications@github.com>
wrote:

--

[image: Email-Signature@2x.png]

Eric Wendelin

Principal Engineer

Gradle

W. gradle.com <https://www.gradle.com>

Gradle Summit is now open
Click HERE to register <https://summit.gradle.com/>

[2017-05-31 07:47] kousen commented on #116
I added summaries and labels for the getting-started guides, but not yet the others. I'm really not sure about the labels, but the summaries should be okay. Please let me know, especially about length.

[2017-05-31 10:38] ysb33r commented on #121
All yours @eriwen. Let me know if you find any issues. You are the first person (other than me) to use the new plugin underneath the guide.

[2017-05-31 14:52] eriwen commented on #121
@ysb33r Thanks for hooking me up. I'll provide feedback.

[2017-05-31 16:21] pioterj commented on #10
@ysb33r Overall it looks good.

It became JVM specific but that was what we agreed on at the beginning. We should consider writing similar guides for native and Android later, perhaps covering more domain specific problems.

I think this guide is also a good opportunity to highlight incremental builds. I expect a lot of people reading it will come from Maven. Maybe add a mention somewhere that the

[2017-05-31 17:34] kousen commented on #10
I'll get to this after my class today. Let me say that since all Android projects are designed to be multi-project builds, I can add one of those later

[2017-06-02 17:53] chaficnajjar commented on #82
@kousen is doing great work writing the summaries and labels each guide (#116). Naturally, the summaries vary in length and there is more than one "shape" the list items can take. I'm not sure if the approach we've adopted elsewhere (see option 1 below) is the right approach for the /guides page.

@aweida @kousen @pioterj @ysb33r please choose which of the 3 CSS-only options below you'd prefer to

[2017-06-02 18:02] chaficnajjar commented on #116
@kousen Thanks! Concerning labels, I think they look fine but you should ask someone who's more familiar with Gradle than me.

I just addressed this issue at https://github.com/gradle/guides/issues/82#issuecomment-305865099. If we end up going with option 2 (either partially or fully) we might need to adjust the length of some summaries, otherwise we keep the summaries as they are.

[2017-06-02 19:53] kousen commented on #82
Let's talk about this at our meeting on Tuesday. I'm honestly okay with whatever everyone thinks looks good.

[2017-06-03 19:45] eriwen opened #123 "Add structured data to guides"
Include structured data elements to make content more discoverable for search engines.

Useful resources:
https://developers.google.com/search/docs/guides/intro-structured-data
https://search.google.com/structured-data/testing-tool/

Consider structured data from blog posts for inspiration:
https://blog.gradle.org/blazing-fast-android-builds

[2017-06-03 19:46] eriwen opened #124 "HTTPS not fully secured"
Chrome tells us that some resources are insecure on guides.

![screen shot 2017-06-03 at 12 37 17 pm](https://cloud.githubusercontent.com/assets/51534/26756575/9b4d0b3a-485a-11e7-8c73-e2ffaef7153a.png)

Recommend we fix this.

[2017-06-03 20:00] ysb33r commented on #123
If I know what you want, I can look at how the asciidoctor build can add it to the generated HTML.

[2017-06-05 07:51] pioterj commented on #124
I agree. Thanks for reporting, @eriwen. @chaficnajjar Could you look into this?

[2017-06-05 08:49] ysb33r commented on #10
@pioterj Can you explain what you mean by this?

[2017-06-05 08:50] ysb33r commented on #10
The phrase "from the top" is used several times and it reads a bit weird to me. I'd consider replacing them with something like "top-level project / directory" or "root project" rather than simply "top".

@kousen, Do you have any comments on this?

[2017-06-05 08:53] ysb33r commented on #10
Additional things to take care of from @pioterj's review:

- [ ] Typos: "When tasks i subprojects", "common scriot code"
- [ ] `mkdir greeter/src/main/java/greeter` command doesn't work without -p switch.
- [ ] Just define `mainClassName` and remove the error section.

[2017-06-05 08:56] pioterj commented on #10
I mean using `apply plugin: '[plugin-id]'` vs `plugins { id: '[plugin-id]' }` syntax.

[2017-06-05 08:59] ysb33r commented on #10
The standard should be for the latter, but for the plugins that are only applied in specific subprojects we have to use the former.

Also the Build Init plugin still uses `apply plugin : 'x'`.

[2017-06-05 09:12] pioterj opened #125 "Organizing Build Logic"
https://docs.gradle.org/current/userguide/organizing_build_logic.html looks like a good candidate to migrate to a topical guide format.

[2017-06-05 09:19] pioterj commented on #31
How about we close this story and add separate one for mapping plugins or for other changes in https://github.com/gradle-guides/migrating-from-maven? The original description was regarding migration of the guide from Wordpress which is already done.

[2017-06-05 09:28] pioterj commented on #10
The issue is that the new plugin syntax still has some limitations that prevent us from deprecating the current system. The most serious ones should be dealt with in upcoming months.

[2017-06-05 11:17] pioterj commented on #82
Thanks for detailed explanation of the options, @chaficnajjar! I like option 3. It would still work correctly when you search for or filter the guides, correct?

In general I think we should keep the descriptions short and of similar size so it shouldn't be a big issue if we went with option 1.

[2017-06-05 11:56] chaficnajjar commented on #82
You're welcome and thanks for your input, @pioterj! I think the time spent writing this detailed explanation is justifiable because not only does it help us make a decision now, but we can reference this post once this issue (inevitably) comes up again.

Yes. In fact, all options do not affect the searching and filtering functionality in any way.

I think what you're describing is option 2 (option

[2017-06-06 01:59] aweida commented on #82
Thanks, @chaficnajjar I'm the biggest fan of number 2 then 3(if we keep the descriptions short). To add to your pros list — a short succinct description allows for more cards in a single view and an easier scanning experience. It also looks better.

I don't believe we will compromise the experience with laconic descriptions. They should give the key points and thats it — just enough to give a gene

[2017-06-06 09:26] eljobe opened #126 "Building Java 9 Modules"
I'm writing a guide to building Java 9 Modules using Gradle >= version 4.1 and the most recent release of JDK 9.

I've already set up some example code in http://github.com/gradle-guides/building-java-9-modules

I think the basic outline of this "Getting Started Guide" will be:

- Introduction
  - *What are we actually trying to accomplish and why?*
- Adding a `module-info.java` file
  - *Just a l

[2017-06-06 11:06] etiennestuder opened #127 "Improve structure of guides overview page"
I find the structure/grouping of the Guides section somewhat artificial and not very user-friendly:
https://gradle.org/docs#guides

Details:
- The difference between 'getting started' and 'topical' seems odd to me, in that it does not help me as a user where I should go look if I want to do X. Also, the 'getting started' guides also cover a certain _topic_.
- Having a guide 'Writing a Getting Star

[2017-06-06 11:08] etiennestuder commented on #127
@pioterj @ysb33r Here's my feedback, as you had requested.

[2017-06-06 11:09] etiennestuder opened #128 "Add enabling of build scans to all guides"
Basically, every guide should have very early on a paragraph on enabling build scans for the sample project (even if some of the the details are referred to via link to the 'build scans' user guide).

[2017-06-06 11:09] etiennestuder commented on #128
@pioterj @ysb33r Here's my feedback, as you had requested.

[2017-06-06 11:49] lptr opened #129 "Quotes should be left-aligned"
They are now rendered with `text-align: justify`, whereas everything else is left-aligned.

![image](https://cloud.githubusercontent.com/assets/495366/26827744/e12a3ca2-4abe-11e7-99b4-c4b1d4ad670d.png)

[2017-06-06 15:36] #128 closed

[2017-06-06 15:36] ysb33r commented on #128
Issue moved to [gradle/guides-private #21](https://github.com/gradle/guides-private/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-06 21:11] ysb33r commented on #114
![image](https://user-images.githubusercontent.com/907624/26852094-616f9d6e-4b0d-11e7-9e56-8a6cf0849f8a.png)

@bmuschko, @kousen, @pioterj How does this look for adding authors>

[2017-06-06 21:13] kousen commented on #114
I agree with @bmuschko. It looks good, but might be better if it started with the word "by".

[2017-06-06 21:15] ysb33r commented on #114
I'll need to find out how to hook into the Asciidocotr generation of the authors line to achieve that.

[2017-06-06 21:16] kousen commented on #114
Probably not worth it for the launch. Can always dig into that later. It's not as if readers won't know what it means.

[2017-06-07 07:45] eljobe commented on #126
In case it isn't obvious from the commit associated with this issue. The guide is being developed over in https://github.com/gradle-guides/building-java-9-modules

[2017-06-07 12:30] pioterj commented on #127
Thank you for the feedback, @etiennestuder. We are currently redesigning the guides page in https://github.com/gradle/guides/issues/82. The plan was to keep the structure the same. This is a structure inspired by https://spring.io/guides. The difference between different types of guides is explained in https://github.com/gradle-guides/style-guide/.

You bring a very valid point though and if the d

[2017-06-07 13:02] etiennestuder commented on #127
Honestly, that spring.io page is not very impressive in terms of structuring and I'm doubtful that we should use is as the role model. How quickly can you find all guides related to Spring Boot?

I'd ask myself the question whether people coming here are primarily interested in getting started on something, or if they are primarily interested in learning more about a certain topic. I'd say the lat

[2017-06-07 14:08] ysb33r commented on #114
Guides that will need updating:

- [ ] performance
- [ ] implementing-gradle-plugins
- [ ] designing-gradle-plugins
- [ ] writing-gradle-tasks
- [ ] publishing-plugins-to-gradle-plugin-portal
- [ ] migrating-from-maven
- [ ] creating-new-gradle-builds
- [ ] building-scala-libraries
- [ ] creating-build-scans
- [ ] building-groovy-libraries
- [ ] building-java-web-applications
- [ ] building-java-l

[2017-06-07 15:03] pioterj commented on #37
How about "Understanding Gradle concepts" instead of "Gradle overview guide"?

[2017-06-07 15:05] pioterj opened #130 "Understanding Gradle Build Lifecycle"
Topical guide covering https://docs.gradle.org/current/userguide/build_lifecycle.html.

Could move later moved as a chapter of https://github.com/gradle/guides/issues/37.

[2017-06-07 15:41] oehme commented on #37
Yep I like that. I think this is the biggest missing piece from our docs at the moment.

[2017-06-07 22:21] kousen commented on #10
I made some pretty extensive edits to the instructions in a branch called `ken-edits`. Feel free to merge as much of that as you wish.

In addition to the edits, I added a few comments inside the `contents/index.adoc` file.

[2017-06-07 22:28] kousen commented on #37
Much better name. 👍

[2017-06-08 11:41] chaficnajjar commented on #82
Thanks for you input @aweida and @pioterj. You both proposed shortening summaries, so let's do that.

I'll go with option 2 (i.e. option 1 + shortened summaries) instead of option 3 + shortened summaries because I know from previously implemented pages that @aweida prefers all list items have the same height.

@kousen and others, I'm aware that there was a meeting for the guides yesterday and unfo

[2017-06-08 12:07] chaficnajjar commented on #82
Here are screenshots of how /guides looks like with option 2 and using the guide summaries committed to the `guide-descriptions` branch. Once we shorten the guide summaries, there will be less whitespace in the list items.

<details>
<summary><b>Click to see a screenshot on a desktop-sized screen</b></summary>

![screenshot](https://user-images.githubusercontent.com/1498164/26927544-fef41ab2-4c5a-

[2017-06-08 12:23] chaficnajjar commented on #116
@kousen In https://github.com/gradle/guides/issues/82#issuecomment-307078802, it was decided that we should go with option 2 so we'll need to shorten some guide summaries.

I'll push a commit to this branch where I'll remove the sentence "Includes examples and how they appear online" from the summary of the guide "Publishing Plugins to Gradle Plugin Portal". This small change will allow us to decr

[2017-06-08 12:46] chaficnajjar commented on #82
@aweida @kousen @pioterj I've shortened the longest guide summary, which removed about 45px of whitespace in almost all list items. I think the remaining whitespace is not excessive. Below is a screenshot of the result (note that the topical guide summaries are still placeholder text).

<details>
<summary><b>Click to see a screenshot on a desktop-sized screen</b></summary>

![screenshot](https://u

[2017-06-08 12:56] chaficnajjar commented on #116
- [ ] @kousen to write a summary for each topical guide. Try to have the content (title + summary) of each new list items be smaller or equal in length to the contents of the current largest list item (i.e. "Building Java Web Applications").

- [ ] @kousen to replace placeholder labels with real labels for each topical guide.

[2017-06-08 13:09] chaficnajjar commented on #82
- [ ] Replace the placeholder introductory text copy with the final text copy.

@kousen would you like to do this? If so, I recommend you commit these changes to the branch I've been working on (i.e. `implement-gradle-guides-page`) instead of creating a new branch or committing to the `guide-descriptions` branch, which we've dedicated solely to summaries and labels. And make sure to add `gradle/gu

[2017-06-08 13:13] chaficnajjar commented on #118
- [ ] @kousen to replace placeholder labels with real labels for each topical guide.

[2017-06-08 15:35] kousen commented on #82
I'll make the updates on the `implement-gradle-guides-page` branch. We discussed some alternative labels, so I'll try to update them all.

[2017-06-08 19:25] aweida commented on #82
@chaficnajjar see the attachment with icons. I made tweaks to a few other icons as well (located in the zip)
[Guides-Icons.zip](https://github.com/gradle/guides/files/1062154/Guides-Icons.zip)

[2017-06-08 19:41] chaficnajjar commented on #82
@aweida Thanks!

[2017-06-08 22:38] bmuschko commented on #111
@ysb33r I recently wrote this for the purpose of verifying my own blog posts written in AsciiDoc: https://github.com/bmuschko/asciidoc-link-verifier. I am sure you can use it as is. Feedback appreciated!

[2017-06-09 07:33] ysb33r commented on #111
@bmuschko There is now a `checkLinks` task in the Gradle Guides plugin, but I'll compare what you've done to the implementation that I've added. There can always be something to learn or improve.

[2017-06-09 10:00] lptr opened #131 "Give end of guides room to breathe"
Currently reading to the end of a guide gives me a claustrophobic feel. Not being able to scroll the last lines of the main body of text to higher than the bottom of the window is the main factor. The thick black displaying only a date (in a rather ugly format) only adds to that. When trying to scroll further down, the black line keeps detaching itself from the window border to reveal more white b

[2017-06-09 10:05] lptr opened #132 "Don't display UTC time at the bottom of guides"
Currently we show the last modified date in a weird way in UTC:

![image](https://user-images.githubusercontent.com/495366/26970927-69b7c118-4d0b-11e7-9d8b-fc775cbb9107.png)

There are several ways we can do this better:

* display the time elapsed since the page was modified, like `Updated 17 days ago`; the exact date and time are not that important: all users want to know is if the guide was upd

[2017-06-09 12:41] bmuschko commented on #111
@ysb33r Can you point me to the `checkLinks` task? Searched for it but couldn't find it.

I guess we can close this issue?

[2017-06-09 13:05] ysb33r commented on #111
No, it currently only operates on absolute http(s) URLs in the generated HTML. At some stage it should be updated to also handle relative links.

[2017-06-09 13:06] #111 closed

[2017-06-09 13:11] bmuschko commented on #111
Oh, I see. The source is the already generated output of AsciiDoc. That's another way of doing it though it would also miss URLs in code and plain text.

[2017-06-09 13:12] ysb33r commented on #111
True, but I aimed at ensuring there were no 404s.

[2017-06-09 13:50] ysb33r commented on #13
Is this oging to remain a Getting Started guide or is it now morping into a Tutorial?

[2017-06-09 13:58] kousen commented on #13
I was planning to make it a tutorial, partly based on length. For similar reasons, what do you think about making your multi-project build guide a tutorial too?

[2017-06-09 14:02] ysb33r commented on #13
`creating-multi-project-builds` remains a Getting Started guide.

I'm preparing a PR for the Android guide to add the author support, so I'm going to apply the tutorial plugin.

[2017-06-09 14:04] kousen commented on #13
If I understand you, you prefer `creating-multi-project-builds` stay a Getting Started guide. I didn't know there was a different plugin for tutorials

[2017-06-12 11:57] lptr opened #133 "Center align image captions"
Images frequently have whitespace around them, which makes the left-aligned captions look like they don't belong to the image itself:

![image](https://user-images.githubusercontent.com/495366/27032808-f2b567d2-4f76-11e7-97c7-156b895c8276.png)

[2017-06-12 12:01] lptr opened #134 "Highlight in-guide references better"
When referencing `<<foo_bar>>` via `see <<foo_bar>> for more info on this` we now get this:

And we would like to get this:

…or maybe like we have in the user guide, this:

We should revert this once this issue is resolved:
https://github.com/gradle-guides/using-build-cache/pull/8

[2017-06-12 15:55] chaficnajjar opened #135 "Split 'asciidoctor.css' into two style sheets"
Currently, all the CSS styles of a guide are in the "asciidoctor.css" file. It's difficult to distinguish between Asciidoctor's generated CSS code and the changes to the CSS code made by us.

For easier maintenance, split the guides' current style sheet into two style sheets: Asciidoctor's generated style sheet (css/asciidoctor.css) and a custom style sheet (css/styles.css).

This is important bec

[2017-06-12 16:03] chaficnajjar commented on #113
Thanks @lptr. You're right, there's some the padding on the left is larger than that on the right:

![screenshot](https://user-images.githubusercontent.com/1498164/27042988-5427d516-4fa1-11e7-9934-6774cb102890.png)

Someone added extra padding on the left which I believe was meant only for viewports with a width of at least 768px (i.e. tablets and desktop, not mobile).

I'll fix that now.

[2017-06-12 19:40] ysb33r commented on #135
You will need to use docinfo to add the extra stylesheet to Asciidoctor.

[2017-06-12 20:38] chaficnajjar commented on #116
Closing as delivered, thanks @kousen.

[2017-06-12 20:38] #116 closed

[2017-06-12 20:39] chaficnajjar commented on #118
Closing as complete, thanks @kousen.

[2017-06-12 20:39] #118 closed

[2017-06-12 21:22] chaficnajjar commented on #82
@aweida @kousen @pioterj @ysb33r Everything we've discussed has been implemented. Please see the screenshots below to see the final result.

<details>
<summary><b>Click to see a screenshot on a desktop-sized screen</b></summary>

![screenshot](https://user-images.githubusercontent.com/1498164/27055516-5f72dbe2-4fcd-11e7-9673-00a02da316d3.png)
</details>
<details>
<summary><b>Click to see a screens

[2017-06-13 09:14] ysb33r commented on #114
All repositories listed in https://github.com/gradle/guides/issues/114#issuecomment-306806125 have been migrated.

[2017-06-13 09:27] #114 closed

[2017-06-13 13:42] ysb33r commented on #65
Comments from Slack by @lptr

![image](https://user-images.githubusercontent.com/907624/27085213-f4dbbdb2-504e-11e7-8bc4-22c4e5c158a9.png)

[2017-06-13 17:50] benignbala opened #136 "An Introduction to Building and Testing c++ projects"
Repo: https://github.com/gradle-guides/building-cpp-libraries
Website: https://guides.gradle.com/building-cpp-libraries

I would like to create a guide for building C++ projects that does a step-by-step demonstrate of building C++ binaries and libraries.

- Building a simple executable
- Building a library and an executable that uses it
- Testing native libraries as part of the build
- Building a

[2017-06-13 18:58] ysb33r commented on #136
Thank you for your willingness to contribute!

Have you looked at the [Building C++ Executables](https://guides.gradle.org/building-cpp-executables) Getting Started guide. A next guide (or guides) will build upon that.

Currently we are lacking C++ guides on:
- Getting started building C++ libraries (static & dynamic).
- Consuming native third-party libraries
- Consuming native libraries in a mult

[2017-06-13 19:01] benignbala commented on #136
@ysb33r Thanks a lot for your inputs. I would like to create a simple, short guide for "Getting started with building C++ libraries" on the lines on "Building C++ Executables". Please let me know your thoughts. Thanks

[2017-06-13 19:11] ysb33r commented on #136
That would be a good start. Have you completed the [CLA](https://gradle.org/cla) ?

[2017-06-13 19:18] benignbala commented on #136
@ysb33r No, Thanks for letting me know. I'm just getting it completed. I'll notify you once I complete the process. Thanks

[2017-06-13 19:23] benignbala commented on #136
I just verified the signature as well. Sorry if I sound dumb, but should I produce a receipt/proof of some sort that shows I have completed the CLA ? Thanks

[2017-06-13 19:24] ysb33r commented on #136
@ysb33r Somebody at Gradle will check that.

[2017-06-13 19:28] benignbala commented on #136
Ok, Thanks.

[2017-06-14 09:51] ysb33r commented on #136
I think that the guide should be named: **Building C++ libraries**.

- Use the Greeter-theme that exists in a couple of Getting Started guides. You can effectively adapt the code in [Building C++Executables](https://guides.gradle.org/building-cpp-executables) into a library.
- Focus on the steps of creating a static and a dynamic library
- To simplify this guide, avoid including external libraries

[2017-06-14 10:03] benignbala commented on #136
@ysb33r Should I "edit" the title of this issue and set it to "Building C++ libraries" ? Thanks

[2017-06-14 11:37] ysb33r commented on #136
Your guide has been created at https://github.com/gradle-guides/building-cpp-libraries. Please fork to your own Github repo and do work on it. Create the PR to merge back to the main repo when you are ready. Don't worry about creating the PR before your guide is not completed. Doing this earlier in the process will help you to get feedback earlier.

[2017-06-14 13:00] ysb33r opened #137 "Convert Style guide to a full-blown Topical guide"
Currently it is just a README on a repo and this causes it to be
* Less discoverable
* Harder to read
* Harder to navigate

The conversion will help to place it up on the Guides site, and more people will get an understanding of what is expected in the writing of a guide. It will even help current authors. It is also a good chance to review the style guide.

*TODOs*:
- [x] Convert to Topical guide

[2017-06-14 13:53] benignbala commented on #136
Thanks a lot @ysb33r .

[2017-06-15 00:13] chaficnajjar commented on #82
Screenshots of /guides after last two commits:

<details>
<summary><b>Click to see a screenshot on a desktop-sized screen</b></summary>

![screenshot](https://user-images.githubusercontent.com/1498164/27159755-35b7c4be-5178-11e7-8f9f-37d94c3c8295.png)
</details>
<details>
<summary><b>Click to see a screenshot on a mobile-sized screen</b></summary>

![screenshot](https://user-images.githubuserconte

[2017-06-15 01:08] chaficnajjar commented on #113
**From @lptr's screenshot**

![screenshot](https://user-images.githubusercontent.com/1498164/27160189-017656e0-517b-11e7-82b9-d56cbefbd2c0.png)

**From /creating-multi-project-builds, viewed on an iPhone 5**

![screenshot](https://user-images.githubusercontent.com/1498164/27160379-72b5ca24-517c-11e7-8281-1a3f5b08d2f6.png)

@kousen @ysb33r [listing blocks](http://asciidoctor.org/docs/user-manual/#l

[2017-06-15 02:27] bmuschko commented on #1
I don't think the documentation for Buildship fits the mold of a getting started guide, topical guide or tutorial. IMHO Buildship should provide proper documentation along the lines of the Gradle core user guide. Guides for Buildship would be useful to explain certain scenarios e.g. web application development with Buildship or RCP coding with Buildship.

[2017-06-15 07:57] ysb33r commented on #1
You can take the approach that @kousen is doing with the Android guide.

[2017-06-15 11:46] ysb33r commented on #113
@chaficnajjar There are a couple of solutions:

- Change the CSS for the block
- Use `:prewrap!:` as you mentioned by applying it via the Gradle Guides plugin.
- `[listing%nowrap]` - this means that we have to remember to that,
- Use `[source,bash]` instead of `[listing]`.

If we can fix the CSS that would be my preference.

[2017-06-15 15:11] eriwen opened #138 "Twitter card for guides"
Tweets like this would be prettier if we could include a twitter card

![screen shot 2017-06-15 at 8 08 51 am](https://user-images.githubusercontent.com/51534/27188173-379e8b26-51a2-11e7-98fd-f9b293021e09.png)

See how we implement them for blog for inspiration.

[2017-06-15 18:19] ysb33r opened #139 "A list of little non-content things to do for guides"
There have been a number of things that have popped up over the last couple months that we have uncovered that we need to improve overall experience for people reading the guides. They all tend to be little things that just need to be done at some time.

This epic is about completing all of them

[2017-06-16 13:46] chaficnajjar commented on #82
@aweida @bmuschko @kousen @pioterj @ysb33r To my knowledge, I don't think we agreed on what to do with the "Guides" section in /docs  (https://gradle.org/docs#guides) now that /guides is live. Should we keep it? Remove it?

**The "Guides" section I'm referring to**

![screenshot](https://user-images.githubusercontent.com/1498164/27229186-3aa010bc-52b3-11e7-814e-25064df866df.png)

[2017-06-19 12:21] pioterj commented on #82
@chaficnajjar I'd replace it with a link to the new guides page.

[2017-06-19 12:25] pioterj opened #140 "Hide sections without guides when filtering on the guides page"
@chaficnajjar Can we hide sections that don't have any guides when using the filter? It currently looks a bit weird. This is how filtering by Android guides looks like now for example:

<img width="1181" alt="screen shot 2017-06-19 at 14 22 46" src="https://user-images.githubusercontent.com/1292566/27284919-fbafae40-54fa-11e7-9bed-983e6e309e53.png">

I think it would be better just to show "tutori

[2017-06-19 12:29] pioterj opened #141 "Filtering by fundamentals on the guides page shows technology specific guides"
Currently filtering by "fundamentals" on the new guides page shows guides about Java, Scala and Groovy libraries as well as the Android tutorial. I don't think that's intentional given our previous discussions. Right @ysb33r and @kousen?